[2021-01-07 15:48] evgeni commented on #1125
Can you provide the full output? Feel free to mail evgeni at redhat if you don't want to post it publicly.

[2021-01-07 16:01] evgeni commented on #1118
Hey @willtome!

Thanks for raising this. I must admit I never liked how Ansible does (not) allow easy namespacing of variables by default. But oh well, here we are.

May I ask for a bit more background of your environment? Do you have one single `vars.yml` that is loaded by all playbooks? Or does Tower inject them somehow "too globaly"?

The reason I am asking is: when we initially designed this,

[2021-01-07 22:15] mpl241 commented on #1099
I started working on the Ansible Playbook/Role for managing Satellite content because of some errors thrown by `cvmanager`.  After a few quick searches, I assumed (incorrectly) there was an API incompatibility between Satellite and `cvmanager` after I upgraded to Satellite 6.8.  I checked `cvmanager` again for errors, and it appears to be working properly now.  I did fix a Satellite bug related to

[2021-01-08 08:45] evgeni commented on #1125
Thanks for providing the details! I looked at them and I think the role does exactly what it should, just not what you expect ;-)

Let me explain on the (anonymized) data:

You run the role with the following params:
[code]

That means, it's supposed to keep 2 unused versions of any content view that has `some_content_view` in its name.

[code]

Cool, it searched and found *one* CV matching your c

[2021-01-08 08:48] evgeni commented on #1125
So TL;DR: the role does remove all unused CVs that it was told to, we just need to make it clearer to the user in the docs what "unused" is :)

[2021-01-08 15:52] gearboxscott commented on #1125
Hi Evgeni,

Thank you for the triage.

I fixed the content views and composite views, it works without a search in
the vars.  When I add a search like 'name ~ katello-8-tools-server-rpms' it
doesn't cleanup that content view or the composite view that it's attached
to.

attached the job output with a search included.

---
# cv_cleanup.yml for satellite

- name: Clean Up Satellite Content Views
  h

[2021-01-08 16:06] evgeni commented on #1125
Your search limits the analyzed views, but the composite doesn't match the search, so it's never cleaned up.

[2021-01-08 16:07] gearboxscott commented on #1125
so I need to put the composite view in the search not the content view
basically?

On Fri, Jan 8, 2021 at 9:06 AM Evgeni Golov <notifications@github.com>
wrote:

[2021-01-08 16:09] gearboxscott commented on #1125
ran it with the composite view and it worked.

On Fri, Jan 8, 2021 at 9:07 AM Scott Parker <gearboxscott@gmail.com> wrote:

[2021-01-08 16:10] evgeni commented on #1125
Then it will only clean the composite. Your search need to match everything you want to clean.

So something like `name ~ katello OR name ~ RHEL` (don't remember if that's the right syntax)

[2021-01-08 16:11] evgeni commented on #1125
https://github.com/wvanbergen/scoped_search#label-Query+language says that's correct syntax

[2021-01-11 14:58] willtome commented on #646
This may be a helpful document to pull from https://github.com/oasis-roles/meta_standards/blob/master/README.md

[2021-01-11 16:08] willtome commented on #1118
@evgeni many of the use cases I currently have are for provisioning. This leads to single or multiple variable files that define all of the configurations for a deployment and seek to reduce the number of bespoke playbooks required by using these and other roles. It is hard to guarantee that a set of variables will only exist in a play being run against a foreman. For example, the same variables u

[2021-01-12 10:33] gundalow commented on #1118
The lack of namespace is a feature (or bug) depending on your view of the world.

We generally suggest
Proper variable naming can make plays more readable and avoid variable name conflicts
* Use descriptive, unique human-meaningful variable names
* Prefix role variables with it’s "owner" such as a role name or package

Source: http://ansible.github.io/community/decks/ansible-best-practices.html#/1

[2021-01-14 19:20] willdarton commented on #1121
As a customer and end-user, after struggling with resource_info now for a few hours to figure out the nomenclature, I can say I'd really appreciate this feature.

[2021-01-18 13:09] evgeni commented on #1125
@gearboxscott I've opened a PR to clear up the docs a bit: https://github.com/theforeman/foreman-ansible-modules/pull/1129 -- can we consider the issue itself closed?

[2021-01-18 13:27] evgeni opened #1130 "document environment fallback in common role variables"
Do you want to add a little bit of text about this environment injection in the "common role variables" section of the readme?

_Originally posted by @mdellweg in https://github.com/theforeman/foreman-ansible-modules/issues/1120#issuecomment-750016796_

[2021-01-18 13:28] #1117 closed, assigned to nobody

[2021-01-18 14:41] #1110 closed, assigned to nobody

[2021-01-19 16:04] evgeni commented on #1118
Thanks!
@ehelms will explore the branding side and then we'll most probably add a `foreman_` prefix across the board.

[2021-01-19 20:27] ehelms commented on #1118
The Satellite team desires to brand the variable names when they package it up if we go with the `foreman_` namespacing route. While I think the consensus of the developer base is to avoid `foreman_` everywhere, the Ansible ecosystem and users are convincing enough to make that change. So we will make that switch across the board to prefix variables with `foreman_` and the likelihood is any downst

[2021-01-20 10:28] mdellweg commented on #1118
Well maybe you can add `<branding>_username: "{{ foreman_username }}"` (or the other way around) somewhere in groupvars to reuse portable playbooks.

[2021-01-20 13:08] gearboxscott commented on #1125
Evgeni,

Yes and thank you!!

Scott

[2021-01-20 13:08] #1125 closed, assigned to nobody

[2021-01-20 13:11] evgeni commented on #1090
ping @bertelsp, were you able to find out *why* the synced content wasn't selected in your case?

[2021-01-20 15:00] bertelsp commented on #1090
Hi,

via RedHat support it was confirmed to be a bug, they were able to
reproduce the issue.
"During the test, it has been noticed that if we set the option
'kickstart_repository' on the playbook, it will overwrite the
kickstart_repository_id from the hostgroup to the kickstart that matches
with this name, which by default is the repository available on the
'Default Organization View' and Library

[2021-01-22 16:00] evgeni commented on #1090
Ah, wonderful, there is a reproducer setup in the BZ, I'll follow up with the data I can obtain there.

Thanks!

[2021-01-25 13:16] SimonLorentz commented on #974
Hi you can assign templates to a OS already with: https://theforeman.github.io/foreman-ansible-modules/v1.5.1/plugins/os_default_template_module.html#ansible-collections-theforeman-foreman-os-default-template-module

I hope this is what you want

[2021-01-26 09:10] cmeissner commented on #974
To assign templates to an OS is sometimes not enough and we need to define associations inside the template UI based on hostgroups and/or environments. And this issue points exactly to that small piece of configuration ability.

[2021-01-28 16:12] #1090 closed, assigned to evgeni

[2021-02-02 15:56] evgeni commented on #1103
We think that running the modules against 1.12 is out of scope and will close this bug as invalid.

I'm sorry.

[2021-02-02 15:56] #1103 closed, assigned to nobody

[2021-02-12 17:36] sspreitzer opened #1139 "theforeman.foreman.host nested hostgroup not returned, but works in curl"
##### SUMMARY
Creating a host with `theforeman.foreman.host` and a nested hostgroup setting of 3 levels fails.

What works:
[code]

What does not work:
[code]

The webserver logs indicate, that on the apypie request it returns 150 bytes and on the curl request it returns 1575 bytes.
The curl reply contains the appropiate result. The apypie call contains no result.
[code]

[code]

PS.: I have obfus

[2021-02-12 17:37] sspreitzer commented on #1139
Same result with theforeman.foreman version 1.5.1

[2021-02-12 17:49] evgeni commented on #1139
Is curl and Ansible using the same user to query the API?

[2021-02-12 17:53] sspreitzer commented on #1139
@evgeni Kudos, in fact not, changing the user resolved the problem, thank you for the headsup!

[2021-02-12 17:53] #1139 closed, assigned to nobody

[2021-02-12 17:57] evgeni commented on #1139
It's funny how much you can guess from that few data ;)

[2021-02-12 19:01] sspreitzer commented on #1139
I had this feeling, that you would point me to the solution in a matter of seconds ;-) Had to fix some RBAC roles and now its all working fine. Apart from AWX, but that is whole different story.

[2021-02-16 13:24] Blackmoresknight commented on #854
It would also be nice to be able to filter out all module streams (exclude all) if possible.

[2021-02-16 13:59] evgeni commented on #1099
@mpl241 is there anything left for the Ansible Collection today that you would like us to improve on, or shall we close this issue as "user found a way to get the work done"?

[2021-02-16 21:44] mpl241 commented on #1099
@evgeni, I don't have any additional suggestions for improving Ansible Collection right now.  If I do come-up with anything, I will open a new issue.

[2021-02-16 21:44] #1099 closed, assigned to nobody

[2021-02-17 18:53] #1052 closed, assigned to nobody

[2021-02-19 16:26] #1118 closed, assigned to ehelms

[2021-02-22 10:53] #1130 closed, assigned to wbclark

[2021-02-22 11:03] #1104 closed, assigned to evgeni

[2021-02-22 11:04] evgeni commented on #1041
Fixed in #1136

[2021-02-22 11:04] #1041 closed, assigned to nobody

[2021-02-22 15:36] MLotton opened #1148 "Unable to create a host with unmanaged interface(s)"
##### SUMMARY

It is impossible to create bare metal hosts with an unmanaged interface.

From the code in plugins/modules/host.py line 480 to 483, there is:
[code]
This code above implies that any 'interfaces_attributes' parameter evaluated to false is removed from the API Call. But the default value of a parameter is not always "False".

For example, it is possible to create and provision a bare

[2021-02-22 17:47] dmnagornyi commented on #1121
I see this module is already in list of available modules: https://theforeman.github.io/foreman-ansible-modules/v2.0.0/plugins/host_info_module.html#theforeman-foreman-host-info-fetch-information-about-hosts
But it's not working. Also last example use theforeman.foreman.host
ERROR! couldn't resolve module/action 'theforeman.foreman.host_info'. This often indicates a misspelling, missing collection

[2021-02-22 17:51] evgeni commented on #1121
Hah, the example is indeed broken (it should read host_info, not host) but otherwise the module should work.

How did you install the collection and how does your playbook look like?

[2021-02-22 19:17] dmnagornyi commented on #1121
It was installed with "ansible-galaxy collection install theforeman.foreman" command. I use it inside Foreman as ansible role and connect to itself.

This is a short playbook:

[code]

This is output after execution from foreman:

[code]

All other modules from the collection work fine.

[2021-02-23 08:42] evgeni commented on #1121
Are you sure you have version 2.0.0 of the collection installed? Those modules are new in there.

`ansible-galaxy collection list` should tell you, if your ansible is new enough (I think that was introduced in 2.10), otherwise have a look at the output of `ansible-doc -l theforeman.foreman` -- does it list host_info, repository_info and puppetclasses_import?

The example fix is in #1151 -- thanks

[2021-02-23 10:55] evgeni commented on #1148
Thanks for the report!

I've posted a patch in #1152 (just removing those filter lines, as they are redundant), could you have a look if it fixes your problem?

[2021-02-23 16:33] dmnagornyi commented on #1121
Now it's clear. Version 2.0.0 is available only from nightly foreman-client repo and it's not available from latest. However, this module does not provide advanced parameters of host. So `resourse_info` with `resource: hosts` and `full_details: yes` is fine for me. Maybe in future such an option  as `full_details: yes`  will be added to `host_info` also. Thanks.

[2021-02-23 16:47] MLotton commented on #1148
Thanks.
Removing these filter lines fixes the problem.

[2021-02-23 16:57] #1148 closed, assigned to evgeni

[2021-02-23 16:59] evgeni commented on #1121
What info are you missing?

[2021-02-23 17:06] dmnagornyi commented on #1121
Host parameters.
![image](https://user-images.githubusercontent.com/64170908/108879696-841b6500-75cf-11eb-9b7d-fa59496c400c.png)

[2021-02-24 09:51] evgeni commented on #1121
@dmnagornyi parameters are currently returned if you call `host_info` module with `name: <thename>` but not when you call it with `search: name = <thename>`.

Would that be sufficient, or would you still prefer a `full_details` option?

The background is that Foreman doesn't return all data in a search result (for performance reasons), and we're relying on the search for the second case here. We *

[2021-02-27 18:33] dmnagornyi commented on #1121
@evgeni I need list of parameters for all hosts, so I can't use `name:`

[2021-02-27 18:34] evgeni commented on #1121
Okay, now I am curious, what are you doing? Some kind of reporting?

[2021-02-27 18:47] dmnagornyi commented on #1121
I need list (array) of dictionaries with each hostname and all parameters with value for further processing. I'm fine with `resourse_info`, As I'm not using `search:` now. This is exactly what I want.
I guess if you add `full_details: yes` option in `host_info` module I will be able to remove only one option `resource: hosts`. That's it. Anything else will be same. Definitely it's not a problem fo

[2021-02-27 19:06] evgeni commented on #1121
The thing is, the API is super inefficient in fetching hosts and their details. That's why Foreman introduced Report Templates a while back. (We don't have modules to configure or generate those reports yet, though :/)

That said, we obviously won't force you to move and if `resource_info` gives you the details that's great. I'd just prefer not to port the hack that `full_details` is to the new mo

[2021-03-01 19:07] erezzarum opened #1156 "Increase timeout for host creation"
When provisioning a host that rely on a finish script, the finish script can take very long time to finish.

As i understand currently the task timeout is set to about 5m (task_timeout=60, task_poll=4)
After about 5m i receive this: "Error while performing create on hosts: ('Connection aborted.', RemoteDisconnected('Remote end closed connection without response'))"

I receive this error after abou

[2021-03-02 06:24] mdellweg commented on #1156
I know, that we have an increased timeout in the sync module. You could take a look there if you want to submit a patch.

[2021-03-02 07:46] evgeni commented on #1156
Host creation is a sync action in Foreman, so increasing the timeout we have for foreman *tasks* won't help here. We'd have to tell requests to wait longer, which I really don't like.

[2021-03-02 07:54] erezzarum commented on #1156
@evgeni You mean the "requests" python module? If this, then i could not find anywhere where a timeout is set, and by default if no timeout is set the requests is set to "None"

[2021-03-02 07:57] evgeni commented on #1156
Yes, that's what I meant.

It could also be Apache or a firewall terminating the connection after 5 minutes. Now reading your exact error, I agree it's not requests - that gives a different Exception when a timeout occurs.

[2021-03-02 07:59] erezzarum commented on #1156
Apache should not be terminating the connections, perhaps using keep-alive headers is needed?
Editing: It does not happen when using hammer

[2021-03-02 08:07] evgeni commented on #1156
I'll have a look what hammer does differently.

[2021-03-02 14:52] erezzarum commented on #1156
@evgeni I'm sorry, but usually i don't open issues without checking 100%.
I was moving all my ansible environments to run under docker and it seems this what has caused it.
I have just verified and created a virtualenv and it does not happen there, only under "docker run".
So this is not a foreman ansible module issue.
Sorry for the interruption.

[2021-03-02 14:52] #1156 closed, assigned to nobody

[2021-03-02 14:57] evgeni commented on #1156
No worries, as long as it's fixed now, I am happy :)

[2021-03-02 15:37] evgeni commented on #644
we started to have roles, mostly around content, so we'll closing this issue now

[2021-03-02 15:37] #644 closed

[2021-03-04 02:45] wbclark opened #1158 "Sync multiple products simultaneously"
Currently when syncing repositories using the module `theforeman.foreman.repository_sync` I have to define either one ansible task per repository or one ansible task per product. Furthermore, each ansible task runs until the foreman task is completed, which under some circumstances takes considerable time.

It would be a significant improvement to define an option like `wait_for_completion: false`

[2021-03-04 10:26] mdellweg commented on #1158
IIRC we removed such a feature deliberately, because it was a pain.
There is an ansible builtin method to send long running tasks to the background:
https://docs.ansible.com/ansible/latest/user_guide/playbooks_async.html
And i believe, that way, you can even gather their results later.
Be careful, you can easily DOS your katello if you start too many sync tasks at once.

[2021-03-04 15:14] MLotton opened #1160 "Unable to provision a host (with Libvirt/KVM) based on a qcow2 image without explicitly setting the image_id parameter."
##### SUMMARY
I wanted to provision a VM with a Libvirt/KVM compute ressource based on an image provision method with an existing qcow2 image. I encountered an issue where the host was created but the image provisioning wasn't correctly done by using the module `host`.
The result is not the same by using the hammer CLI or the foreman/satellite web UI (with identical input parameters).

Looking fur

[2021-03-04 15:55] wbclark commented on #1158
I found the referenced commit at https://github.com/theforeman/foreman-ansible-modules/commit/82ae5ccdf077966101405ab83690d9b6c612d487#diff-47548be82ea3d1e662a5aa75cf36fd96d4e5d8ed7ac27c8f28cb1e7781dfabc2

It looks like an example was given using the built-in ansible method to syncs all repos asynchronously. From the looks of it I agree it was a bad example, and I argue my implementation at https:

[2021-03-04 16:54] mdellweg commented on #1158
I know, the syntax may be weird, but when using the ansible async methods, you can still continue with your playbook, but wait for the synced repos at some point to promote your content for example. I consider this to be the high level feature.

[2021-03-04 20:53] wbclark commented on #1158
Thanks @mdellweg , I will give it a try and report back my experience.

A few more areas to consider about it are

1. Some users may actually wish to have the Ansible task treated as complete while the Foreman task is still running (for example, the completed Ansible task could register something like a Task ID that they can monitor themselves). Without having tried it yet, I'm not sure if this is

[2021-03-04 22:09] wbclark commented on #1158
Ok, it looks like `async_status` covers this case

[2021-03-05 10:22] evgeni commented on #1160
To compare, can you post the hammer call you used?

[2021-03-05 15:24] MLotton commented on #1160
Yes, here is an example with a Hammer CLI command.

##### Host creation with hammer CLI
[code]

##### API results - examples

To add more details, here is what I can find from `/var/log/foreman/production.log`

With ansible modules:
[code]
image_id is well defined, so the issue is not linked to that.

With Hammer CLI:
[code]
Both have one identical `image_id` parameter at the root of `host`. But t

[2021-03-08 13:18] fabricat opened #1163 "FOREMAN_SERVER_URL and FOREMAN_USERNAME are ignored by the inventory plugin"
##### SUMMARY

I would like to provide Foreman URL and username via environment variables, but it seems these are ignored by the inventory plugin.

##### ISSUE TYPE
 - Bug Report

##### ANSIBLE VERSION

[code]

##### COLLECTION VERSION

[code]

##### KATELLO/FOREMAN VERSION

[code]

##### STEPS TO REPRODUCE

This is the content of `inventory/dynamic/infra.foreman.yml`
[code]
`FOREMAN_SERVER_URL` `

[2021-03-08 13:32] evgeni commented on #1163
you need to put `plugin: theforeman.foreman.foreman` into the `inventory/dynamic/infra.foreman.yml` file, otherwise you end up using the old, built-in foreman inventory of ansible, and that indeed doesn't know these vars.

[2021-03-08 14:43] fabricat commented on #1163
Sorry, probably I was misled by obsolete documentation.

That works fine.
Thank for your support.

[2021-03-08 14:43] #1163 closed, assigned to nobody

[2021-03-09 12:37] pondrejk opened #1164 "repository test tries to update repo label"
##### SUMMARY

make livetest_repository fails with
[code]
Probably test_playbooks/repository.yml tries to update repo label (by loading  tasks/repository.yml?)

##### ISSUE TYPE
 - Bug Report (tests)

##### ANSIBLE VERSION

[code]

##### COLLECTION VERSION

[code]

##### KATELLO/FOREMAN VERSION

[code]

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2021-03-09 16:49] andrefecto opened #1165 "LDAP state: present always shows "changed""
**Summary:**
When running the theforeman.foreman.auth_source_ldap with "state: present" it will always show "changed" even though the before / after aren't different.

**Details:**
For example, this is what my playbook has:
[code]

The variable for that looks like this:
[code]

If you run something like that, it will always say this:
[code]

I tried a few different variations for the booleans like

[2021-03-10 15:52] evgeni commented on #1165
You're setting `account_password`, which is not part of the API reply for security reasons and thus we can't detect it didn't change.

See https://theforeman.github.io/foreman-ansible-modules/develop/plugins/auth_source_ldap_module.html#parameter-account_password which documents the module not being idempotent in this case.

[2021-03-10 15:56] andrefecto commented on #1165
@evgeni that would do it! Sorry about that!

[2021-03-10 15:56] #1165 closed, assigned to nobody

[2021-03-10 15:57] evgeni commented on #1165
No worries!

[2021-03-13 13:09] ares opened #1171 "The reported facts and reports are ignoring machine timezone"
##### SUMMARY
A fresh report causes out of sync configuration status. This is caused by the timestamp in the report being without timezone information. The same problem is present for facts upload. We should unify the way how we fetch the current time information and include the TZ information. At the same time, the format can be a bit tweaked so it's more native to the Ruby that parses it.

#####

[2021-03-16 15:52] evgeni commented on #1160
@tbrisker @lzap do you know if Foreman itself *should* do the translation of the Hosts's "image" parameter to a CR image? It feels wrong to have all API clients (hammer, FAM, etc) have to carry the same "find image and set another parameter" code around.

[2021-03-16 21:58] jamesmarshall24 opened #1178 "Add and Remove Hosts from Host Collection"
##### SUMMARY

Expand a module or add a new module which allows hosts to be added/removed from host collections

##### ISSUE TYPE
 - Feature Idea

[2021-03-18 14:12] lzap commented on #1160
By translation do you mean i18n translation? I think you mean more "look up"?

Foreman keeps images in its database, this table has image_id (SQL INT), uuid and name fields (varchar) which are used by individual compute resources. Usually, both UI and API should only need to provide image_id which Foreman than uses to look other attributes up (uuid, name).

So I think this is expected, when comput

[2021-03-18 14:21] evgeni commented on #1160
Ah, sorry. "translate" was maybe a bit wrong selection of words on my side.

If you look at the API requests above, Ansible sends:

[code]

While hammer sends

[code]

And it seems without the *second* entry, Libvirt just doesn't know what to do.

My naïve assumption was that when I pass `image_id: 3` to the API, it will forward the right data to the CR, but it seems that's not the case.

[2021-03-22 08:10] mdellweg opened #1181 "[foreman-ansible-plugin] assign ansible roles to hosts"
##### SUMMARY
This is a split off from #1123 to manage the assined ansible roles for hosts.

##### ISSUE TYPE
 - Feature Idea

[2021-03-22 08:53] lzap commented on #1160
I would also expect that our API will lookup the image "UUID / path" or whatever we call as image_id. That smells like a bug worth fixing.

[2021-03-22 09:13] #1123 closed, assigned to nobody

[2021-03-22 12:30] evgeni opened #1182 "don't record pending tasks in fixtures"
William has manually dropped a big chunk of "poll pending task" requests to speed up things and reduce the size of the fixtures. I wonder if that's something we should do by default? I.e. `GET /api/foreman_tasks/:id` and `state: pending` in reply → don't record.

Matthias suggests to at least record the very first one, which sounds like a good idea too.

_Originally posted by @evgeni in https://gi

[2021-03-22 13:25] wbclark commented on #1182
I actually kept the first two, since the very first one returns `state: planned, result: pending` and the second returns `state: running, result: pending` and then I saw there were many which were basically identical from that point

[2021-03-24 02:30] ezr-ondrej commented on #1160
Image selection is particulary weird as there is a select it in Host form where I select the method, but that input is actually send as `host[compute_attributes][image_id]` and in code it's being rendered in the Virtual Machine tab and then moved by JS. So for user it looks fine, but it's created a mess.
Hammer has solved this to mimic this by looking the image_id attribute up and passing it to AP

[2021-03-30 14:45] wbclark commented on #1182
Discussing with @mdellweg in triage today, we had some thoughts about implementation:

I. We should look for the capability to do this natively with VCR (i.e. https://vcrpy.readthedocs.io/en/latest/advanced.html#register-your-own-cassette-persister , or https://vcrpy.readthedocs.io/en/latest/advanced.html#custom-request-filtering if enough state is stored to recognize the duplicate responses)

II.

[2021-03-30 14:49] wbclark commented on #1181
This is a valid feature but not the highest on our list of many priorities at the moment

One difference here vs. doing this with hostgroups, is the lack of a unit test for hosts in the luna pipeline (it's easier to do this with hostgroups in forklift, as a hostgroup doesn't require any actual hosts)

[2021-03-30 14:53] wbclark commented on #1178
This is a valid feature request. We have host and host_collection modules, and either should be able to manage host <-> host_collection associations

[2021-03-30 14:59] wbclark commented on #1160
Following the discussion, ideally this would be fixed on the Foreman side but that is not imminently expected, so we could provide a workaround here similar to what hammer is doing. Therefore I'm labeling this as a bug, although it could also be 'depends on external project'

[2021-03-30 15:04] wbclark commented on #1158
Repositories can be synced simultaneously using Ansible's async feature. An example of this is here: https://github.com/theforeman/foreman-ansible-modules/blob/2045c5edef5792d3235eb5c2b234ef08e3fa96b3/roles/content_rhel/tasks/main.yml#L31-L55

To wait for the syncs to complete before proceeding with further ansible tasks, the approach is https://github.com/theforeman/foreman-ansible-modules/blob/2

[2021-03-30 15:04] #1158 closed, assigned to nobody

[2021-03-30 15:14] wbclark commented on #1046
A related problem is: https://github.com/theforeman/foreman-ansible-modules/issues/946

For now, as you already found, you will need to specify the full operating system title in order to associate multiple operating systems (there is no wildcard)

[2021-03-30 15:15] wbclark commented on #1046
A lot of the discussion on this topic is at https://github.com/theforeman/foreman-ansible-modules/issues/373

[2021-03-30 15:20] wbclark commented on #1018
With ansible >= 2.10

`ansible-galaxy collection install -f git+file:///home/user/projects/theforeman/foreman-ansible-modules`

OR, with requirements.yml

[code]

And then `$ ansible-galaxy collection install --ignore-errors -r collections/requirements.yml`

Failing that, this should work with all versions:

[code]

It would be helpful to update our docs with this information

[2021-03-31 17:50] wbclark opened #1188 "Rename repository_set to red_hat_repository"
End users who are primarily WebUI users are mostly not familiar with the concept of a repository set. They may be familiar with this term if they also use hammer, or they may encounter it when managing default repositories on an activation key or enabled repositories for content hosts; but it's not immediately clear how this related to the Content -> Red Hat Repositories page on the WebUI, which i

[2021-03-31 20:26] jlsherrill commented on #1188
One reason to not do this is that the repository sets api actually supports returning custom content and partha has been working to use this api more for listing repo sets for activation keys and hosts: https://github.com/Katello/katello/pull/9219

So repository sets is actually the better name, but enable/disable/available_repositories apis is just for Red hat repository sets.  We might could ren

[2021-04-05 15:51] kevin972202 opened #1191 "Foreman Ansible Playbook as Job-Template dosent work"
I´m Using Foreman 2.3 and Ansible 2.9. For Ansible i use the Manage Dell EMC OS6 Collection to do a Backup of our Dell Switches. When i run this Playbook it works fine:
---
- hosts: testos
  gather_facts: yes
  collections:
    - dellemc.os6

  tasks:
    - name: Backup
      os6_config:
        backup: yes
        backup_options:
          dir_path: /home/{{ inventory_hostname }}
Inventory:
[test

[2021-04-07 21:33] #1018 closed, assigned to nobody

[2021-04-08 10:13] #1191 closed, assigned to nobody

[2021-04-08 10:21] kevin972202 opened #1193 "Foreman does a local connection instead of the user i set, when i run a Playbook as Job-Template"
I´m using Foreman 2.3 and Ansible 2.9. The Callback between them work fine. I want to do a Backup from a Switch Configuration. I integreated the Switch as unmanaged Host. If i run this Playbook foreman does a local connection and tries to run the Playbook on the local machine instead of connecting to the switch. When i run this Playbook normaly about the command line of the Server terminal, it wor

[2021-04-08 12:24] kevin972202 opened #1194 "Foreman tries to run Playbooks on loca, when i´m using the dellemc os6 collection"
I´m using Foreman 2.3 and Ansible 2.9. The Callback between them work fine. I want to do a Backup from a Switch Configuration. I integreated the Switch as unmanaged Host. If i run this Playbook foreman does a local connection and tries to run the Playbook on the local machine instead of connecting to the switch. When i run this Playbook normaly about the commandline of Terminal, it works fine. I c

[2021-04-08 15:21] evgeni commented on #1194
Ping @ares

This sounds like a foreman_ansible issue, not a modules one?

[2021-04-08 15:37] kevin972202 commented on #1194
I dont konw, If it is forman_ansible or the os6 collection. I only know If i Run any playbook in Foreman with the os6 collection it tries to Run in on the local machine. But If i Run a playbook without this collection it tries to make a Connection with SSH to the Switch. But i need the collection, because i have only dell Switches and if i Run any playbook against this Switch the Connection Interr

[2021-04-11 19:49] #1194 closed, assigned to nobody

[2021-04-11 19:50] #1193 closed, assigned to nobody

[2021-04-13 00:27] jdubs opened #1198 "New release for 2.4's bmc proxy req"
Hi,
Would it be possible to cut a release that includes this commit? https://github.com/theforeman/foreman-ansible-modules/commit/d5bb109595e4e7612f9e09fe10457514f8eb56ae

This is a new requirement in foreman 2.4 which requires hosts with BMCs have the bmc_proxy enabled on the subnet.

[2021-04-13 00:32] #1198 closed, assigned to nobody

[2021-04-16 15:53] p-avery opened #1203 "Foreman Inventory Plugin to retrieve Puppet Smart Class Params"
##### SUMMARY
Ability to bring down Puppet Smart Class Params into the Ansible Inventory would be beneficial to migrating from Puppet to Ansible
##### ISSUE TYPE
 - Heavy Puppet shop via Foreman / Satellite now want to start to migrate to Ansible but would like to use all the smart class params to make this migration easier. Is there an ability to bring the default and override values into an Ansi

[2021-04-20 13:19] #1109 closed, assigned to nobody

[2021-04-27 14:39] evgeni commented on #1203
triage:
- good idea
- make it optional as puppet is about to become optional *and* pulling those from the API is probably rather expensive

[2021-04-27 15:00] evgeni opened #1209 "CV publish role"
##### SUMMARY
we should have a role that accepts a list of CVs and just does a publish on them

similar, we probably also should have one that does a simple promote on a list?

##### ISSUE TYPE
 - Feature Idea

[2021-05-01 05:03] #1111 closed, assigned to willtome

[2021-05-03 16:23] bmarlow commented on #1209
Please see PR [#1214](https://github.com/theforeman/foreman-ansible-modules/pull/1214)

[2021-05-04 10:00] evgeni commented on #1160
Thanks! I've opened https://projects.theforeman.org/issues/32501 to track the API side of this, and #1215 has a workaround for now.

[2021-05-04 10:00] #1160 closed, assigned to nobody

[2021-05-05 15:32] evgeni commented on #1015
Seems this is finally coming in core 2.12: https://github.com/ansible/community/issues/546#issuecomment-832773914

[2021-05-05 17:43] achevalet opened #1218 "Add overwrite to host module"
##### SUMMARY
`overwrite=true` is required to update a host and overwrite the existing DNS record when ip/hostname change

##### ISSUE TYPE
 - Feature Idea

[2021-05-05 19:07] evgeni commented on #1218
Where is this parameter coming from? I don't see it in https://theforeman.org/api/2.4/apidoc/v2/hosts/create.html or https://theforeman.org/api/2.4/apidoc/v2/hosts/update.html

[2021-05-05 23:36] achevalet commented on #1218
Hey, I think this is an undocumented parameter passed from the UI. Hammer also supports it: https://github.com/theforeman/hammer-cli-foreman/blob/master/lib/hammer_cli_foreman/hosts/common_update_options.rb#L37

[2021-05-06 10:26] evgeni commented on #1218
Interesting. That parameter is not documented in the API at all. I've opened https://projects.theforeman.org/issues/32541 to fix that part.

[2021-05-07 11:49] evgeni commented on #1164
I can't reproduce this on Satellite 6.9.1:

[code]

[2021-05-10 09:04] gardar opened #1220 "Modules to manage ansible roles and variables in foreman/satellite?"
##### SUMMARY
Are there any plans to add modules to manage ansible role imports and ansible variable imports/overrides in Foreman/Satellite? Or is it perhaps already possible to manage these? I was unable to find anything on the subject by looking at the docs and searching the issues here.

##### ISSUE TYPE
 - Feature Idea

[2021-05-10 09:28] mdellweg commented on #1220
There is #753 .

[2021-05-10 16:15] gardar commented on #1220
Ok any chance it might be merged soon? Seems to have stalled.

In the meantime I found that I could set a host parameter instead of a ansible variable with the modules and then use the parameter as a variable in ansible.

[2021-05-11 14:51] evgeni commented on #1220
For variables there is #1224 now

[2021-05-15 06:00] evgeni commented on #1121
With the merge of #1189 this initial set of modules is now done and this issue can be closed.

[2021-05-15 06:00] #1121 closed, assigned to nobody

[2021-05-20 19:57] achevalet opened #1231 "hostgroup update with puppetclasses or description"
##### SUMMARY
Hi, I've some issues with the hostgroup module:
- it seems that `puppetclasses` cannot be updated
- updating `description` when passing `puppetclasses` fails
- `puppetclass_ids` is not returned at creation

##### ISSUE TYPE
 - Bug Report

##### ANSIBLE VERSION

[code]

##### COLLECTION VERSION

[code]

##### KATELLO/FOREMAN VERSION

[code]

##### STEPS TO REPRODUCE

[code]

##### EXP

[2021-05-20 20:17] achevalet commented on #1231
Note that we can update `description` in a separate task but it does not work for `puppetclasses`:
[code]

[2021-05-25 14:45] evgeni commented on #1231
@mdellweg please take a look if you have some spare cycles

[2021-05-25 14:56] evgeni commented on #1209
Also #1210

[2021-05-27 10:30] evgeni commented on #1231
One thing that I realized (and I think that's undocumented):

If you set `description`, the module uses that to find the OS, instead of the `name` field, which I think is wrong in retrospect

https://github.com/theforeman/foreman-ansible-modules/blob/289d311fee354da5540fc38a6b99cfe75dc99ddf/plugins/modules/operatingsystem.py#L211-L220

Wait, no, ignore me. The above is a valid bug, probably. But y

[2021-05-27 10:42] evgeni opened #1233 "can't change the description of an OS"
One thing that I realized (and I think that's undocumented):

If you set `description`, the module uses that to find the OS, instead of the `name` field, which I think is wrong in retrospect.

https://github.com/theforeman/foreman-ansible-modules/blob/289d311fee354da5540fc38a6b99cfe75dc99ddf/plugins/modules/operatingsystem.py#L211-L220

Even worse, this means one can never update the `description`

[2021-05-27 10:45] evgeni commented on #1233
If I only could read our code…

[2021-05-27 10:45] #1233 closed, assigned to nobody

[2021-05-27 14:37] evgeni opened #1234 "allow selecting job_templates by feature when creating job_invocations"
##### SUMMARY
`job_invocation` currently expects the user to select the template by providing a `job_template` name, however the API also allows to select them by "feature"

apidoc says:
job_invocation[feature]                 optional         , nil allowed | Remote execution feature label that should be triggered, job template assigned to this feature will be used

should be marked as "required_o

[2021-05-27 14:37] evgeni commented on #1234
props to @jturel for teaching me this!

[2021-05-27 14:40] jturel commented on #1234
Correct, the API will error if both are specified and one of them should be included with each create request

[2021-05-27 14:46] evgeni opened #1235 "use modern role documentation"
##### SUMMARY

ansible-core 2.11 supports role argument specs (https://docs.ansible.com/ansible/latest/user_guide/playbooks_reuse_roles.html#role-argument-validation, https://steampunk.si/blog/ansible-role-argument-specification/)
and the surrounding tooling is now also getting support for that (https://github.com/ansible-community/antsibull/pull/272, https://github.com/ansible-community/antsibull

[2021-05-27 14:48] evgeni commented on #1235
an example can be found in https://github.com/sensu/sensu-go-ansible/pull/289

[2021-06-08 15:03] evgeni commented on #1235
@wbclark to raise his issues/concerns :)

[2021-06-08 15:07] wbclark commented on #1235
1. this does not need to replace the complete README.md text for the role but can replace only e.g. the block that documents each parameter

2. we need some method to dynamically generate that parameters block of README.md contents from the modern role documentation

3. how does the current role interact with `ansible-doc` (does it?)

3. let's follow up on https://github.com/ansible-community/ants

[2021-06-08 15:40] wbclark commented on #1235
In https://github.com/theforeman/foreman-ansible-modules/tree/develop/roles/activation_keys#role-variables we have role variables sorted into sections:

- The main data structure for this role is the list of `foreman_activation_keys`. Each `activation_key` requires the following fields:
- The following fields are required for an activation key but have defaults which make them optional for this ro

[2021-06-08 17:00] evgeni commented on #1235
FWIW, I think the metadata structure comes from Ansible, not antsibull.

[2021-06-09 18:32] evgeni opened #1244 ""Current password Incorrect password" when trying to set the password of the current user"
##### SUMMARY
When you try to update the user that us accessing the API, you get an error: `Current password Incorrect password` as we don't pass the `current_password` to the API, but that is required to be able to update yourself.

##### ISSUE TYPE
 - Bug Report

[2021-06-11 09:12] cmeissner opened #1245 "cluster value in vm_attr for compute profiles expect string"
##### SUMMARY

If we want to create compute profiles for vsphere compute resource the value of `cluster` within `vm_attrs` can't be an integer. We need to put an integer in quotes.
As we can use numbers for cluster and or datacenter in Sphere configuration the module should also accept integers and may be do a type casting inside the module.

##### ISSUE TYPE
 - Bug Report

##### ANSIBLE VERSION

[2021-06-11 09:41] evgeni commented on #1245
Hey @cmeissner, it's been a while!

You say that `cluster: "1337"` works, while `cluster: 1337` does not, right?

I'd argue that putting it in quotes is more correct, after all that's the name of the cluster, which is (technically) a string, but I also see that there should be no reason for it not to work without.

[2021-06-11 09:46] evgeni commented on #1245
You could try changing the following line:
https://github.com/theforeman/foreman-ansible-modules/blob/6c6d8918a0b6a2a3e7f78d8530a9168b926c627a/plugins/module_utils/foreman_helper.py#L826

to be something like:
[code]

Or maybe also wrap the part[...] im str()?

[2021-06-11 09:56] evgeni commented on #1245
And I bet @mdellweg will kill me if I propose yet another "but this is nicer for the users" change that will break something else in 6 months time (#1240)

[2021-06-11 11:04] cmeissner commented on #1245
Haha, understand. But as names consisting only numbers are valid in vsphere it leads to confusion if the ansible module is complaining about missing cluster. For our real life example it leads to an extra effort of about 1h for debugging.

So from my point of view this is not only a convenient change. But I'm open for discussions.

[2021-06-11 11:21] mdellweg commented on #1245
Would it help to add type validation at the ansible parameter parsing?
I believe it should be ok, if the module complains it got an int instead of a string.

[2021-06-11 11:57] cmeissner commented on #1245
This can save some time and effort. For me it is okay but I guess this will lead to confusion and somehow frustrating situation. But good error Messages are a good compromise.

[2021-06-11 12:04] evgeni commented on #1245
The Ansible parameter spec is, uh, complicated.
We can't partially define which parameters are allowed inside the `vm_attrs`, and having a list of all possible ones sounds crazy.
And Ansible wouldn't complain, but cast (well, with a warning, but still).

We could yield a warning ourself. But then we could also just cast ourself. Aaaah, decisions.

[2021-06-11 12:49] mdellweg commented on #1245
Is this problem limited to `cluster`? We can just proactively cast that specific value to str before any other processing.

[2021-06-11 13:08] cmeissner commented on #1245
We seen it only at `cluster`.

[2021-06-11 13:15] evgeni commented on #1245
I would think it's a problem for any entry we do translation from name to id for (so cluster, network, etc)

[2021-06-15 09:31] FutureTecSystems opened #1246 "Caching parameters doesn't seem to work"
##### SUMMARY

Caching parameters doesn't seem to work

##### ISSUE TYPE
 - Bug Report

##### ANSIBLE VERSION

[code]

##### COLLECTION VERSION

[code]

##### KATELLO/FOREMAN VERSION

[code]

##### STEPS TO REPRODUCE

Running playbooks with foreman inventory und the following settings:
[code]

##### EXPECTED RESULTS

Active caching for subsequent playbook runs

##### ACTUAL RESULTS

Playbook runs

[2021-06-15 15:41] afeefghannam89 opened #1247 "storage_pod can not be set"
##### SUMMARY
I am using compute_profile plugin to create configuration on katello. However, this plugin let the storage_pod parameter empty after problem free Ansible run

##### ISSUE TYPE
 - Bug Report

##### ANSIBLE VERSION

[code]

##### COLLECTION VERSION

[code]

##### KATELLO/FOREMAN VERSION

[code]

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Set the storage-pod parameter in

[2021-06-15 19:51] evgeni commented on #1247
Can you post the output of `ansible-playbook --check --diff playbook.yml` when the profile is not yet present? And ideally another one when it is.

[2021-06-16 06:27] afeefghannam89 commented on #1247
[code]

After creating the profile:
[code]

I tried with group-p666 as a storage pod name, but I got the same results.
Two screenshots are attached confirming the empty storage pod field after creating the profile and the available choices.

![Small compute profile](https://user-images.githubusercontent.com/39904920/122167972-f9ab8980-ce7b-11eb-96b7-c51bc4bfc4c1.png)

![available choices](https://

[2021-06-16 06:32] evgeni commented on #1247
Thanks!

Another request (sorry!)

Can you select the right pod in the UI, save it, and then again run the playbook with `--diff` and show us?

Background: the output you posted implies the API did accept the pod, but if the UI disagrees, we might be using a wrong identifier or something?

[2021-06-16 07:17] afeefghannam89 commented on #1247
[code]

I think, the problem is, the plugin uses the pod id "group-p666" by creating or checking the pod parameter, that does not match with katello API, I think katello wants the pod name not the pod id, does it? Have a look please at the network name and compare it with the pod, the plugin uses the network id dvportgroup-257 by creating and checking which suits katello API.

[2021-06-16 07:20] evgeni commented on #1247
Interesting, thanks!

[2021-06-16 07:48] evgeni commented on #1247
Out of curiosity, did you try deploying a host with the "broken" (the one using the id, not name) compute profile?

I have a feeling this should work and the UI is just displaying it wrongly, but don't have a VMware to test on :(

[2021-06-16 08:40] afeefghannam89 commented on #1247
Your feeling is right :) I used the name as pod name
[code]
The UI does not display the pod under the profile, but while creating a virtual machine, I can see the pod under the vm configurations. In addition, the creating of new vm works.

[2021-06-16 13:29] gardar opened #1248 "Operating system media not inherited in nested hostgroups"
##### SUMMARY

When creating a nested hostgroup the installation media is not inherited from the parent group while other values such as architecture and operating system are inherited just fine.

This is actually the same that happens when you create a group in the gui, the installation media is not inherited when you create a nested group, but if you edit the group and save it again without maki

[2021-06-16 17:25] evgeni commented on #1248
I wonder if that's related to https://projects.theforeman.org/issues/32661 which was recently fixed.

But will try to reproduce regardless

[2021-06-22 14:49] evgeni commented on #1247
"nice"

We'll try get access to an VMware to test this and other parameters properly and issue a fix afterwards.

cc @ezr-ondrej for "how broken is this intergration?!"

[2021-06-22 14:51] evgeni commented on #1246
cc @ares @ezr-ondrej can one of you guys please look into this?

[2021-06-22 14:56] evgeni commented on #1245
from triage meeting: if we cast both sides (foreman reply *and* the value in the playbook) to strings, this should be safe to compare and not break (too much *gg*)

[2021-06-22 15:01] evgeni commented on #1244
triage:

[code]

carry on

[2021-06-22 15:15] wbclark commented on #1248
I believe this is the same issue as https://bugzilla.redhat.com/show_bug.cgi?id=1962386

paging @phess , let me know if you have some interest/bandwidth to look into it together :)

[2021-06-22 15:29] phess commented on #1248
Yes to interest, potential Yes to bandwidth. Thank you @wbclark for the offer! ;-)

[2021-06-29 22:54] RHMTT commented on #1203
optional is ideal as puppet is removed from the product it will be ideal to allow customers to use them to then build up an Ansible inventory etc

[2021-06-30 08:52] fgoebel commented on #1123
Hey there,
I am about to implement some new hostgroup creation in Ansible and only then noticed that this got implemented already!

I just want to say "Thank you very much", better late than never

[2021-07-01 00:52] jamesmarshall24 opened #1258 "Local Product Subscription IDs are not Found Unless State=Present"
##### SUMMARY

Local products return "Found no results while searching for subscriptions with id=redact" when state is not explicitly provided as "present" for activation_key module

##### ISSUE TYPE
 - Bug Report

##### ANSIBLE VERSION

[code]

##### COLLECTION VERSION

[code]

##### KATELLO/FOREMAN VERSION

[code]

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Pool ID found for local

[2021-07-01 08:44] evgeni commented on #1258
It's a bit hard to debug if all your data is "redact"

Can you please send the real playbook and the real output to evgeni@redhat.com? thanks.

[2021-07-01 23:32] jamesmarshall24 commented on #1258
@evgeni sent

[2021-07-07 17:50] jamesmarshall24 opened #1260 "Update content_overrides label description with location for activation_key module docs"
##### SUMMARY

Update activation_key module documentation with the best option for finding content_label for content_overrides

##### ISSUE TYPE
 - Feature Idea

[2021-07-08 12:01] evgeni commented on #1258
I got the data, but by the love of god don't see how this should fail in that environment :(

Could you get me the output of the following playbook please?

[code]

(fill out the vars as needed, obviously ;))

[2021-07-12 20:10] bhatsu opened #1263 "parameters are getting overwritten"
##### SUMMARY
When we run a task to create multiple parameters by looping or by running two diff tasks only the last one is retained.

##### ISSUE TYPE
 - Bug Report

##### ANSIBLE VERSION

[code]

##### COLLECTION VERSION

[code]

##### KATELLO/FOREMAN VERSION

[code]

##### STEPS TO REPRODUCE

Example #1
VARS:
[code]
TASKS:
[code]
In this case only `dns_search_path` is retained.

Example #2
[cod

[2021-07-12 20:41] evgeni commented on #1263
That's expected. You need to pass all parameters in one run. Otherwise the missing ones are removed.

[2021-07-12 20:46] bhatsu commented on #1263
@evgeni well, that really defeats the purpose of using Ansible and makes it difficult to manage multiple locations and multiple parameters.

[2021-07-12 21:24] evgeni commented on #1263
The problem is that otherwise you have no way to ever remove a parameter at all.

[2021-07-13 10:35] #1245 closed, assigned to evgeni

[2021-07-13 20:06] bhatsu commented on #1263
Thanks @evgeni . I'll close this issue.

[2021-07-13 20:06] #1263 closed, assigned to nobody

[2021-07-13 20:21] evgeni commented on #1263
FWIW, a possible solution would be to have a dedicated parameter module, that would allow you to manage individual parameter instances.

We don't have such a module today, as we don't think it's needed (we tend to say there should only be a single place to edit a certain entity).

If you think the dedicated module would help, please reopen and we'll discuss this in the next triage meeting (next Tu

[2021-07-14 11:58] igramic opened #1265 "Add arch option to theforeman.foreman.repository module"
##### SUMMARY
In Satellite GUI when we create product repository we can restrict that repository on specific OS version (rhel8, rhel7 ...) and architecture
It would be awesome if we could do same via theforeman.foreman.repository

##### ISSUE TYPE
 - Feature Idea

[2021-07-14 12:00] evgeni commented on #1265
from the API doc (of 4.1):

os_versions  - Identifies whether the repository should be disabled on a client with a non-matching OS version. Pass [] to enable regardless of OS version. Maximum length 1; allowed tags are: rhel-6, rhel-7, rhel-8

also interesting:

arch - Architecture of content in the repository

[2021-07-17 17:33] mdellweg commented on #1231
@achevalet can you confirm that this PR fixes the problem?

[2021-07-20 09:34] evgeni commented on #1265
@igramic implemented the `os_version` in #1266 - so we're only missing `arch` now.

[2021-07-23 19:40] evgeni opened #1268 "kt_activation_keys in parameters get duplicated"
##### SUMMARY

if you pass

[code]

to `hostgroup`, you end up with the duplicate param error on the second run of the playbook, as the below code doesn't check if the param actually needs to be appended again

https://github.com/theforeman/foreman-ansible-modules/blob/604f60b884707ee25282155c1fe5b5f0146a943d/plugins/module_utils/foreman_helper.py#L320-L330

##### ISSUE TYPE
 - Bug Report

##### A

[2021-07-28 14:25] mrjk opened #1269 "Re-enable access to variables 'name', 'hostgroup_title' and 'hostgroup_name'"
##### SUMMARY
Re-enable access to variables 'name', 'hostgroup_title' and 'hostgroup_name' in inventory when `legacy_hostvars == False`.

I don't know why those three variables are excluded from the inventory when `legacy_hostvars == False`, and I also don't know how to access those values in other ways. Is it possible to explain here why those three variables are excluded from the host vars , I w

[2021-07-29 12:47] taftsanders opened #1270 "host collections not listed with want_hostcollections unless use_reports_api is included"
##### SUMMARY
Maybe the expectation is wrong, but with the `want_hostcollections: true` option there are no host collection groups being created. Once the `use_reports_api: true` in addition to `want_hostcollections: true` option is added the host collection group is created. I wasn't able to find anything that mentioned this as a required option for want_hostcollections to work.

##### ISSUE TYPE

[2021-07-29 13:52] KoffiemokmetThee commented on #1268
I have this problem as well. It would be nice if a parameter exists it would return "ok" in the Ansible run.

[2021-07-29 14:26] evgeni commented on #1268
@KoffiemokmetThee the cleanest solution should be to use the dedicated `activation_keys` parameter (which will get translated to the right Foreman parameter internally, and is working fine right now), but the syntax with `kt_activation_keys` should also work and we will fix that.

[2021-08-10 11:19] evgeni commented on #1268
@KoffiemokmetThee there is a patch in #1271 if you want to try it out :)

[2021-08-11 11:19] #1268 closed, assigned to nobody

[2021-08-15 20:55] Thulium-Drake opened #1273 "foreman_repository: Allow to configure download-concurrency"
##### SUMMARY

Some repos may have resource restrictions that will cause timeouts with Pulp (possibly due to rate-limiting) when syncing repos.

The forum thread below suggested to set a download concurrency on those repos. However, the Ansible module currently is unable to do so.

https://community.theforeman.org/t/unable-to-sync-some-repositories-almalinux-in-this-case/24705/29

##### ISSUE TYPE

[2021-08-16 07:45] evgeni opened #1274 "verify content_upload can upload srpms"
##### SUMMARY
When doing content uploads, one can set content_type to SRPM, even tho the underlying repository type is still "RPM", add a test that this actually works

##### ISSUE TYPE
 - Feature Idea

[2021-08-17 14:42] evgeni commented on #626
Katello and Pulp stopped supporting Puppet content, so should we.

[2021-08-17 14:42] #626 closed

[2021-08-17 14:44] evgeni commented on #1273
:+1:

https://theforeman.org/plugins/katello/3.18/api/apidoc/v2/repositories/create.html defines it as `download_concurrency`

[2021-08-18 16:52] bmarlow opened #1275 "activation_key module should return repository sets values"
##### SUMMARY
There currently does not exist a way to return what repository sets are associated with an activation key.

This is problematic because in an SCA environment all of the repo sets default to enabled and the list of repos will vary from environment to environment.

##### ISSUE TYPE
Here is the usecase:

Customer has a mix of RHEL/CentOS of varying flavors (6,7,8).  Customer wants to us

[2021-08-20 15:57] tinsjourney commented on #854
any update on the split of the module ?
Would be nice to be able to use ansible module to create a filter like "Include all Module Streams with no errata."

[2021-08-20 16:26] tinsjourney opened #1276 "redhat_manifest module has no proxy parameters"
##### SUMMARY

Using redhat_manifest module to download manifest directly from Red Hat Portal, with ansible host and satellite server behind corporate proxy server, but there is no proxy parameter we can give to module.

##### ISSUE TYPE
 - Bug Report

##### ANSIBLE VERSION

[code]

##### COLLECTION VERSION

[code]

##### KATELLO/FOREMAN VERSION

[code]

##### STEPS TO REPRODUCE

[code]

##### EXP

[2021-08-20 16:34] evgeni commented on #1276
I think setting it via the environment is exactly the correct approach, it just needs to be properly documented.

Why it didn't work for you with the role is a different question.

[2021-08-24 07:58] tinsjourney commented on #1276
based on https://github.com/ansible/ansible/issues/39185, attributes applied to include_X only apply to the include itself, and are not inherited by the tasks within.

So in order to give proxy to role we need to use import_role.
I made it work using the following
[code]

[2021-08-24 12:59] Fodoj commented on #1268
With 2.2.0 this bug still occurs to me - I have set kt_activation_keys via "params" and it breaks on a second run. I could not find dedicated "activation_keys" parameter in hostgroup.py - is it provided by HostMixing somehow?

[2021-08-24 14:07] evgeni commented on #1268
It's provided by the `HostMixin`, yeah:
https://github.com/theforeman/foreman-ansible-modules/blob/8fe622d1ae014fe7bf5b66239859cbc3ce351127/plugins/module_utils/foreman_helper.py#L306

let me spin up a fresh katello and try that out again.

[2021-08-24 14:18] evgeni commented on #1268
Hum, works for me.

Can you show me your playbook please?

I essentially do:

[code]

[2021-08-24 14:21] evgeni commented on #1268
I've added tests here: https://github.com/theforeman/foreman-ansible-modules/pull/1278

[2021-08-24 15:34] Fodoj commented on #1268
Basically the same:

[code]

where hg has:

[code]

Difference is lack of "parameter_type" and multiple other params except besides kt_activation_keys.

FYI I've switched to activation_keys and it works.

[2021-08-25 07:46] evgeni commented on #1268
Nope, neither dropping the `parameter_type`, nor adding another parameter helps reproducing it :(

But glad `activation_keys` works for you.

[2021-08-25 15:39] Fodoj opened #1279 "Re-applying template inputs always results in 'changed'"
##### SUMMARY

Job template's inputs are showing dirty diff on every re-apply.

##### ISSUE TYPE

 - Bug Report

##### ANSIBLE VERSION

[code]

##### COLLECTION VERSION

[code]

##### KATELLO/FOREMAN VERSION

[code]

##### STEPS TO REPRODUCE

Pass these as template inputs. In my case, its Ansible Playbook category, Ansible job provider:

[code]

##### EXPECTED RESULTS

After initial apply, it does

[2021-08-26 14:51] laugmanuel commented on #1247
I've experienced the same problem with FAM 2.2.0.
The behaviour changed probably due to https://github.com/theforeman/foreman-ansible-modules/commit/d0050d1386f93b2427b4c2b26a0eedb7a35eed08.

I can assist in debugging FAM (and Foreman) if you need someone with access to VMware.

[2021-08-27 12:48] evgeni commented on #1231
@achevalet would you have time to look at #1281 and whether that fixes your issue? I think it should, but one never knows ;)

[2021-08-28 12:46] achevalet commented on #1231
Hey, my apologies for the delayed response, yes I will check it out next week and let you know. Thanks for that one!

[2021-09-07 09:05] SimonLorentz commented on #1265
Hello everyone,

is there a timeline, when we can expect this new feature?
Would be very cool for a project.

Best regards

[2021-09-07 09:25] evgeni commented on #1265
@SimonLorentz as you asked so nicely, feel free to try https://github.com/theforeman/foreman-ansible-modules/pull/1282 ;-)

[2021-09-07 09:54] SimonLorentz commented on #1265
@evgeni thanks, it seems to do nothing, no error, but also no action ^^

[2021-09-07 09:56] evgeni commented on #1265
Which Katello version are you running, and what would you expect to happen once you set that option?

[2021-09-07 09:59] SimonLorentz commented on #1265
I´m running against Satellite 6.9 with Katello 3.18.1.

![image](https://user-images.githubusercontent.com/50730652/132325632-af356b81-fcfe-4ea8-9461-d4333c07133d.png)

I would expect, that the arch is set in my repository, like the version.

[2021-09-07 10:02] evgeni commented on #1265
That parameter is only present in the Katello 4.0+ API: https://projects.theforeman.org/issues/31615

You actually should have gotten a warning from Ansible, that the parameter is not supported by your server. Something like "The following parameters are not supported by your server when performing update on repository: arch. They were ignored."

[2021-09-07 10:04] SimonLorentz commented on #1265
Ah okay yes I got it, my bad

[2021-09-07 11:49] evgeni commented on #1265
FWIW, I tried this against a Katello 4.1  installation, and it works exactly as you'd expect ;)

[2021-09-09 17:11] wbclark opened #1284 "ansible native way to use the global registration feature"
##### SUMMARY
#1283 proposed an ansible module and basic role for generating registration commands with the global registration feature. After discussion, the author decided to withraw the role as it was not needed for their immediate goal.

I do think the role could be useful as a higher level / more user friendly interface to the module, particularly if it registers the generated commands as an

[2021-09-12 21:43] achevalet commented on #1231
Just tested it and I confirm that it works like a charm! We can update puppetclasses and/or description in the same task :+1:

[2021-09-17 09:09] evgeni commented on #1231
#1281 is merged

[2021-09-17 09:09] #1231 closed, assigned to nobody

[2021-09-20 13:57] piellick opened #1287 "ERROR! couldn't resolve module/action 'theforeman.foreman.content_view_version_cleanup'."
##### SUMMARY

##### ISSUE TYPE
 - Bug Report

##### ANSIBLE VERSION

[code]

##### COLLECTION VERSION

[code]

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Try to call "theforeman.foreman.content_view_version_cleanup" in a task list like "theforeman.foreman.content_view"

##### ACTUAL RESULTS

[code]

[2021-09-20 15:21] evgeni commented on #1287
`theforeman.foreman.content_view_version_cleanup` is a role, not a module :)

[2021-09-28 14:44] evgeni commented on #1287
closing as not a bug then

[2021-09-28 14:44] #1287 closed, assigned to nobody

[2021-09-28 15:19] #1265 closed, assigned to wbclark

[2021-10-02 14:32] carl-schelin opened #1293 "Organization Can't Have a Comma"
##### SUMMARY
When I used the organization option to create a new organization, I used my personal company, 'Hobgoblin Consulting Services, LLC'. When I tried to use this in further plays, it returned an error, "Can't find Hobgoblin Consulting Services" without the trailing ', LLC'. Recreating the organization without the ", LLC" worked.

##### ISSUE TYPE
 - Bug Report

##### ANSIBLE VERSION

[cod

[2021-10-02 16:14] evgeni commented on #1293
Does that also happen when you write

[code]

As `organizations` of a location are a list, and it might split on the comma.

[2021-10-02 16:21] carl-schelin commented on #1293
I haven't tried that but it's a good question. I'll give it a shot.

Yep, that worked. I was copy/pasting blocks of the variables between playbooks and needed to add 's' to 'organization' for this one to work.

Thanks!

[2021-10-02 16:33] evgeni commented on #1293
Yeah, some entities in Foreman can belong to multiple Organizations (and Locations), and some can't. That's why some modules expect a list (and have an s), and some not.

And then Ansible tries to be helpful when you pass a string to a parameter that expects a list 🙄

[2021-10-11 09:53] sscheib-rh opened #1298 "Misleading documentation for theforeman.foreman.host when using host groups"
##### SUMMARY
The documentation regarding `theforeman.foreman.host` is misleading when using host groups.
The [documentation](https://docs.ansible.com/ansible/latest/collections/theforeman/foreman/host_module.html) mentions:
`hostgroup: Name of related hostgroup.`

Actually it should mention that the *title* has to be used. This is especially important, when working with subgroups.

Please see the

[2021-10-12 14:42] mdellweg commented on #1246
Ping, @ares, @ezr-ondrej this has been open for some while now. Do we know anything about this. Can it be closed?

[2021-10-12 14:53] mdellweg commented on #1293
This sounds to me like there is nothing we can do about it, but documenting it.

[2021-10-12 20:09] wbclark commented on #1284
Discussion on this topic from Discourse: https://community.theforeman.org/t/automating-global-registration-with-ansible/25325

[2021-10-13 07:50] pipopopo commented on #1298
Suggested improvement: https://github.com/theforeman/foreman-ansible-modules/pull/1299

[2021-10-15 07:30] SimonLorentz opened #1301 "Remove of nested hostgroups not idempotent"
##### SUMMARY
When I delete nested hostgroups via Ansible I get an error:

Found no results while searching for hostgroups with title="child"

##### ISSUE TYPE
 - Bug Report

##### ANSIBLE VERSION

[code]

##### COLLECTION VERSION

[code]

##### KATELLO/FOREMAN VERSION

[code]

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

First run will throw an error, that parent can´t be deleted, be

[2021-10-15 08:45] mdellweg commented on #1301
That is surprising to me, as we have a idempotence tests for nested hostgroup deletion (using both syntax).

https://github.com/theforeman/foreman-ansible-modules/blob/develop/tests/test_playbooks/hostgroup.yml#L490
https://github.com/theforeman/foreman-ansible-modules/blob/develop/tests/test_playbooks/hostgroup.yml#L514

Can you verify, the parent host group still exists after the first run?

[2021-10-15 08:52] SimonLorentz commented on #1301
Yes after the first run the child is deleted and the parent still exists, in the second run the parent is deleted and i get an error for the child. In the third run I get an ok for the parent and still an error for the child.

[2021-10-20 16:14] Thulium-Drake opened #1302 "Foreman setting no longer works on Foreman 3+"
##### SUMMARY

foreman.setting no longer works on Foreman 3.0.0

##### ISSUE TYPE
 - Bug Report

##### ANSIBLE VERSION

[code]

##### COLLECTION VERSION

[code]

##### KATELLO/FOREMAN VERSION

[code]

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

OK output
##### ACTUAL RESULTS

[code]

[2021-10-20 16:47] evgeni commented on #1302
That's a foreman bug, will be fixed in 3.0.1

[2021-10-20 17:01] Thulium-Drake commented on #1302
Awesome, thanks for the quick reply! When is it due?

[2021-10-20 17:39] Thulium-Drake commented on #1273
Finally had a moment to dig into this :-) turns out to be a _really_ simple fix (see PR)

FWIW, you can't see the current value for download_concurrency via Hammer or the API, but you can get it when you run the following SQL query on the foreman database:

[code]

:-)

[2021-10-20 19:37] evgeni commented on #1302
"soon"

Looking at https://community.theforeman.org/t/foreman-3-0-1-release-process/25782, I guess next week

[2021-10-21 14:27] Thulium-Drake commented on #1302
For the impatient ones (like me :smile: ), if you manually apply this patch, you can workaround it for now

https://github.com/theforeman/foreman/commit/e980a67383bf4e4a8b3dada0b2341e57f4f2c117

But as this fix already has been committed to be released, I consider the issue fixed! :rocket:

[2021-10-21 14:27] #1302 closed, assigned to nobody

[2021-10-26 14:50] evgeni commented on #1301
what's the behaviour if you change the loop to:

[code]

So it *first* try to delete the child, and only *then* tries to delete the parent?

[2021-10-26 14:52] mdellweg commented on #1301
What happens if you don't have any hostgroup and then try to delete one with a (nonexistent) parent?

[2021-10-26 15:14] SimonLorentz commented on #1301
I hope I will find some time this week to setup a test system and test your decisions, will give you Feedback

[2021-10-27 09:46] evgeni commented on #1301
I can repro this by setting `parent: non-existant` in a playbook, yeah.

[2021-10-27 10:21] evgeni commented on #1301
@SimonLorentz please have a look at https://github.com/theforeman/foreman-ansible-modules/pull/1307 :)

[2021-11-05 08:19] RJBJongejan commented on #854
Any update on this?

[2021-11-15 11:10] #1301 closed, assigned to evgeni

[2021-11-19 17:01] gardar opened #1314 "Lookup plugin(s)?"
##### SUMMARY

It would be helpful if the `resource_info` module (and perhaps `host_info` and others) were available as a lookup plugin, to be able to query the foreman api quickly inside a task, rather than having the lookup done in a separate task.

For inspiration, you can take a look at the lookup plugin that's in the netbox collection
https://docs.ansible.com/ansible/latest/collections/netbox

[2021-11-19 17:45] evgeni commented on #1314
Just so that I understand it correctly, you'd want the same data structure as currently returned by the various `*_info` modules, but available through a lookup? And then you'd use Jinja and filters to get the data you wanted?

Maybe you could provide some example playbooks how you envision using this?

[2021-11-19 21:16] pipopopo commented on #1298
I believe this issue can be closed out.

[2021-11-19 23:18] ephracis commented on #788
I have been using the module to create hosts with compute_attributes on a VMware CR without issues.

[2021-11-20 18:07] #1298 closed, assigned to nobody

[2021-11-22 10:47] gardar commented on #1314
Yes exactly, the simplest way of implementing this I think would be to keep the same data structure, although it could make sense to return it differently but I'm not sure.

Some usage examples:

 * Look up organizations, hostgroups, locations when creating hosts. (This is something that today requires 4 tasks (3 lookups and then the host creation task).)

[code]

* Look up subnets when configurin

[2021-11-24 04:05] parmstro commented on #854
Please split the module into content_view_filter and content_view_filter_rule. Soonest. And implement modulemd. I need this functionality badly. You can't create content views with filters on anything with modules without this. My tests in Satellite show that you need both All RPMS no errata + All Streams no errata + your date based erratum filter or your content view is missing components and ins

[2021-12-07 15:49] evgeni commented on #1314
@mdellweg raised the question whether this should *replace* the existing `*_info` modules, we think probably not, but it's a question that wanted to be asked. (not because you can't run lookups on remote machines).

and the other "obvious" question: how much code can we share between those lookups and the info modules

[2021-12-09 09:13] #1273 closed, assigned to nobody

[2021-12-10 13:43] afeefghannam89 opened #1327 "Setting http_proxy does not work"
##### SUMMARY
the http_proxy plugin does not create a new proxy and claims that it makes changes.  I can create a proxy with the same settings via hammer or UI. However, when I change the **state** parameter to **absent** the created proxy via hammer will be recognized and deleted.

##### ISSUE TYPE
 - Bug Report

##### ANSIBLE VERSION

[code]

##### COLLECTION VERSION

[code]

##### KATELLO/FOREM

[2021-12-10 14:24] evgeni commented on #1327
Can proxies be scoped by Organization? You don't set one in your call, so it might not be finding it for some reason.

[2021-12-10 14:33] afeefghannam89 commented on #1327
Also,when I set my organization and location, I face the same problem.

[2021-12-10 14:41] afeefghannam89 commented on #1327
I use python 2.7 on my system may this be the problem?

[code]
But the other foreman plugins, which I am using also, are working ok only http_proxy does not do its work

[2021-12-10 15:09] evgeni commented on #1327
Nah, 2.7 should be fine. Will try to reproduce on Monday.

[2021-12-12 12:38] afeefghannam89 commented on #1327
The problem is solved. The satellite URL was with http. When I used https, the plugin created my proxy.
But I do not understand why some plugins work with http and some not, do you know?
Moreover, why the plugin (e.g. http_proxy) claims to make changes when I use http, but actually it doesn't?

Thanks

[2021-12-13 09:30] evgeni commented on #1327
It's complicated ;-)

The underlying problem is that the server (Satellite in your case) knows that it has working HTTPS and redirects all requests that come in via HTTP to HTTPS. This works fine for `GET` requests, but `POST` requests often (in most HTTP clients) get converted to `GET` as a security measure so that possible data is not leaked on redirect (See [RFC 7231 sections 6.4.2-6.4.7](https

[2021-12-13 11:17] evgeni commented on #1327
The PR was merged, so if you think this would have prevented you from doing a mistake, please close this issue.

If you think it would not have helped, we might need to think further how we can raise awareness of this problem.

[2021-12-14 15:02] gardar commented on #1314
If it's possible to share most of the code between the two then that would perhaps make it easier to maintain, but could also very well be more work to keep the code compatible with both rather than just maintaining them apart.

Makes me wonder if it would be possible to create a generic ansible plugin that could turn any module into a lookup plugin and vice versa...

[2021-12-14 15:07] mdellweg commented on #1314
Well, lookup plugins are unable to run remote, and if you have a lookup_plugin to wrap modules (to run remote), you'd loose all the speedup benefits for sure.

[2021-12-15 16:12] lovilak commented on #1247
Hello,
I've tried this change : `volume['storage_pod'] = storage_pod['name'] ` instead of
`volume['storage_pod'] = storage_pod['id'] `  in plugins/modules/```compute_profile.py``` and the storage_pod is displayed.

[2021-12-22 00:44] coec opened #1331 "RFE: hostgroup_info"
##### SUMMARY
The appears to not be a way to get hostgroup information via this Anisble collection

##### ISSUE TYPE
Create a plugin "hostgroup_info" that will allow, among other things, retrieving the hostgroup's parameters

[2021-12-22 00:48] coec opened #1332 "hostgroup"
##### SUMMARY
The is currently no way to add a single parameter without overwriting all existing parameters.

Similarly, there is no facility to remove a single parameter.  You need to assemble a list of dictionaries containing the current parameters, the remove the unwanted parameter, then apply the new list of dictionaries.

##### ISSUE TYPE
Provide mechanisms to:
- add a single new parameter
-

[2021-12-22 08:29] evgeni commented on #1327
Closing, after a week of silence.

Feel free to re-open.

[2021-12-22 08:29] #1327 closed, assigned to nobody

[2022-01-04 08:39] #1171 closed, assigned to ares

[2022-01-06 17:52] sabman3 opened #1334 "The host_info module should be case insensitive"
##### SUMMARY
It appears that the host_info module returns nothing if the "name" parameter does not match the same case as the host is registered. However the search function of the web API (https://<host>/api/hosts/?search=<name>) does not require this. It searches and returns data regardless of the case. I did a quick look and can't determine if the module does do a search first to get the ID an

[2022-01-24 22:08] mrjk opened #1336 "Module theforeman.foreman.host fails when Host Parameters is defined"
##### SUMMARY
Module `theforeman.foreman.host` fails when a parameter is set in `Host Parameters` in Foreman. It may also impact more modules in different conditions.

##### ISSUE TYPE
 - Bug Report

##### ANSIBLE VERSION

[code]
I explicitly mention this is Python 3.10. I know those module does not support (yet) this version, but it's worth mention it.

##### COLLECTION VERSION

[code]

##### KAT

[2022-01-25 06:59] evgeni commented on #1336
The short version is: your Foreman is too old and we don't support it anymore.

The longer is: Foreman introduced typed parameters in either 1.22 or 1.24 and the API would return the type correctly since. We do inject type=string for parameters coming from a playbook, if nothing else is set, but try not to guess what's in Foreman.

Your hack seems to solve the issue for you, so feel free to use it

[2022-01-26 09:14] Andersson007 opened #1338 "Important information for collection maintainers"
##### SUMMARY
Dear maintainers,

This is important for your collections!

- In accordance with the [Community decision](https://github.com/ansible-community/community-topics/issues/51), we have created the [news-for-maintainers](https://github.com/ansible-collections/news-for-maintainers) repository for announcements of changes impacting collection maintainers (see the [examples](https://github.co

[2022-01-27 03:11] mrjk commented on #1336
Hey @evgeni , thanks for your quick answer.

I'm agree with you in the sense of our instance is way too old to be supported. However, from a coder perspective, I guess it would be also a good idea to have a `string` as default type when the `parameter_type` is missing :p

Anyway, thanks for your support, I'll keep my hack until we'll update our Foreman instance.

[2022-01-27 07:33] #1336 closed, assigned to nobody

[2022-02-01 13:06] evgeni commented on #1338
thanks

[2022-02-01 13:06] #1338 closed, assigned to nobody

[2022-02-09 14:14] ericzolf opened #1341 "[ENH] add wait and validity option to repository_sync"
* a `wait: true/false` to wait for the synchronization to finish (or not)
* a `validity: TIME` to only start the synchronization if the last sync happened more than TIME ago (e.g. TIME in seconds or hours)

This would make it easier to add the synchronization to a complete installation/configuration automation of Satellite without having to wait longer than absolutely necessary when calling again

[2022-02-21 13:22] chjohnst opened #1345 "Manage discovered hosts"
##### SUMMARY

Having the capability to manage discovered hosts with the following:

- info
- delete
- refresh
- reboot
- provision

##### ISSUE TYPE

 - Feature Idea

[2022-03-02 08:30] evgeni commented on #1341
1. this you can implement with Ansible, no need for the module to support it (https://github.com/theforeman/foreman-ansible-modules#known-issues has a link)
2. this wasn't possible the last time I looked, because the last sync time wasn't well exposed in the API. [this is now implemented in Katello 4.2.0](https://projects.theforeman.org/issues/31590), so one could probably get this running, even t

[2022-03-03 08:44] evgeni opened #1352 "LooseVersion import doesn't work on ansible < 2.9.20 and < 2.10.8"
##### SUMMARY

Originally found by @igramic and reported to me via chat.

When using Ansible 2.9.19 and older, the change from #1347 makes our helper fail to load and thus the whole collection unusable:

[code]

Whereas on 2.9.20 and newer, this correctly loads and executes:
[code]

To the best of my knowledge, this was fixed in 2.9.20 via https://github.com/ansible/ansible/commit/f8caa43dc7a7beaf

[2022-03-03 08:44] evgeni commented on #1352
cc @ehelms @mdellweg for visibility

[2022-03-03 17:06] ehelms commented on #1352
Is #1347 just a nice to have? This looks like it only affects the two Debian versions? (and how close are we to deprecating them?)

[2022-03-03 17:20] rpurcelldesj commented on #1352
We are experiencing the problem here. Our tower template using the foreman collection aren't working anymore using Ansible 2.9.2, we are switching back to the v3.1.0 of the collection untill further notice.

[2022-03-03 17:32] evgeni commented on #1352
@rpurcelldesj why is your tower still running 2.9.2?

[2022-03-03 17:35] rpurcelldesj commented on #1352
@evgeni I do agree it should be more up to date but unfortunately for now it is what it is. We are in the process of upgrading to automation platform and we should fix this and stay up to date in the near future..

[2022-03-03 18:20] evgeni commented on #1352
@ehelms right now, its "nice to have as it eliminates a warning when you run sanity tests on python 3.10" (watch https://github.com/theforeman/foreman-ansible-modules/pull/1353 if anything will actually fail).

Yes, it affects Debian 10 Buster and Ubuntu 20.04 Focal, we're close to drop Buster, but we need to first gain support Ubuntu 22.04 (which isn't released yet) before we can drop that.

And

[2022-03-03 18:30] evgeni commented on #1352
[code]

[2022-03-08 11:24] mannyci opened #1355 "Smart class parameters add matcher always overrides existing matchers"
##### SUMMARY
Puppet smart class params always overrides existing params for a smart class parameter. It removes all previous matchers and replaces with the new one

##### ISSUE TYPE
 - Bug Report

##### ANSIBLE VERSION
[code]

##### COLLECTION VERSION

[code]

##### KATELLO/FOREMAN VERSION
[code]

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS
Add this matcher to the sc-param matchers li

[2022-03-08 22:11] rapgro opened #1356 "VMware Horizon"
##### SUMMARY
Hello. Are there any chances to get support for (proprietary) VMware Horizon? Horizon is a special product from VMware company to support Blast protocol with better compression for graphics application. It can use composer or instant clones. There's now a powerful RESTful API based on Python to instruct server functionality.

See https://github.com/Magneet/Horizon_Rest_API_Python
htt

[2022-03-09 05:47] evgeni commented on #1356
To get support where? These Ansible modules just talk to the Foreman API. Does Foreman support Horizon?

[2022-03-09 08:23] rapgro commented on #1356
not supported yet, where to file feature request there?

[2022-03-09 08:47] evgeni commented on #1356
https://projects.theforeman.org/

[2022-03-09 08:51] rapgro commented on #1356
yeah, created an account there in community but I fail to find option for new thread

[2022-03-09 08:55] evgeni commented on #1356
https://projects.theforeman.org/projects/foreman/issues has a "new issue" link in the right upper corner https://projects.theforeman.org/projects/foreman/issues/new

[2022-03-09 09:00] rapgro commented on #1356
thanks, still waiting for e-mail confirmation

[2022-03-14 19:25] #628 closed

[2022-03-17 18:54] rpurcelldesj commented on #1352
Hi guy's, just a followup on my part, does the PR https://github.com/theforeman/foreman-ansible-modules/pull/1353 have some chance to get merged or the change https://github.com/theforeman/foreman-ansible-modules/commit/5dc0f47d7feeb8b2624d89360635ff40c297ccbf is here to stay ?

Thanks

[2022-03-17 21:51] reenberg opened #1358 "Attribute `prior` cannot be updated on a lifecycle environment."
##### SUMMARY
Given the examples in the `theforeman.foreman.lifecycle_environments` role: Running the playbook once creates them with the `prior` reference linking the environments together.  Running it a second time results in an error, not being able to update the attribute.
Note that it does work when `prior` is Library, but when it is an another "actual" environment, then it fails.

A warning

[2022-03-17 23:33] reenberg commented on #1358
Hmm seems like a fault toatally on my part.
I started with the Example from the README, which had production pointing at Dev, but I changed it after initially creating them, such that it matched the Library -> Dev -> Test -> Prod structure, which then obviously failed.

I'll create a PR for a fix of the README.

[2022-03-17 23:33] #1358 closed, assigned to nobody

[2022-03-19 20:01] reenberg opened #1362 "Sugestion for a better way to handle multiple organizations in Katello roles"
##### SUMMARY
I'm working with multiple organizations in my Foreman Katello setup, and its really bad to use the supplied Katello roles (for example the `theforeman.foreman.lifecycle_environments`).  It almost works directly against you by having hardcoded the  organizations to be the `foreman_organization` variable.

My current fix is to have the Foreman roles  under the roles section of my playb

[2022-03-23 11:36] evgeni commented on #1352
@rpurcelldesj we're trying to restore compatibility with those old versions.

[2022-03-23 11:57] #1352 closed, assigned to nobody

[2022-03-24 19:52] mpl241 opened #1366 "Hosts API to Reports API, why?"
##### SUMMARY
Sometime after upgrading `theforeman.foreman` collection, the following warning was always displayed when using `theforeman.foreman.foreman` inventory plugin:

[code]

It took some time to track this down, but I was able to figure out what generated the warning (`theforeman.foreman.foreman`) and what triggered the warning.

Some background, I configure Ansible to use a dedicated Sate

[2022-03-25 11:21] evgeni commented on #1366
The change happend in the [3.0.0](https://github.com/theforeman/foreman-ansible-modules/blob/develop/CHANGELOG.rst#v3-0-0) release of the modules (in https://github.com/theforeman/foreman-ansible-modules/pull/1291 to be precise), as the Reports API is more performant if you have more than a couple of hosts.

While you're right, this needs to generate a report on each (uncached) inventory run, this

[2022-03-25 11:40] arunas13 opened #1368 "job_templates module does not have effective user settings"
##### SUMMARY
job_template does not have effective user settings "Value", "Current User" and "Overridable", while these settings exists in RestAPI and could be implemented.
Also "Timeout to kill" is not existing too. I think this setting is quite important and useful. This can be set through RestAPI too, but would be great to have it in module.

##### ISSUE TYPE
 - Feature Idea

[2022-03-25 12:59] mpl241 commented on #1366
Thanks for the explanation and the effort you put into this project.  It's much appreciated.  Caching is probably the best way to deal with repeated calls to Forman for inventory, which is a whole other problem I'm having.  I guess it's time to see why my Ansible cache configuration is not working (again)!

-Matt

[2022-03-25 12:59] #1366 closed, assigned to nobody

[2022-03-25 13:08] evgeni commented on #1366
There is an open issue around caching: https://github.com/theforeman/foreman-ansible-modules/issues/1246

I however did never investigate it further :(

[2022-03-25 14:21] achevalet commented on #1218
Just a heads-up :-) (https://github.com/theforeman/foreman/pull/8719)

[2022-03-28 08:37] stufdav opened #1369 "activation_key : The following required parameters are missing: organization_id"
##### SUMMARY
activation_key fails when used against katello 4.3.

##### ISSUE TYPE
 - Bug Report

##### ANSIBLE VERSION
[code]

##### COLLECTION VERSION
[code]

##### KATELLO/FOREMAN VERSION

[code]

##### STEPS TO REPRODUCE
Use activation_key module
[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2022-03-28 16:48] mpl241 commented on #1246
Caching is a problem, at least with my combination of Ansible (2.9.27) and `theforeman.foreman` inventory plugin (3.2.0).  The contents of the cache is the result of the status call to Foreman/Satellite, not the actual inventory (see below).  A couple minutes of looking at `plugins/inventory/foreman.py` reveals my rudimentary understanding of python and my non-existent understanding of how Ansible

[2022-03-29 07:19] evgeni commented on #1369
Can you paste the full error message, preferably generated with `ansible-playbook -vvv`?

[2022-03-29 13:32] stufdav commented on #1369
that is the real issue :
[code]
same collection installed in 2 different folders...

[2022-03-29 13:34] #1369 closed, assigned to nobody

[2022-04-06 05:02] Siddhu1096 opened #1372 "theforeman.foreman.content_view_filter unable to create rules"
##### SUMMARY

theforeman.foreman.content_view_filter is unable to create rules. It says the 3 other packages with the same name found even though we have specified the correct content view and product name. Raising the issue here as directed from community portal of foreman. For reference - https://community.theforeman.org/t/how-to-give-repositories-input-in-content-view-filter/27993/5?u=almond

[2022-04-06 09:22] evgeni commented on #1352
3.3.0 just hit Galaxy, and besides me forgetting to add a changelog entry for this, it has the fix you require :)

[2022-04-07 14:58] gardar commented on #1366
FYI @mpl241 Satellite Includes the role `Ansible Tower Inventory Reader` which works for the foreman inventory user. Granted it has slightly broader permissions than you listed, but it's good to have a role that works out of the box.

@evgeni it would be good if the required permissions for the inventory plugin would be listed in the plugin documentation.
(And the same could be said for the other

[2022-04-07 15:23] gardar opened #1378 "Get ansible roles via inventory plugin"
##### SUMMARY
With the ansible inventory plugin I would like to be able to group together in the hosts that have the same ansible role configured.

I can get the list of single hosts that have the ansible role applied with a host filter like this: `host_filters: 'ansible_role="namespace.role"'` but that does not include hosts that have the ansible role applied from a host group.
This might be a li

[2022-04-11 13:29] #1260 closed, assigned to wbclark

[2022-04-13 13:18] dreua commented on #1366
Let's assume I'd actually wanted to use the newer/better API and got the `Failed to use Reports API`-message, what are the requirements to make this work? Do I need to install/enable the ansible-plugin(s) in Foreman? Or is this just easily fixed by granting the correct permissions for the API-user?

[2022-04-13 18:51] #1015 closed, assigned to nobody

[2022-04-18 22:02] jlindquist-godaddy commented on #1246
I just started using Foreman, and subsequently this plugin with Ansible, and just noticed the same issue where the cache settings don't work.  The inventory cache file is basically just caching the API url and version/statuses as mentioned above.  Any thoughts on getting this working?  I'm not terribly well versed with the plugin architecture, but can try and take a crack at it if there are sugges

[2022-04-18 22:03] jplindquist commented on #1246
I just started using Foreman, and subsequently this plugin with Ansible, and just noticed the same issue where the cache settings don't work. The inventory cache file is basically just caching the API url and version/statuses as mentioned above. Any thoughts on getting this working? I'm not terribly well versed with the plugin architecture, but can try and take a crack at it if there are suggestio

[2022-04-19 14:37] mpl241 commented on #1246
I happened to notice yesterday when using the `community.vmware.vmware_host_inventory` inventory plugin, the cache populated as expected using the same `ansible.cfg` settings from my [previous post](https://github.com/theforeman/foreman-ansible-modules/issues/1246#issuecomment-1080896970), so the problem appears to be isolated to the `theforeman.foreman.foreman` inventory plugin.

[2022-04-20 10:13] evgeni commented on #1246
Okay, so I investigated this a bit, and it's only not using the cache when you're using the Reports API (which is the default these days). Setting `use_reports_api: false` makes the cache being used for me, but then you don't benefit from the new stuff.

I'll see that the new API also gets caching implemented.

[2022-04-20 11:25] evgeni commented on #1246
I've posted a patch in https://github.com/theforeman/foreman-ansible-modules/pull/1382 and would appreciate if y'all could test it.

[2022-04-20 15:14] mpl241 commented on #1246
@evgeni, I tested the new version of the plugin, and the plugin populates the cache correctly now. My Satellite system has 87 hosts for reference.

[code]
[code]
[code]
Below is an example of a cached host entry:
[code]
I still see the result from /api/v2/status in the cache. I'm not sure if this is expected.
[code]

[2022-04-20 15:17] evgeni commented on #1246
It is expected, as we cache http requests and their replies.

[2022-04-20 16:47] jplindquist commented on #1246
I can confirm this does cache the inventory now as expected as well 🎉

[2022-04-20 17:00] evgeni commented on #1246
Awesome, thank y'all for reporting, debugging and testing!

[2022-04-20 17:00] #1246 closed, assigned to nobody

[2022-04-20 18:23] jplindquist commented on #1246
@evgeni One more follow-up now that I'm trying to use this more in depth, but while I am getting inventory caching, it's missing some of the additional host attributes like foreman_facts when reading from the cache that were being used when the inventory was causing some composed keys and keyed_groups to fail to load

Sample cached host object
[code]

[2022-04-20 19:08] evgeni commented on #1246
Are you sure it's the cache? The code that is now in the "not in cache" branch shouldn't be doing anything about these.

[2022-04-20 19:14] jplindquist commented on #1246
I can try and debug more, but when I deleted the cache file and reran the inventory I do get the composed variables and keyed groups initially, but once the cache is generated they're gone on subsequent runs or inventory lists

[2022-04-20 20:23] evgeni commented on #1246
Interesting. I'll see that I reproduce that tomorrow. Thanks!

[2022-04-21 11:19] evgeni commented on #1246
Okay, reproduced with `want_facts: true`, let's see *why*

[2022-04-21 11:53] evgeni commented on #1246
@jplindquist please have a try: https://github.com/theforeman/foreman-ansible-modules/pull/1383

[2022-04-21 13:55] jplindquist commented on #1246
That looks like it worked!  Thank you so much!

[2022-04-21 14:07] mpl241 commented on #1246
Looks good to me too.  When using `want_facts: true`, subsequent runs don't modify the cache.

[2022-04-25 13:53] #1274 closed, assigned to evgeni

[2022-04-25 13:56] evgeni commented on #1246
Thanks again for testing! Merged :)

[2022-04-27 05:47] gvde opened #1388 "mirror_on_sync is deprecated"
##### SUMMARY
Running against a katello 4.3 or 4.4 server my playbook always wants to add
[code]
to all of my repositories. However, mirror_on_sync has been deprecated and replaced by mirroring_policy.

##### ANSIBLE VERSION

[code]

##### COLLECTION VERSION

[code]
Well, initially I have used the rpm ansible-collection-theforeman-foreman-3.1.0-2.el8.noarch, then I have tried the latest version fr

[2022-04-27 14:23] gvde opened #1389 "Handling of http_proxy, ssl_ca_cert, ssl_client_cert, ssl_client_key in repositories"
##### SUMMARY
Running against a katello 4.3 or 4.4 server my playbook always wants to remove
[code]
to all of my repositories. I don't use http_proxy not ssl client certs, it's not supposed to be set and isn't.

##### ANSIBLE VERSION

[code]

##### COLLECTION VERSION

[code]
Well, initially I have used the rpm ansible-collection-theforeman-foreman-3.1.0-2.el8.noarch, then I have tried the latest v

[2022-04-27 18:25] evgeni opened #1391 "document filters using sidecar yaml"
##### SUMMARY

ansible 2.14 got a new feature for documenting filters, use it!

https://github.com/ansible/ansible/commit/b439e41a915ccec0ccbabecc966919ea406db74e

##### ISSUE TYPE
 - Feature Idea

[2022-04-29 07:49] evgeni commented on #1388
Hey @gvde, thanks for the report!

Would you mind having a look at https://github.com/theforeman/foreman-ansible-modules/pull/1392?

[2022-04-29 07:50] evgeni commented on #1389
Would you mind checking if this goes away once the `mirror_on_sync` fix from https://github.com/theforeman/foreman-ansible-modules/pull/1392 is in?

[2022-04-29 09:42] gvde commented on #1388
@evgeni Thanks. Looks good to me. But it's not only for Katello 4.4 but also for 4.3. The new mirroring policy has been introduced with 4.3.

[2022-04-29 09:44] gvde commented on #1389
Yes, it does. I guess I don't need to understand why fixing mirror_on_sync removes the other differences?

[2022-04-29 09:47] evgeni commented on #1388
Ah, indeed. Didn't notice it was picked back. Will update the docs.

[2022-04-29 09:53] evgeni commented on #1389
Well, as you asked, I'll try to explain. ;-)

When we submit a change to the Foreman API, it returns a JSON representation of the now-modified object. In your case the repository doesn't have a Proxy or SSL certs set, so those parameters are `null`. Now our code goes an compares the reply with what was actually set, but you didn't set Proxy or SSL to `null` and thus there is a "difference".

If yo

[2022-04-29 10:03] #1388 closed, assigned to nobody

[2022-04-29 16:15] gvde opened #1396 "repository module keeps setting upstream_password"
##### SUMMARY
Running against a katello 4.3 or 4.4 server my playbook always wants to change repositories which have an upstream_password set:

[code]

##### ANSIBLE VERSION

[code]

##### COLLECTION VERSION
Using latest version 3.3.0 from ansible-galaxy with some patches from pull requests.

##### KATELLO/FOREMAN VERSION

[code]

##### STEPS TO REPRODUCE
Set upstream_username and upstream_passwor

[2022-04-29 17:02] evgeni commented on #1396
The problem is that the API doesn't return the password (which is good), but then the module doesn't have anything to compare against.

In other modules we documented this behavior, in repository we forgot.

[2022-05-01 11:06] gvde commented on #1389
Thanks for the explanation. Makes sense.

So I close this issue as it's not really an issue but just a side effect of the mirror_of_sync setting which has been solved with #1392

[2022-05-01 11:06] #1389 closed, assigned to nobody

[2022-05-02 10:21] evgeni commented on #1389
I've still opened https://github.com/theforeman/foreman-ansible-modules/pull/1398 as I think this is a valuable change to make ;)

[2022-05-03 04:54] gvde opened #1399 "Changing label of organziation"
##### SUMMARY
Running against a katello 4.3 or 4.4 server my playbook tries to change the label of my organization if I have changed the label later in the playbook:

[code]

##### ANSIBLE VERSION

[code]

##### COLLECTION VERSION
Using latest version 3.3.0 from ansible-galaxy with some patches from pull requests.

##### KATELLO/FOREMAN VERSION

[code]

##### STEPS TO REPRODUCE
Create an organizat

[2022-05-03 05:51] evgeni commented on #1399
Interesting.

The "parameter not supported" warning is shown when the parameter is not in the list of accepted parameters for the executed action, published by the server.

For some reason, label *is* published in the list of parameters for update here, yet the server returns an error if you try to pass it.

Ultimately, I'd argue the apidoc published by the server is wrong.

But I wonder if we sho

[2022-05-03 07:47] evgeni commented on #1399
I've filed https://projects.theforeman.org/issues/34859 and opened https://github.com/Katello/katello/pull/10084 to fix it at the origin.

[2022-05-03 08:12] mdellweg commented on #1399
At the least, the api doc should exclude the write once fields from upgrade. I wonder how the ansible module should handle it. Should it fail on the attempt, or should it ignore changing it? Maybe label is only valid for `present_with_defaults`.

[2022-05-03 08:42] evgeni commented on #1399
Yeah, in the cases where the write once field is absent from the apidoc (like in the repository controller), we just raise a "The following parameters are not supported by your server when performing update" warning and carry on.

This is what the above PR against Katello implements (and we could locally patch the APIdoc in the meantime).

I just wonder if in this very specific and common case we

[2022-05-03 13:04] gvde opened #1400 "activation_key module keeps updating content_overrides"
##### SUMMARY
Running against a katello 4.3 or 4.4 server my playbook always wants to change the content_overrides or my activation keys.

[code]

##### ANSIBLE VERSION

[code]

##### COLLECTION VERSION
Using latest version 3.3.0 from ansible-galaxy with some patches from pull requests.

##### KATELLO/FOREMAN VERSION

[code]

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS
Don't suggest an

[2022-05-04 08:44] gvde opened #1401 "operatingsystems ambiguity"
##### SUMMARY
Running against a katello 4.3 or 4.4 server my playbook complains about the operating systems to be created/updated:

[code]

It seems the problem is that multiple operating systems can have the same name, e.g. AlmaLinux. I have AlmaLinux with major version 8 and no minor version (AlmaLinux 8) and one with minor version 5 (AlmaLinux 8.5)

When adding and syncing AlmaLinux repositorie

[2022-05-04 15:16] evgeni commented on #1401
I think your yaml is wrong.

Shouldn't it be

[code]

[2022-05-04 15:30] gvde commented on #1401
Yes. You are right. I was already wondering why I got this error. Initially it was a different one which I now get again:

[code]

In check mode it looks as if it wants to create a new entry even though it already exists... Both operating systems already exist on the server.

[2022-05-10 09:46] evgeni commented on #1401
can you show us the output of `curl -u admin:changeme https://foreman.example.com/api/operatingsystems`?

[2022-05-10 11:46] gvde commented on #1401
Here is the output from my new server:
[code]

[2022-05-10 14:58] gvde opened #1402 "Adding puppet classes to nested hostgroup"
##### SUMMARY
Running against a katello 4.3 or 4.4 server my playbook doesn't set puppet classes for nested hostgroups.

[code]

It creates the host group org_dns with centos7-base as parent and as expected almost everything is inherited from centos7-base. The group is inheriting the two classes org_base and org_ipa as well but it doesn't add org_dns

##### ANSIBLE VERSION

[code]

##### COLLECTIO

[2022-05-13 06:40] evgeni commented on #1401
Oooh, mhh. Operating systems in Foreman are super weird, so we have some crude logic to search for them. It goes essentially like this: "try to find by description, if that fails, look up by name/major/minor".

Now your playbook sets description to "AlmaLinux 8" but the currently existing OS doesn't have that set, so it's not finding it by that (fine!). Next it should try name/major/minor (you did

[2022-05-13 07:08] evgeni commented on #1401
Got it!

It searches for "name=AlmaLinux,major=8", but that returns *two* results, and thus it discards the result.

[2022-05-13 07:11] evgeni commented on #1401
[code]

This should fix the issue for you.

[2022-05-13 08:12] gvde commented on #1401
Shouldn't it possible to distinguish between searching for major=8,minor=null and major=8,minor=*?

[2022-05-13 08:17] evgeni commented on #1401
See my explanation in #1407 on why this is not as trivial as it sounds (TL;DR: minor can be null, minor can be an empty string)

[2022-05-13 08:20] evgeni commented on #1401
Oh, actually, it can not. It's always an empty string then:
https://github.com/theforeman/foreman/blob/75e7c0bf6d3fa1049931ec9000a0819e72201a05/app/models/operatingsystem.rb#L377-L382

[2022-05-13 09:12] #1401 closed, assigned to nobody

[2022-05-16 05:30] felixfontein opened #1409 "[IMPORTANT] Missing PSF-license.txt file"
##### SUMMARY
plugins/module_utils/_version.py mentions licenses/PSF-license.txt, which doesn't exist yet.

Please also add that file (from https://github.com/ansible/ansible/blob/devel/licenses/PSF-license.txt) to all branches that contain plugins/module_utils/_version.py and create new releases ASAP. Thanks!

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
plugins/module_utils/_version.py
PS

[2022-05-16 06:03] felixfontein commented on #1409
As pointed out in https://github.com/ansible-collections/community.general/pull/4675#issuecomment-1127245658 by @gotmax23, ansible-core includes an older version of the license file. It's better to pull the updated license from https://github.com/python/cpython/blob/v3.9.5/LICENSE (which contains multiple other licenses as well that can be stripped).

[2022-05-16 09:02] #1409 closed, assigned to nobody

[2022-05-25 06:41] gvde opened #1416 "Simple Content Access"
##### SUMMARY
It's currently not possible to change simple content access for an organization after uploading an manifest.

It's not possible to set it after the fact.

It's also not possible to set it using role theforeman.foreman.manifest.

Only task theforeman.foreman.redhat_manifest has an option for it (don't know if that actually works, though).

However, we are using a downloaded manifest,

[2022-05-25 07:49] gvde opened #1418 "activation_keys doesn't handle content_overrides correctly"
##### SUMMARY
Running against a katello 4.3 or 4.4 server my playbook doesn't seem to handle activation keys content override correctly. During every run it find diffs although it's correctly configured. It doesn't list the current content_overrides correctly. Either they are assumed to be empty or containing only some.

[code]

##### ANSIBLE VERSION

[code]

##### COLLECTION VERSION
Using latest

[2022-05-25 13:03] gvde opened #1420 "automated sync of product or repository"
##### SUMMARY
theforeman.foreman.repositories configures products and repository. If you use ansible for an initial setup of a katello installation you'll need at least the content of the baseos repos, for instance to use it as kickstart repo in a hostgroup. So it would be convenient if it was possible to sync the repo directly after creating.

##### ISSUE TYPE
Add a flag like "sync_now" to the ro

[2022-05-30 04:49] gvde opened #1421 "Module to import ansible roles"
##### SUMMARY
There is little (no?) support for the ansible plugin, yet, e.g. there is no module to initiate a role import.

##### ISSUE TYPE
Missing the equivalent of puppetclasses_import for ansible...

[2022-05-31 11:19] gardar commented on #1332
This issue is not just affecting the hostgroup module, I have ran into this issue in other modules too, for example the host module.

Having to do multiple steps (reading existing values, merging it with your desired config and then finally applying it) is unusual and not what you would expect from having used other ansible modules in the past.

I think there should be a parameter in the modules w

[2022-06-01 09:41] gvde opened #1422 "external_usergroup does not support multiple auth sources."
##### SUMMARY
theforeman.foreman.external_usergroup in 3.4.0 does not allow to set multiple authentication sources to link a user group to multiple sources, e.g. to External and an LDAP.

See apidoc

https://apidocs.theforeman.org/katello/latest/apidoc/v2/external_usergroups/index.html

##### ISSUE TYPE
 - Bug Report

##### ANSIBLE VERSION

[code]

##### COLLECTION VERSION

[code]

##### KATELLO/F

[2022-06-01 13:22] lpther opened #1423 "theforeman.foreman.smart_proxy module -> download_policy: background looks broken"
##### SUMMARY
Changing the download_policy of the smart_proxy to "background" results in an error.

##### ISSUE TYPE
 - Bug Report

##### ANSIBLE VERSION

[code]

##### COLLECTION VERSION

[code]

##### KATELLO/FOREMAN VERSION

[code]

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

download_policy set to background

##### ACTUAL RESULTS

Note that it works for "immediate". Setting it to

[2022-06-01 14:57] gvde commented on #1423
Well, that is a documentation error in the module. There is no option "background" anymore. This option has been deprecated with Katello 4.0. As the message says:
[code]

[2022-06-01 15:01] gvde commented on #1423
Created pull request #1424

[2022-06-03 15:23] gvde commented on #1402
O.K. I think I've found the reason. The problem is here:
https://github.com/theforeman/foreman-ansible-modules/blob/770800e6a4ecf3092252936371f7ad03a19dd8d1/plugins/modules/hostgroup.py#L197-L198

It expects an environment_id. However, it's a nested hostgroup and it inherits the environment from the parent hostgroup. Due to that, environment_id is null:

[code]

I have double-checked: I have chose

[2022-06-13 07:31] gvde commented on #1388
@evgeni I am somewhat confused right now. I have 3.4.0 installed but I just ran my playbook again and it wants to set mirror_on_sync on all my repositories even though it has a mirroring_policy already set.

[code]

[2022-06-13 09:20] gvde opened #1426 "theforeman.foreman.smart_class_parameter handling of hidden_value"
##### SUMMARY
theforeman.foreman.smart_class_parameter in 3.4.0 always wants to remove the hidden_value parameter.

##### ISSUE TYPE
 - Bug Report

##### ANSIBLE VERSION

[code]

##### COLLECTION VERSION

[code]

##### KATELLO/FOREMAN VERSION

[code]

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

It shouldn't show hidden_value in diff each run.

##### ACTUAL RESULTS

It looks like this

[2022-06-13 10:08] evgeni commented on #1388
@gvde without seeing the playbook, it's hard to say ;)

[2022-06-13 10:49] gvde commented on #1388
@evgeni Oh. I thought it was in the initial post...

[code]

Whenever I run it I get this:
[code]

I have stripped it down here to these two repos, but all are affected.

[2022-06-13 10:50] evgeni commented on #1388
Is that with or without https://github.com/theforeman/foreman-ansible-modules/pull/1419?

[2022-06-13 10:57] gvde commented on #1388
OMG. By now I have so many issues open, so many hotfixes and workarounds implemented to get it properly working until the issues have been properly resolved, that I am actually loosing the track... With #1419 of course, it won't complain about changes anymore. I have assumed this was already in with #1392...

[2022-06-13 11:25] gvde commented on #1396
O.K. Closing this.

[2022-06-13 11:25] #1396 closed, assigned to nobody

[2022-06-13 11:27] gvde commented on #1400
Duplicate. See #1418

[2022-06-13 11:27] #1400 closed, assigned to nobody

[2022-06-14 13:53] Fabian1976 commented on #854
Any update on this?

[2022-06-14 15:00] parmstro commented on #854
Not yet, my day job is getting in my way. :-)
I have started working on it.

Paul Armstrong
Principal Technical Specialist
Red Hat Technical Sales Organization
647-285-0044

On Tue, Jun 14, 2022 at 9:53 AM Fabian van der Hoeven <
***@***.***> wrote:

[2022-06-15 08:42] gvde opened #1428 "theforeman.foreman.setting doesn't handle default value (null) correctly"
##### SUMMARY
theforeman.foreman.setting in 3.4.0 doesn't set null, if null is default and settings is supposed to be reset but sets empty string "" instead. For example:

State before:
[code]

running ansible
[code]

state after:
[code]

##### ISSUE TYPE
 - Bug Report

##### ANSIBLE VERSION

[code]

##### COLLECTION VERSION

[code]

##### KATELLO/FOREMAN VERSION

[code]

##### STEPS TO REPRODUCE

[2022-06-15 08:55] gvde opened #1429 "theforeman.foreman.setting exception on some settings"
##### SUMMARY
theforeman.foreman.setting in 3.4.0 throws an exception for some settings with default setting, e.g. foreman_ansible_proxy_batch_size:

[code]

Same applies to audits_period. So it looks like settings with integer values and default null are affected.

##### ISSUE TYPE
 - Bug Report

##### ANSIBLE VERSION

[code]

##### COLLECTION VERSION

[code]

##### KATELLO/FOREMAN VERSION

[code

[2022-06-15 13:49] glenc2004 opened #1430 "Greater control over hostcollection naming in the inventory plugin"
##### SUMMARY
Allow the ansible tower/aap admin greater control over the hostcollection naming when using the inventory script

##### ISSUE TYPE
As of now it seems there is no control over the hostcollection names that are generated by the inventory script when you enable to hostcollection function. As of today the names comes up as:

@hostcollection__name_of_collection_in_sat

I would like to see

[2022-06-29 14:37] lpther opened #1435 "os_family choices in operatingsystem appears to be outdated"
##### SUMMARY

When using the role theforeman.foreman.operatingsystem, I want to set the operating system "Fedora CoreOS" but I am unable to set it from this collection.

##### ISSUE TYPE
 - Bug Report

##### ANSIBLE VERSION

[code]

##### COLLECTION VERSION

[code]

##### KATELLO/FOREMAN VERSION

[code]

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

To be able to select the operating

[2022-06-29 15:06] evgeni commented on #1435
Per https://github.com/theforeman/foreman/blob/877eb770fb20b3bdb541114ad671d6a74ed4dd9f/app/models/operatingsystem.rb#L61 the family ia Fcos and it seems to be missing in our list indeed!

[2022-07-01 14:20] maciej-markowski opened #1436 "content_view and content_view_publish roles variable isse"
##### SUMMARY
content_view and content_view_publish are using the same named variable but first one expects a list of dictionaries while second list of strings.

##### ISSUE TYPE
 - Bug Report

##### ANSIBLE VERSION

[code]

##### COLLECTION VERSION

[code]

##### KATELLO/FOREMAN VERSION

[code]

##### STEPS TO REPRODUCE

Try to use both roles from the same playbook

[code]

##### EXPECTED RESULTS

[2022-07-04 06:52] gvde commented on #1436
It's unclear to me what you mean exactly.

There are two roles:

- `theforeman.foreman.content_view_publish`
- `theforeman.foreman.content_views`

There is no role with "content_view".

There is only a module `theforeman.foreman.content_view`.

The role content_views creates/updates a content view. It uses the content_view module to do so. So obviously the role content_views needs a list of dictio

[2022-07-04 10:39] evgeni opened #1438 "support download_policy:inherit for proxies"
##### SUMMARY
SSIA

##### ISSUE TYPE
 - Feature Idea

[2022-07-04 11:26] maciej-markowski commented on #1436
Sorry for the typo, I meant content_views role.
Both roles are using the same named variable, which are of different type so it is confusing and eg.  if you want to use both roles from single playbook, you cannot just define the variable in eg. in host vars, but you need to define it separately for each role eg.:

[code]

Basically, if role content_view_publish would use `content_view.name` inside

[2022-07-04 11:31] gvde opened #1441 "theforeman.foreman.host handling of content_source, content_view, lifecycle_environment"
##### SUMMARY
theforeman.foreman.host doesn't pick up the current settings for content_source, content_view, lifecycle_environment which results in these parameter being set on each run or showing them as diff in check mode.

##### ISSUE TYPE
 - Bug Report

##### ANSIBLE VERSION

[code]

##### COLLECTION VERSION

[code]

##### KATELLO/FOREMAN VERSION

[code]

##### STEPS TO REPRODUCE

[code]

####

[2022-07-05 10:13] #1438 closed, assigned to evgeni

[2022-07-08 12:10] Thulium-Drake commented on #1079
#1431 addresses one of the items on the todo list :-)

[2022-07-12 09:24] milanzelenka opened #1442 "Add state present_with_defaults to host and hostgroup module"
##### SUMMARY
Adding **`state: present_with_defaults`** to host (and hostgroups) module helps to idempotency in playbook with build: true.

[code]
=> existing installed XY host will be switched into build mode again (and re-builded depending on provision_method)

[code]
=> no change on existing installed XY host

##### ISSUE TYPE
 - Feature Idea

[2022-07-12 11:41] gardar opened #1443 "ansible roles parameter breaks hostgroup module idempotency"
##### SUMMARY
Adding the `ansible_roles` parameter to the hostgroup module gives a `changed` status on each run which makes it no longer idempotent.
And to add to the confusion if you register the output you will not see any changes in the diff, the before and after are exactly the same as the ansible roles aren't displayed in the diff output.

##### ISSUE TYPE
 - Bug Report

##### ANSIBLE VERSION

[2022-07-12 13:02] gardar commented on #1443
As a dirty workaround it's possible to check the registered output and only mark the task as changed when there's difference in the diff outputs.
This does however not completely fix the issue, as the ansible roles of the hostgroup are not printed in the diff output.

[code]

[2022-08-03 16:23] ogajduse opened #1450 "Add support for `/katello/api/organizations/:id/cdn_configuration`"
##### SUMMARY
FAM does not currently support CDN configuration. The user is not able to configure it using an Ansible module and has to fall back to `hammer` or `ansible.builtin.uri` module.

##### ISSUE TYPE
- implement CDN configuration into FAM

##### NOTES
Katello Organizations controller, `configure_cdn` section: https://github.com/Katello/katello/blob/42dbf62d47270c67960557f1215f64c62d0392c1

[2022-08-09 16:11] afeefghannam89 opened #1452 "Support for webhook"
##### SUMMARY
We are using foreman ansible modules to configure our RedHat Satellite. We find them very good and would like to have a module/role which create a webhook.

Thanks

[2022-08-16 15:46] Greek-Fire opened #1459 "Operatingsystems role is not idempotent"
##### SUMMARY
The role will fail if I attempt to remove a template from the operating system, using the operatingsystems role.

##### ISSUE TYPE
 - Bug Report

##### ANSIBLE VERSION

[code]

##### COLLECTION VERSION

[code]

##### KATELLO/FOREMAN VERSION

[code]
##### STEPS TO REPRODUCE

[code]
##### EXPECTED RESULTS

[code]
##### ACTUAL RESULTS

[code]

[2022-08-16 18:50] Greek-Fire commented on #1459
#1460

[2022-08-17 06:34] #1459 closed, assigned to nobody

[2022-08-24 12:28] lpther opened #1463 "theforeman.foreman.smart_proxy lifecycle_environments not working with duplicate LCEs names"
##### SUMMARY

Using the theforeman.foreman.smart_proxy lifecycle_environments parameter, having multiple lifecycle environments with the same name doesn't work.

##### ISSUE TYPE
 - Bug Report

##### ANSIBLE VERSION

[code]

##### COLLECTION VERSION

[code]

##### KATELLO/FOREMAN VERSION

[code]

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Add all organization libraries to the smart

[2022-08-24 14:58] gvde commented on #1463
Why don't you set the organization in your playbook and loop through all orgs?

[2022-08-26 01:07] lpther commented on #1463
The "organizations" parameter is a list of organizations the proxy is assigned to. Looping through it would make it non idempotent.

From what I understand it is not related to the lifecycle environments.

[2022-08-26 01:08] lpther commented on #1463
The "organizations" parameter is a list of organizations the proxy is assigned to. Looping through it would make it non idempotent.

From what I understand it is not related to the lifecycle environments.

[2022-08-26 14:06] lamm opened #1465 "ansible-builder failed to find requirements.txt"
##### SUMMARY
ansible-builder failed to build EE when using theforeman.foreman ansible collection in requirements.yml

##### ISSUE TYPE
 - Bug Report

##### ANSIBLE VERSION
N/A

##### COLLECTION VERSION
3.5.0

##### KATELLO/FOREMAN VERSION
N/A

##### STEPS TO REPRODUCE

execution-environment.yml
[code]
requirements.yml
[code]

##### EXPECTED RESULTS
Ansible Execution Environment image to be build.

[2022-08-26 14:16] lamm commented on #1465
The issue seems to be located in meta/execution-environment.yml file.

[code]
When removing relative path on dependencies like this :
[code]
then image build successfully.

[2022-08-26 14:37] evgeni commented on #1465
When we initially added EE metadata, we had the paths like you, and then it wouldn't find it when building the EE itself in
https://github.com/theforeman/foreman-ansible-modules/blob/1e8f5a818848f92ca38f9fa97c3b4737624ad750/.github/workflows/main.yml#L140

We then talked to the builder team and they confirmed `../path` would be correct.

Can you please bring this example to the builder team and as

[2022-08-26 14:57] evgeni commented on #1465
When we initially added EE metadata, we had the paths like you, and then it wouldn't find it when building the EE itself in
https://github.com/theforeman/foreman-ansible-modules/blob/1e8f5a818848f92ca38f9fa97c3b4737624ad750/.github/workflows/main.yml#L140

We then talked to the builder team and they confirmed `../path` would be correct.

Can you please bring this example to the builder team and as

[2022-08-26 16:07] lamm commented on #1465
A simillar issue was already opened : https://github.com/ansible/ansible-builder/issues/393
Answer from buider team was :
- remove relative pathing from meta/execution-environment.yml to make `ansible-builder introspect` working correcly
- Use a dedicated file for `ansible-builder builder`

[2022-08-26 16:13] evgeni commented on #1465
Ah, very interesting. Thanks for the pointers!

[2022-08-29 14:35] lpther commented on #1463
Let me illustrate:

The **organization** parameter will set this association:

![image](https://user-images.githubusercontent.com/4130102/187225855-75ac185f-af22-4bd0-9d94-b5c655c13550.png)

The **lifecycle_environments** parameter will associate the Name of the lifecycle environment, but cannot specify the Organization it belongs to. Making associating the _Library_ or _default_lifecycle_environm

[2022-08-29 14:36] lpther commented on #1463
An intuitive way to do so would be to pass a list of dict with the LCE name and Organization, instead of the LCE name only.

[2022-09-05 11:57] evgeni commented on #1465
This was fixed in #1471

[2022-09-05 11:57] #1465 closed, assigned to nobody

[2022-09-05 12:10] myllynen opened #1473 "redhat_manifest does not handle changes correctly"
##### SUMMARY
When downloading a manifest with `redhat_manifest` the file is always updated and the status from the task is always ok.

When the local file is not present and manifest is downloaded the task status should be changed.

If running a playbook twice to download the manifest ideally the local file should not be updated on the second run when identical.

Here's the snippet I'm using:

[c

[2022-09-05 12:14] evgeni commented on #1473
Just so that I can understand it correctly: You have a manifest on the portal, and only want the module to download it, right?

Yeah, I can see how it doesn't return `changed=True` in that specific case.

[2022-09-05 12:17] myllynen commented on #1473
Correct, my playbook deals with either an already present manifest or downloads one by itself depending on the case, then it continues after that with common operations such as upload, refresh, etc so that is the rationale for doing only the download. Thanks.

[2022-09-05 14:18] myllynen opened #1474 "Occasional timeout with subscription_manifest"
I have an older test manifest which can be uploaded to Satellite and refreshed manually, however when refreshing it using Ansible the operation times out ("Timout waiting for Task e7b9fc02-2a76-4c4c-87b7-cc7c147d4da9"). The typo in the message reveals that it is coming from `plugins/module_utils/foreman_helper.py` but there doesn't seem a way to increase timeout for the task.

The timeout occurs a

[2022-09-05 15:40] evgeni commented on #1474
You can edit it in the code tho:
https://github.com/theforeman/foreman-ansible-modules/blob/9d7eb91b84c3fdc02af446746948e978fe8f3059/plugins/modules/subscription_manifest.py#L87

[2022-09-05 15:41] evgeni commented on #1474
I think bumping that to 10 minutes is fine

[2022-09-06 11:42] #1474 closed, assigned to nobody

[2022-09-06 12:16] myllynen opened #1476 "[RFE] Allow to run sync plan"
It would be helpful to be able to run sync plan(s) using Ansible like it is possible from the Web UI. For instance, it would be easier to define which sync plans to run than iterate over plenty of repos which are probably already defined as part of sync plans. Thanks.

[2022-09-06 14:14] evgeni commented on #1476
Architecturally, I think I'd disagree, but that doesn't mean we should not have a way to trigger sync plan runs. :)

I think, ideally, one should either use sync plans OR ansible to do syncs.
The repository_sync module can do bulk syncs for products (when you omit the repository parameter), which makes a quite nice interface for a job in AWX/Jenkins/whatever. In that case, the actual scheduling is

[2022-09-07 07:19] myllynen opened #1477 "Minor sync_plans role issue"
It looks like sync_plans role allows setting plan enabled or not but that's not documented. While at it, I think it would be nice to allow removing sync plans with the role (by setting `state: absent`). Thanks.

[2022-09-07 07:26] myllynen commented on #1476
Thanks for looking into this.

Good point wrt omitting the repository parameter, I hadn't noticed that. I was thinking a case where an organization is used to do monthly updates to clients and syncs content weekly, except when there's e.g. critical RHEL security fix needed. Then they go 'oh, shoot, we must sync our RHEL repos right away and publish the update' in which case it, in theory, might be

[2022-09-07 09:04] evgeni commented on #1477
enjoy: https://github.com/theforeman/foreman-ansible-modules/pull/1478

[2022-09-08 07:00] jhutar opened #1479 "Getting `Failed to connect to Foreman server: StopIteration: ` when working with Foreman"
##### SUMMARY
This seems to be a generic problem for any module, but this is what I was trying to get info about existing host and the error.

##### ISSUE TYPE
 - Bug Report

##### ANSIBLE VERSION

[code]

##### COLLECTION VERSION

[code]

##### KATELLO/FOREMAN VERSION

I do not have access to ssh to the Foreman, but UI says `Version 1.19.1`

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULT

[2022-09-08 07:02] jhutar commented on #1479
Found this @evgeni fix and it worked for me: https://community.theforeman.org/t/ansible-create-host-failing-to-connect/22982
[code]

[2022-09-08 07:10] jhutar opened #1480 "Getting `KeyError: 'parameter_type'` when trying to set build status to a host"
##### SUMMARY

I was trying to set build status for a host and it fails with python traceback.

##### ISSUE TYPE
 - Bug Report

##### ANSIBLE VERSION

[code]

##### COLLECTION VERSION

[code]

##### KATELLO/FOREMAN VERSION

I do not have access to ssh to the Foreman, but UI says `Version 1.19.1`

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2022-09-08 07:12] evgeni commented on #1480
I am sorry, but Foreman 1.19 is not supported.

[2022-09-08 07:13] jhutar commented on #1480
I do not know if this is a correct fix, but I workarounded it with:
[code]

[2022-09-08 07:19] evgeni commented on #1480
it is not, no, as that would break the "default is string" behaviour on newer systems. (it might get you further, but given 1.19 is so old, I totally expect other parts of FAM being also broken with it)

[2022-09-08 07:19] #1480 closed, assigned to nobody

[2022-09-08 07:26] jhutar commented on #1480
Agreed. Btw this fixed the issue for me and I'm now able to set `build` status and restart it via this Foreman which was mine end-goal.

[2022-09-08 07:42] evgeni commented on #1479
Foreman 1.19 is unsupported ;-)

[2022-09-08 07:42] #1479 closed, assigned to nobody

[2022-09-08 08:46] evgeni commented on #1435
This was fixed in #1448 and released in 3.5.0

[2022-09-08 08:46] #1435 closed, assigned to nobody

[2022-09-12 14:29] afeefghannam89 opened #1482 "Some Modules are not idempotent"
##### SUMMARY
Some on the modules are not idempotent. They have have the option **present ** which return always changed as result apart from the existence of the to be configured object. Also they have the option **present_with_defaults** which does not update the the to be configured object, if it exist. Some of these modules are:
sync_plan
repository
activation_key
auth_source_ldap: Here there

[2022-09-12 14:35] evgeni commented on #1482
There are options that make some modules not idempotent (like setting a password, which we can't check for existence). But they should be documented as such. Have you exact playbook examples that trigger your issues?

[2022-09-12 16:25] afeefghannam89 opened #1483 "Support virt-who"
##### SUMMARY
Support the creation and loading from virt-who configurations.

[2022-09-13 04:05] felixfontein opened #1484 "meta/runtime.yml contains redirects that will stop working with ansible-core 2.14"
##### SUMMARY
The `redirect` entries in `meta/runtime.yml` do not contain FQCNs, but short names: https://github.com/theforeman/foreman-ansible-modules/blob/develop/meta/runtime.yml#L78-L182

This will result in an error with ansible-core 2.14, see https://github.com/ansible/ansible/pull/78755.

##### ISSUE TYPE
 - Bug Report

##### ANSIBLE VERSION
[code]

##### COLLECTION VERSION
[code]

[2022-09-13 08:39] #1484 closed, assigned to nobody

[2022-09-14 09:07] afeefghannam89 commented on #1482
I am using a role her some tasks:

[code]

There are more modules, which also not idempotent. I think these modules can not check the status on the target host before making changes.

[2022-09-14 14:15] Schluggi commented on #1482
We just noticed these modules are not idempotent too:

- theforeman.foreman.auth_source_ldap
- theforeman.foreman.repository

Foreman 3.3.0 / Ansible 6.3.0 (2.13.3) / Collection 3.4.0

[2022-09-14 15:12] mdellweg commented on #1482
[As stated by @evgeni]These modules are not idempotent when used with parameters that are write-only. And this is well documented:
https://github.com/theforeman/foreman-ansible-modules/blob/develop/plugins/modules/repository.py#L160
https://github.com/theforeman/foreman-ansible-modules/blob/develop/plugins/modules/auth_source_ldap.py#L53

If you rely on the password set and don't want to change it

[2022-09-15 13:29] Schluggi commented on #1482
Thanks for your response but there is some confusion.

### Repository
We don't set `upstream_password` at all:
[code]
The debug message is displayed, so there is no change.

Edit: I added `changed_when: result.diff.after != result.diff.before` to fix this behavior.

### auth_source_ldap
`present_with_defaults` is only available for repositories but not for `auth_source_ldap`. So we can't use your

[2022-09-15 13:45] evgeni commented on #1482
You're setting mirror on sync, which is deprecated and not returned by the API anymore. This is triggering "changed" without an actual change.

[2022-09-15 14:05] Schluggi commented on #1482
That is the fix. Thank you! :)

[2022-09-15 14:10] evgeni commented on #1482
Yeah, the problem is that when a parameter is deprecated, the API still accepts it, but when storing translates it to "the new thing" (so for `mirror_on_sync` it sets the right `mirroring_policy`) and then in the second run we generate an object, submit it and show you the API reply. As we submitted something, we say "changed" but the API reply again contains the translated values and thus shows n

[2022-09-16 08:48] afeefghannam89 commented on #1482
@evgeni @mdellweg  thanks for your answer.

The first point, **result.diff.after != result.diff.before** did only help by repository module.

The **activation_key** and **sync_plan** return always the same wrong output while using --diff, I think this is the Problem.

[code]
The three ids exist before the rolling out! Here is the output of **activation_key** module

[code]
The module will remove a

[2022-09-16 09:25] evgeni commented on #1482
Is the pasted output from `--diff` or `--diff --check`? Only the later can give us hints, as it compares the "old API state" with "computed FAM state" and not "old API state" with "changed API state" .

[2022-09-16 09:35] mdellweg commented on #1482
I don't think so. It is only shown in the diff for the missing comma. Damn json...

[2022-09-19 11:40] afeefghannam89 commented on #1482
No the output was with **--diff --check**. The last element in jeson does not have a comma.
I have removed the sync plans and activation keys, then recreated  per Ansible. This has fixed the problem. I think the API of Red Hat Satellite/ Foreman does not work ok.

This issue can be closed thank you for the support and help :)

[2022-09-19 11:41] #1482 closed, assigned to nobody

[2022-09-23 00:20] #1477 closed, assigned to nobody

[2022-09-23 09:37] evgeni commented on #1423
This was fixed in 6c919dd5ccb3ad8303c74d5e3836274a9c929642 and https://github.com/theforeman/foreman-ansible-modules/commit/42a0d79706938111c62be8375d692d14d30bab8c

[2022-09-23 09:37] #1423 closed, assigned to nobody

[2022-09-29 09:39] lukas-holzner opened #1491 "theforeman.foreman.hostgroup missing parameters.hidden_value option"
##### SUMMARY
theforeman.foreman.hostgroup should have to option to set hidden_value as an optional boolean for hostgroup parameters. It is supported by the foreman API. https://apidocs.theforeman.org/foreman/3.4/apidoc/v2/hostgroups/create.html

##### ISSUE TYPE
 - Feature Idea

[2022-10-04 21:02] samccann opened #1492 "Add filter docs"
##### SUMMARY

ansible-core 2.14 adds 'side car docs' which gives collection owners the ability to add documentation for previously undocumentable filter and test plugins.

This requires creating yaml files in the same directory as the filter or test plugin code, one yaml file per plugin.

See https://github.com/ansible/ansible/blob/devel/lib/ansible/plugins/filter/b64decode.yml for an example.

T

[2022-10-05 05:09] evgeni commented on #1492
Thanks!

We already have an issue for tracking this: https://github.com/theforeman/foreman-ansible-modules/issues/1391

Just didn't get to implement it yet.

[2022-10-05 19:10] samccann commented on #1492
@evgeni ok cool! I didn't look hard enuf then :-) Closing this duplicate and thanks.

[2022-10-05 19:10] #1492 closed, assigned to nobody

[2022-10-06 10:51] evgeni opened #1494 "switch redhat_manifest to org mode by default"
##### SUMMARY
RH defaults to SCA these days, and so should we.

approved by @sideangleside himself

##### ISSUE TYPE
 - Bug Report

##### ANSIBLE VERSION

[code]

##### COLLECTION VERSION

[code]

##### KATELLO/FOREMAN VERSION

[code]

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2022-10-11 07:42] markgraf commented on #1015
Hey, that's good news! Thanks!

Am April 13, 2022 6:52:04 PM UTC schrieb Evgeni Golov ***@***.***>:

***@***.***>

-- Gesendet von /e/ Mail.

[2022-10-11 14:02] ikke-t opened #1497 "redhat_manifest does not properly report wrong username/password"
##### SUMMARY

I tried to add subs to manifest, but end up having ansible failing.

##### ISSUE TYPE
 - Bug Report

##### ANSIBLE VERSION

[code]

##### COLLECTION VERSION

[code]
https://github.com/RedHatNordicsSA/cool-lab/blob/ab8ec7df1b408a78337b9d0a819285848207f24b/collections/requirements.yml

##### KATELLO/FOREMAN VERSION

[code]

##### STEPS TO REPRODUCE

[code]

https://github.com/RedHatNo

[2022-10-12 07:17] ikke-t commented on #1497
I think this is because of the transition described here: https://access.redhat.com/articles/transition_of_subscription_services_to_the_hybrid_cloud_console

So manifest handling is moving from access.redhat.com to console.redhat.com. While at it, the new console doesn't have the subscription handling for manifests. It also points to guide which doesn't talk about subscriptions at all.

[the subs

[2022-10-12 09:25] evgeni commented on #1497
debugged this with @ikke-t offline, turned out the username/password was wrong and our reporting here sucks, patch incoming :)

[2022-10-12 11:42] #1497 closed, assigned to nobody

[2022-10-12 11:47] evgeni commented on #1473
So I tried implementing this, and it didn't go exactly as expected.

The problem is, whenever we hit the `/export` endpoint in the portal, it does generate a net-new export (even if the contents didn't change since the last export), so the checksum of the downloaded file doesn't match and we end up *always* reporting a change when export is used.

This is IMHO *also* wrong?

[2022-10-12 11:51] evgeni commented on #1473
If you want to try it, the code is at https://github.com/evgeni/foreman-ansible-modules/commit/change-manifest

[2022-10-14 16:25] milodanlso opened #1503 "[Errno 13] Permission denied: '/home/runner/.cache/apypie'"
##### SUMMARY
I'm using theforeman collection to create a virtual machine with the host module (and host_info) with AWX (Ansible Tower).
I have an error : [Errno 13] Permission denied: '/home/runner/.cache/apypie'

##### ISSUE TYPE
When I run my playbook from awx-ee directly through ansible-playbook, it works. The /home/runner/.cache/apypie directory is well created on awx-ee and my virtual machin

[2022-10-14 18:10] evgeni commented on #1503
I don't think that's a workaround but exactly how it should be handled if your ~/.cache is not writeable?

[2022-10-14 19:32] lcrownover commented on #1178
I'd love to have this functionality. I'm looking to use host collections as my data source for ansible groups. I'm aware that I could do this using host groups, but I prefer to use host collections because host groups have other configuration associated with them, such as OS version, PXE templates, etc.

[2022-10-14 22:21] lcrownover opened #1504 "Unable to use foreman.yml inventory with ansible-pull"
##### SUMMARY

When using `ansible-pull` to have nodes configure themselves, I specify my `foreman.yml` inventory file for an inventory source. This results in the following error message:

[code]

My `ansible-pull` command looks like:

[code]

Running this same command, but using a local `ini` or `yml` inventory works fine:

[code]

Contents of my `foreman.yml`:

[code]

Which results in a succes

[2022-10-15 07:38] evgeni commented on #1504
What is the exact problem tho? I see tasks executed against the `hnd1.example.org` host as it comes from the inventory. They fail, but that doesn't seem related to the inventory working?

[2022-10-15 14:18] lcrownover commented on #1504
The problem is that ansible-pull is unable to run when using the foreman.yml inventory. I can use a static inventory with ansible-pull, and I can use the foreman inventory with ansible(-playbook) from my workstation, but when having my remote node use the foreman inventory for its pull, it results in this odd double-cloning behavior.

I'm aware that this might not be the responsibility of theforem

[2022-10-15 18:21] evgeni commented on #1504
Do you happen to have a host called `localhost` in your Foreman? It's part of the inventory output, so I'd expect it to come from foreman. But then there are two hosts that match the `all` in the playbook - localhost and the fqdn notation. And that makes things execute twice. Or so I guess, at least.

[2022-10-16 00:22] lcrownover commented on #1504
I do not. I only have 3 hosts in this foreman instance: `hnd1`, `n001`, and the foreman server itself. My guess is that `localhost` is added to the inventory regardless of where the inventory is queried from, because running the same `ansible-inventory -i inventory/foreman.yml --graph` command from my workstation also returns `localhost`.

[2022-10-16 03:53] lcrownover commented on #1504
I think I've solved this issue.

When using `ansible-pull`, the arguments that take paths are (by default) relative to the path `~/.ansible/pull/hnd1.example.org/myrepo`, unless you specify an absolute path.

For example, this command works:

[code]

While specifying an absolute path causes it to fail:

[code]

Even if you specify the absolute path to the inventory file that exists in the cached r

[2022-10-16 03:53] #1504 closed, assigned to nobody

[2022-10-17 06:30] milodanlso commented on #1503
I'm using AWX version 21.606. in AWX you have 3 containers: awx-web, awx-task and awx-ee. when you run a playbook, it is managed by awx-ee. an automation job is then launched but I guess (I didn't check because i'm not not a specialist) that it doesn't have the /home/runner (which exists on awx-ee). As it is very likely that /tmp is present, setting the XDG_CACHE_HOME variable prevents /home/runne

[2022-10-17 07:52] evgeni commented on #1503
From a user perspective, what would be the change here you'd like to see?

Because from a technical perspective, we're IMHO behaving correctly by using `XDG_CACHE_HOME` and falling back to `~/.cache` if that is unset. Just in you specific (container) environment `~` doesn't seem to exist or is not writable.

We could document the usage of the cache more explicitly, would that help?

[2022-10-17 12:28] milodanlso commented on #1503
Just a clarification: this is not my specific environment. This is the AWX environment (free version of Ansible Tower from Redhat) ;-)

Now, I am aware that this will not necessarily impact many people. I think some documentation of cache usage might be sufficient... My issue idea was along these lines anyway (may a search for _permission denied apypie_ bring up this use case).

For information, I

[2022-10-21 11:01] evgeni commented on #1503
I've opened https://github.com/theforeman/foreman-ansible-modules/pull/1506 to document this.

By "your" I meant "the kind you're running" (= AWX), as that's not the only way to run Ansible things :)

[2022-10-21 11:22] #1503 closed, assigned to nobody

[2022-10-21 12:55] RJBJongejan commented on #854
Can you give an update on this? I would very much like to automate my rhel8/rhel9 content views with this.

[2022-11-01 17:27] fltux commented on #854
I also really want this. My ugly workaround hack consists of 4 tasks and the module stream filters is deleted and created every time:
- lookup content view id
- lookup filter id in content view
- delete module stream filter in content view through api
- create module stream filter in content view through api

[2022-11-16 14:45] jeremylenz opened #1522 "auto_enabled param should be removed from repository module"
##### SUMMARY
In July 2020 an `auto_enabled` param was added to repositories in https://github.com/Katello/katello/pull/8805. It was reverted two months later in https://github.com/Katello/katello/pull/8947, but apparently never removed from FAM.

##### ISSUE TYPE
 - Bug Report

[2022-11-16 15:43] evgeni commented on #1522
Was there ever a release of Katello where it existed and worked?

Edit: if I see it correctly, 3.17 shipped with that feature present?

[2022-11-16 15:46] jeremylenz commented on #1522
The Redmine for the reversion was also 3.17. So I don't think a released Katello ever had it.

[2022-11-21 13:34] IncredibleRichie opened #1524 "Repository-type "Ansible-Collection" ignores "ansible_collection_requirements"-parameter"
I am trying to create repositories of type ansible-collection to sync with ansibly-galaxy.

The repository creation itself works.

If you want to specify the requirements.yaml field, it can be set in the module according to the documentation, but when you check the API call, it is set to "NULL" and the server gets "nil".

So somewhere in Ansible this parameter is not provided up to the point where

[2022-11-21 13:47] evgeni commented on #1524
Can you post an example playbook for reproducing this?

[2022-11-22 21:50] lcrownover opened #1527 "Option to disable callbacks for localhost-like entries"
##### SUMMARY

Callback plugin works great when targets are nodes from an inventory (using foreman inventory). When running playbooks that use `hosts: localhost` (configuring foreman itself, or any playbook to be run locally), you end up with a `localhost` host object in Foreman that must be deleted. Every subsequent run adds another `localhost` host.

I'd like a way make localhost runs not report

[2022-11-22 21:56] evgeni commented on #1527
You can disable the callback using an environment variable:
https://github.com/theforeman/foreman-ansible-modules/blob/develop/plugins/callback/foreman.py#L104

Would that suffice?

[2022-11-22 23:01] lcrownover commented on #1527
That would technically accomplish the task, but ergonomically it's a pain.

On top of our team having to add `FOREMAN_CALLBACK_DISABLE=1` to the beginning of each relevant `ansible-playbook` call, it would require them to remember or look inside each playbook before running to know if they need to disable the callback or not.

edit: I'm happy to take a stab at implementing this, doesn't look too c

[2022-11-23 10:08] IncredibleRichie commented on #1524
Sorry, the error was due to a typo

[2022-11-23 10:08] #1524 closed, assigned to nobody

[2022-11-28 09:25] evgeni commented on #1527
So I must admit I don't like the idea that the filtering should happen in the callback, but I also do see how the existing solutions are not *really* optimal for you either.

Just to re-iterate, you can't set the `create_new_host_when_facts_are_uploaded` and `create_new_host_when_report_is_uploaded` settings in Foreman to `false` to completely disable the creation of new hosts, as you need that fe

[2022-11-28 15:26] lcrownover commented on #1527
I wasn't aware of those two Foreman options, and at first glance they might work.

We manually create hosts with playbooks for bare-metal provisioning or `subscription manager` for existing hosts (I'm assuming this doesn't make use of dynamic host creation via facts/reports).

I do agree with you though, this sounds like something that Ansible should implement globally for callback plugins. I can

[2022-11-30 17:18] lcrownover commented on #1527
Coming back to this, the admin options are working fine, but I do receive this rather ugly warning:

[code]

I don't think that Ansible provides a global "ignore warnings" setting, and I can't think of a nice way to hide this error if it's working as intended. I wonder if maybe an `ignore_warnings = <bool>` might be useful on the callback plugin?

What do you think?

[2022-11-30 17:27] evgeni commented on #1527
Ah, yes, the host doesn't exist and you try to submit facts for it, that makes sense.

To make sure, can you post the full traceback from /var/log/foreman/production.log?

[2022-11-30 19:15] lcrownover commented on #1527
Absolutely:

[code]