[2019-12-03 08:02] evgeni opened #628 "katello_upload should support ostree"
##### SUMMARY
split from https://github.com/theforeman/foreman-ansible-modules/issues/408

katello_upload does not support uploading ostree content at the moment, but it should

##### ISSUE TYPE
 - Feature Idea

[2019-12-03 08:03] evgeni opened #629 "katello_upload should support ansible collections"
##### SUMMARY
split from https://github.com/theforeman/foreman-ansible-modules/issues/408

katello_upload does not support uploading ansible collections at the moment, but it should

##### ISSUE TYPE
 - Feature Idea

[2019-12-03 08:05] evgeni commented on #408
@bagasse @itcultus I've split this issue into individual ones for the different content types. please subscribe there as appropriate. I'll close this one.

[2019-12-03 08:05] #408 closed

[2019-12-03 09:10] #410 closed

[2019-12-03 10:14] evgeni opened #630 "katello_activation_key does not support override=default"
##### SUMMARY

##### ISSUE TYPE
 - Bug Report

##### ANSIBLE VERSION

[code]

##### KATELLO/FOREMAN VERSION

[code]

##### APYPIE VERSION

[code]

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2019-12-03 10:19] evgeni commented on #377
after doing https://github.com/theforeman/foreman-ansible-modules/pull/631, I am pretty sure your label is wrong at it would work if you use the correct label

[2019-12-03 10:19] evgeni commented on #630
spotted while doing https://github.com/theforeman/foreman-ansible-modules/pull/631

[2019-12-03 15:12] #630 closed

[2019-12-04 18:32] #419 closed

[2019-12-06 14:10] evgeni commented on #365
@Fodoj I'd like to have this too. did you already start working on this? or shall I try to fit that into my schedule?

[2019-12-06 14:14] evgeni commented on #345
cc @sthirugn

[2019-12-06 14:19] evgeni commented on #336
cc @wbclark have fun

[2019-12-06 14:21] evgeni commented on #334
cc @sthirugn

[2019-12-06 14:30] evgeni commented on #273
Hi @flyemsafe, sorry for the longer delay on this.

Does the issue still occur in the latest version of our modules? We think it should not, but wanted to check with you before closing this one.

Thanks!

[2019-12-06 14:35] evgeni commented on #334
@jwbernin @stdevel does this still happen with the recent versions of the modules?

[2019-12-06 14:39] evgeni commented on #334
it seems to be working fine for me:

[code]

[2019-12-06 15:52] Fodoj commented on #365
I didn't, feel free to pick this up. I won't have capacity to do this in upcoming weeks

[2019-12-07 20:40] jwbernin commented on #334
I just tested it, and the recent version of the modules I have gives the correct behavior.

[2019-12-08 02:22] evgeni commented on #334
Thanks John! Closing this then.

[2019-12-08 02:22] #334 closed

[2019-12-08 09:41] evgeni commented on #365
Quick grep suggests the following modules are missing support for organization/locations, but I didn't verify if the API actually allows it (yet):

* foreman_architecture
* foreman_bookmark
* foreman_compute_attribute
* foreman_compute_profile
* foreman_config_group
* foreman_external_usergroup
* foreman_global_parameter
* foreman_operatingsystem
* foreman_os_default_template
* foreman_realm
* for

[2019-12-09 12:09] #620 closed

[2019-12-09 13:23] evgeni opened #644 "decide which workflows we want to support in our roles"
##### SUMMARY
Based on the discussion in https://github.com/theforeman/foreman-ansible-modules/issues/535, we need to decide which workflows we want to cover in our official/supported roles, and which would be out of scope.

This list does not have to be final, but having a few distinctive workflows will make bootstraping the roles easier.

[2019-12-09 13:29] sthirugn commented on #334
awesome thanks.

[2019-12-09 13:31] evgeni opened #645 "naming convention for roles"
##### SUMMARY
based on the discussion in https://github.com/theforeman/foreman-ansible-modules/issues/535, we need to decide on a naming convention for roles.

my suggestion would be `<foreman|katello>_<workflow_name>` (similar to what we do in modules), so we'd end up with things like `foreman_configure_provisioning`, `foreman_setup_vmware_cr`, `katello_configure_content`, `katello_sync_content`

[2019-12-09 13:33] evgeni opened #646 "define rules for roles"
##### SUMMARY
as per discussion in https://github.com/theforeman/foreman-ansible-modules/issues/535, we need a set of rules (besides naming) how roles should behave to be included in this collection.

copying from the original issue, we thought about:
* roles should be topic specific / atomic / small / however you want to name it (= do one job and do it well)
* roles need to be generic for their t

[2019-12-09 13:36] evgeni commented on #82
@ehelms is there anything in this issue that has not been discussed in https://github.com/theforeman/foreman-ansible-modules/issues/535?

[2019-12-09 13:37] evgeni commented on #644
example roles we should look at when looking for workflows:
* https://github.com/jwbernin/sat6-config
* https://github.com/theforeman/foreman-ansible-modules/pull/548
* https://github.com/sean797/ansible-role-configure-katello/
* https://github.com/flyemsafe/satellite-day-two-ops

[2019-12-09 13:40] evgeni commented on #535
I've created issues for the open discussion points in https://github.com/theforeman/foreman-ansible-modules/milestone/5 and thus closing this one for now.

[2019-12-09 13:40] #535 closed

[2019-12-09 14:00] #520 closed

[2019-12-09 14:19] evgeni commented on #158
Since we moved away from nailgun and merged https://github.com/theforeman/foreman-ansible-modules/pull/505, I think this issue can be closed as you should see the error properly.

Please re-open if you think this is not the case.

[2019-12-09 14:19] #158 closed

[2019-12-09 15:42] evgeni opened #647 "migrate remaining parameters from hostgroup to the shared host params"
looking at the APIdoc, the following parameters are allowed for both, host and hostgroup:
[code]

(the other *_proxy_id probably too, I only looked at foremans apidoc)

so, shall we move all?

_Originally posted by @evgeni in https://github.com/theforeman/foreman-ansible-modules/pull/607_

[2019-12-10 09:43] evgeni commented on #377
(pinged OP via mail)

[2019-12-10 11:28] evgeni commented on #453
Hey @rhjhunt, I'm currently looking into this issue and the example Sean posted seems to work for me, both on Satellite 6.5 (tfm-rubygem-katello-3.10.0.58-1.el7sat.noarch) and on a recent Katello 3.14 (RC2).

However, one thing that strikes me odd is your screenshot. That's the old repositories page from Satellite 6.4. On 6.5 I see the following:
![Screenshot from 2019-12-10 12-23-06](https://user

[2019-12-10 14:13] pcfe commented on #497
I would welcome such a feature and can commit to testing (I have a CI pipeline at home that generates new versions regularly, so testing this RFE will be easy for me).

[2019-12-10 14:54] evgeni opened #651 "k_repository_set force repositories params to be basearch and releaseversion"
##### SUMMARY
Today we accept *any* dict, but Katello actually does not:

https://github.com/Katello/katello/blob/5f7f32ebf1f4a221b6c370ea2a15b733e18527b8/app/controllers/katello/api/v2/repository_sets_controller.rb#L153-L155

[2019-12-10 20:03] nesanton opened #652 "foreman_host_power: Unknown action 'power_status' on foreman < 1.22.0"
##### SUMMARY
Using foreman_host_power on foreman version older than 1.22.0 (Satellite older than 6.6) fails with "Unknown action 'power_status'".
Latest changes to the module rely on the ```power_status``` action that was added per https://projects.theforeman.org/issues/25436 to foreman 1.22.0

##### ISSUE TYPE
 - Bug Report

##### KATELLO/FOREMAN VERSION

[code]

##### STEPS TO REPRODUCE

[code]

[2019-12-10 20:08] nesanton commented on #652
If the decision is to make it work on the older versions of foreman/satellite, then I'll fix it. Should be easy - reverting ```power_status``` back to ```power_action => status```

[2019-12-11 10:32] evgeni commented on #652
I'd prefer to only execute the "old" way on older installs. If you can come up with a patch that does that (and adds a "please remove when *nobody* is using <1.22 anymore" comment ;)), I think I'd accept it.

Given we're running our tests against "latest", we can live w/o tests here :)

[2019-12-11 10:34] evgeni commented on #652
(leaving as untriaged to discuss in triage tho, if anyone disagrees)

[2019-12-11 10:56] mdellweg commented on #652
Can we infer the server version from the api_doc?

[2019-12-11 10:59] evgeni commented on #652
No, but we can check if the `power_status` action exists.

[2019-12-11 11:02] mdellweg commented on #652
Which is the better question to ask anyway.

[2019-12-11 12:03] nesanton commented on #652
Something like this? ^^^

[2019-12-12 11:29] #652 closed

[2019-12-12 12:33] nesanton opened #658 "foreman_host_power: manage same power_actions as aliases instead of separate commands"
##### SUMMARY

We now treat commands in ```power_actions```  like ```on``` and ```start``` as separate commands.
Perhaps it makes sense to collapse them into aliases.
The docstring from apidoc says:

```"description": "\n<p>power action, valid actions are (on/start), (off/stop), (soft/reboot),\n(cycle/reset), (state/status)</p>\n",```

##### ISSUE TYPE
 - Feature Idea

[2019-12-12 12:36] mdellweg commented on #658
Is this only a documentation thing?
The module behaves the same for, e.g., `on` or `start`.

[2019-12-12 12:42] evgeni opened #659 "katello_upload: The following required parameters are missing: size when running against 3.14"
##### SUMMARY
`katello_upload` fails when used against Katello 3.14:

[code]

##### ISSUE TYPE
 - Bug Report

##### ANSIBLE VERSION

[code]

##### KATELLO/FOREMAN VERSION

[code]

##### APYPIE VERSION

[code]

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2019-12-12 12:46] evgeni commented on #659
related commits:
* katello: https://github.com/Katello/katello/commit/4be7f4c4d513cedaaac15a0e66ebf84df483d865
* hammer-cli-katello: https://github.com/Katello/hammer-cli-katello/commit/9276ae51f22b46ad405ac0783762ca833e9e8d6e

[2019-12-12 13:16] nesanton commented on #658
sorry, I confused myself there. I'll change this bug into what I actually wanted shortly

[2019-12-12 15:27] #659 closed

[2019-12-13 02:07] flyemsafe opened #662 "foreman.foreman_user fails to create new user"
##### SUMMARY
The foreman.foreman_user fails when creating a new user.

##### ISSUE TYPE
 - Bug Report

##### ANSIBLE VERSION

[code]

##### KATELLO/FOREMAN VERSION

[code]

##### APYPIE VERSION

[code]

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

User created.

##### ACTUAL RESULTS

 Playbook fails

[code]

[2019-12-13 09:14] evgeni commented on #662
You're missing the `mail` attribute which is documented as being required for new users (but we don't check that, will fix).

[2019-12-13 14:16] evgeni commented on #647
cc @nesanton

[2019-12-13 14:19] evgeni commented on #256
with all the work @mdellweg did, I think when we have closed out https://github.com/theforeman/foreman-ansible-modules/issues/647 we can also safely close this one, right?

[2019-12-13 14:23] evgeni commented on #253
triage: research if that is even possible and how the UI does it, open foreman issue if needed

[2019-12-13 14:30] evgeni commented on #82
the master has spoken, closing

[2019-12-13 14:30] #82 closed

[2019-12-13 17:16] evgeni commented on #253
The problem that @akofink mentioned during triage is that there is no api endpoint and the UI does some weird tricks to validate from the browser (not even the Rails backend).

[2019-12-13 17:17] #662 closed

[2019-12-16 12:30] evgeni commented on #377
closing as not reproducible.

[2019-12-16 12:30] #377 closed

[2019-12-17 09:27] evgeni commented on #608
@mdellweg what's the state of this? I think #609 fixes all issues we could think of and also adds tests for the string things. should we consider all TODOs here then done, or do you want to test/research further?

[2019-12-17 09:50] mdellweg commented on #608
I'm fine with merging that PR, closing this one and consider any further Ünicöde bug we find a new one. From reading the docs, this is the best I could come up with.
Still i don't like that one is supposed to import anything from `_text`.

[2019-12-17 09:54] bagasse opened #664 "Split hostgroups/hosts tests"
##### SUMMARY

Today hostgroup/host tests need a big/specific setup to record tests (puppet classes, compute resources, dns...). It should be nice if we can split hostgroup/host tests by "categories" (like we did for the katello hostgroup part for example) to reduce record complexity on common parts.

##### ISSUE TYPE
 - Feature Idea

[2019-12-17 16:54] rhjhunt commented on #453
@evgeni that was from a Satellite 6.5 system, I don't have it around anymore but I do have the playbook so I can great another one. I'm tempted to try both Satellite 6.6 and 6.5 to see if the issue still exists. Let me reproduce and I'll report back.

- Jacob

[2019-12-18 07:05] #608 closed

[2019-12-20 04:56] flyemsafe commented on #273
I have not seen this error since collections were introduced.

[2019-12-20 05:13] evgeni commented on #273
Awesome, that's what I wanted to hear ;)
Closing then.

[2019-12-20 05:14] #273 closed

[2019-12-20 10:12] evgeni commented on #253
So for the UI, there is a `/compute_resources/test_connection` endpoint, that is defined in the controller:
https://github.com/theforeman/foreman/blob/528875da4d17efc83488a2017a4286f085a6eb92/app/controllers/compute_resources_controller.rb#L126-L136

That is what the UI talks to when you click the button. It should be possible to make it work via API too, but at the moment there is no such API met

[2019-12-20 10:30] evgeni commented on #453
Ooooh, that's the "sync status" page, not the "repositories" page, I was blind :tired_face:

[2019-12-20 12:34] evgeni commented on #453
Okay, so when looking at the right page, I indeed see noarch when we enable via Ansible, and x86_64 when via UI. Same also on Katello 3.14 (latest upstream).

[2019-12-20 12:47] evgeni commented on #453
Okay, so looking at the requests generated:

us:
[code]

WebUI:
[code]

It seems the UI sends basearch, even if it's not part of the substitutions of the repository.

[2019-12-20 13:58] evgeni commented on #453
@rhjhunt great news, I could repro and have a fix in #670! :)

[2019-12-20 14:08] evgeni commented on #664
triage: please do :)

[2019-12-20 14:16] evgeni commented on #646
cc @nesanton for the input from your customer

[2019-12-20 14:27] evgeni commented on #646
input from @nesanton:
* make roles "atomic" as in "only one family of modules", a foreman-related role should not use katello modules, and vice versa. any further glueing should be done via variables.
* roles need either have sane defaults that just work or a sane way to bail out and tell the user that there are missing prerequisites.

@evgeni:
* avoid Satellite naming in variables/tasks/role name

[2019-12-23 13:51] evgeni commented on #365
So I had a look at the api docs and the models in foreman, and it seems "realm" is the only module that could support taxonomies and does not today.

Notes what I did:

In `foreman.git`:
[code]

In `foreman-ansible-modules.git`:
[code]

Manual diff leaves me with:
[code]

and from that, `realm` is the only one we have a module for.

So, @Fodoj, which modules were missing the assignment for you? :)

[2019-12-23 13:57] evgeni commented on #365
and realm gets taxonomy support in  https://github.com/theforeman/foreman-ansible-modules/pull/671 :)

[2020-01-02 11:34] #651 closed

[2020-01-03 13:42] #355 closed

[2020-01-06 10:17] evgeni commented on #453
@rhjhunt bad news, I think I've opened a can of worms inside Katello with this, see https://projects.theforeman.org/issues/28555 and https://projects.theforeman.org/issues/28644. I'd prefer not to fix this before we understand the Katello behavior better.

[2020-01-09 14:37] evgeni commented on #324
With #610 merged, I as the author of the original issue consider this done.

[2020-01-09 14:37] #324 closed

[2020-01-14 11:49] evgeni commented on #365
Ping @Fodoj, which modules do you miss?

[2020-01-16 14:29] bagasse opened #676 "Add foreman_smart_class_parameter module"
##### SUMMARY

Add foreman_smart_class_parameter to add support for smart class parameters and overrides.

##### ISSUE TYPE
 - Feature Idea

[2020-01-17 11:35] Fodoj commented on #365
Can't say from the tip of my head, at this point it seems like everything is already there.. Closing this issue, thanks a lot! Taxonomy PR looks really good.

[2020-01-17 11:35] #365 closed

[2020-01-17 12:05] evgeni commented on #365
Thanks for checking!

[2020-01-17 14:10] evgeni commented on #676
@bagasse given you assigned yourself, I guess you'll gona work on this?

[2020-01-17 14:12] nesanton opened #677 "Add module for foreman_templates plugin"
##### SUMMARY
A lot of people ask how to sync templates from git
Wrapping foreman_templates plugin in a module could be a good idea https://github.com/theforeman/foreman_templates

##### ISSUE TYPE
 - Feature Idea

[2020-01-17 14:14] evgeni commented on #677
IIRC @sean797 wanted to have this too, so CC :)

[2020-01-17 14:17] evgeni commented on #677
please add https://projects.theforeman.org/issues/27680 as a related issue if you end up filing bugs against f_templates

[2020-01-17 14:19] charlyhue opened #678 "TypeError: 'NoneType' object is not subscriptable when Katello composite content view not publised"
##### SUMMARY
Module katello_content_view raise TypeError: 'NoneType' object is not subscriptable error when composite content view is not publised

##### ISSUE TYPE
 - Bug Report

##### ANSIBLE VERSION

[code]

##### KATELLO/FOREMAN VERSION

[code]

##### APYPIE VERSION

[code]

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Content view should be updated (or task should be OK when run

[2020-01-17 14:19] evgeni commented on #677
you can check for a plugin by checking one of its resources:
https://github.com/theforeman/foreman-ansible-modules/blob/744e3ba76b941a7253ae22815df1b4b6a48ce747/plugins/module_utils/foreman_helper.py#L69-L70

[2020-01-17 14:29] evgeni commented on #678
Which version/source of foreman ansible modules are you using?

[2020-01-17 14:35] evgeni commented on #678
and just making sure, your example playbook has `latest` weirdly indented

[2020-01-17 14:56] charlyhue commented on #678
I use the latest version of the master branch.
I fixed the example (copy / paste mistake)

The error come from `cvc['content_view_version']['id']` in `current_cvcs_record = [{"id": cvc['id'], "content_view_id": cvc['content_view']['id'],
                                    "content_view_version_id": cvc['content_view_version']['id'],
                                    "latest": cvc['latest']}

[2020-01-17 15:16] bagasse commented on #676
@evgeni, yes, this is work in progress.

[2020-01-20 08:01] evgeni commented on #678
Oooh, I see.

Thanks a ton for hunting that down! I'll see that I fix that quickly.

[2020-01-20 08:25] evgeni commented on #678
@charlyhue please have a look at https://github.com/theforeman/foreman-ansible-modules/pull/679, it should fix your issue

[2020-01-20 12:33] #678 closed

[2020-01-21 11:59] evgeni opened #681 "broken subnet6 handling"
##### SUMMARY
~~747f59de4594d90900557752148366ab27c87afb accidently removed calls to `handle_common_host_params` and `handle_taxonomy_params`, breaking those features.~~

subnet6 is the only one broken :)

[2020-01-21 12:19] evgeni commented on #681
wait, it's not broken, just the special casing is not required anymore

[2020-01-21 12:26] evgeni commented on #681
okay, we only broke subnet6 handling, that's fine :)

[2020-01-21 13:40] #681 closed

[2020-01-21 17:39] rht-jbittner opened #683 "Found too many results while searching for domains with some.domain.com"
##### SUMMARY
In our Satellite we have some third level and forth level domains like:

- us.domain.com
- ny.us.domain.com
- orl.us.domain.com

If I do:

- name: Create subnet
  foreman_subnet:
    name: "US office subnet - 192.168.0.0"
    description: "us.domain.com"
    network: "192.168.0.0"
    mask: "255.255.255.0"
    gateway: "192.168.0.1"
    boot_mode: "Static"
    dhcp_proxy: "someproxy.

[2020-01-22 09:50] evgeni commented on #683
Hey, I tried to reproduce this, and couldn't with the latest `master`. Which version of foreman-ansible-modules are you running?

[2020-01-22 09:53] evgeni commented on #683
Ah, I can repro with the latest 0.4.0 release.

[2020-01-22 09:58] evgeni commented on #683
The following patch should fix it for you:

[code]

As this is fixed (differently) in `master`, I wonder if this should get a 0.4.1 release or if `master` being fixed and the fix landing in 0.5.0 (whenever that will come) is sufficient?

[2020-01-22 09:59] evgeni commented on #683
What does @theforeman/ansible-modules think?

[2020-01-22 10:06] mdellweg commented on #683
I'm fine with 0.4.1. That is what we have reserved the patch level in the version for...

[2020-01-22 10:07] mdellweg commented on #683
Also the fix should ideally be verified by the original poster.
I guess with the big change merged only recently, we are not ready for 0.5.0.

[2020-01-22 10:29] evgeni commented on #683
I've opened https://github.com/theforeman/foreman-ansible-modules/pull/685 with the fix (and fixture updates). Waiting on @rht-jbittner then :)

[2020-01-23 09:21] rht-jbittner commented on #683
@evgeni I can confirm that your code change fixed my problem. Thank you.

[2020-01-23 09:32] evgeni commented on #683
Thanks!

[2020-01-23 09:42] mdellweg commented on #683
Closing manually, because this won't be merged to master.

[2020-01-23 09:42] #683 closed

[2020-01-24 16:00] oliverf1 opened #688 "katello_activation_key module doesn't find existing content_overrides"
##### SUMMARY
When creating an activation key without any subscription attached to it but with content_overrides defined, the module will changed at every run because its not able to see the current content_overrides.
This is because the query does not include the content_access_mode_all parameter set to True, so it does not show any content since there is no subscriptions.

##### ISSUE TYPE
 - Bu

[2020-01-27 14:25] ogajduse commented on #377
Sorry for huuge delay. The label was most likely wrong as you mentioned.
Thanks for looking into it.

BTW I plan to continue using FAM so you can expect some contributions in the future.

[2020-01-29 08:03] evgeni opened #690 "k_content_view_version returns `entity: {}`"
##### SUMMARY
Seems like change tracking is not working well when promoting a content view version.

`changed` is properly set, so we probably should just omit returning empty `entity` data for now. (or record proper data, but oh well)

##### ISSUE TYPE
 - Bug Report

##### ANSIBLE VERSION

[code]

##### KATELLO/FOREMAN VERSION

[code]

##### APYPIE VERSION

[code]

##### STEPS TO REPRODUCE

[code

[2020-01-30 11:22] #690 closed

[2020-01-31 14:10] #688 closed

[2020-02-03 14:58] parmstro opened #694 "redhat_manifest fails to download manifest - urlopen error [SSL: CERTIFICATE_VERIFY_FAILED]"
##### SUMMARY
redhat_manifest fails to download manifest with certificate error
(even with validate_certs: no)

(RHEL 8.1 control node)

##### ISSUE TYPE
 - Bug Report

##### ANSIBLE VERSION

[code]

##### KATELLO/FOREMAN VERSION

[code]

##### APYPIE VERSION

[code]

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Download the manifest specified to ./manifest.zip
NOTES:
using rhsmDownlo

[2020-02-04 17:08] jwbernin opened #695 "I should be able to add multiple rules to a content view filter"
##### SUMMARY

The current model in use in katello_content_view_filter only allows the addition of a single rule per filter item. If the same call is reissued with the same filter name and a different rule, the rule is replaced rather than appended to. I would like to be able to either append to a rule with a follow-on play, or I would like to be able to specify multiple rules within a given filte

[2020-02-04 19:19] evgeni commented on #586
Hey @itcultus

I have implemented ip, mac, password, comment and owner in https://github.com/theforeman/foreman-ansible-modules/pull/696

would you mind having a look and tell us if that's sufficient for your usecase? I know, that's still not *ALL* params for host, but at least more :)

[2020-02-04 19:25] evgeni commented on #694
Does this also happen if you pass `portal: https://subscription.rhsm.redhat.com` to the module?

[2020-02-04 19:46] parmstro commented on #694
Yes.
Tuesday 04 February 2020  14:45:15 -0500 (0:00:00.084)       0:00:20.158 ******
Using module file /home/parmstro/Projects/ansible/labbuilder2/library/foreman-ansible-modules/plugins/modules/redhat_manifest.py
Pipelining is enabled.
<127.0.0.1> ESTABLISH LOCAL CONNECTION FOR USER: parmstro
<127.0.0.1> EXEC /bin/sh -c '/usr/libexec/platform-python && sleep 0'
fatal: [localhost]: FAILED! => {

[2020-02-04 20:07] parmstro commented on #694
good news is validate_certs appears to work with this URL. fails with "msg": "GET to https://subscription.rhsm.redhat.com/subscription/consumers/0842b4b7-0b2c-44b7-947d-4d8cc68ec3b6/export failed, got Connection failure: The read operation timed out"
}
when using validate_certs: false

[2020-02-04 20:27] parmstro commented on #694
Manifest creation works using rhsm URL + validate_certs: false
Manifest add subs from a pool also works as above.
Download fails with read operation timed out.

Also, copied redhat_uep.pem to all the default directories, still fails when validate_certs: true
Aside: why aren't we requesting the module to also look in /etc/rhsm/ca for certs??

[2020-02-04 20:45] parmstro commented on #694
perhaps we have a problem with:
'facts': {'distributor_version': 'sat-6.3',
                      'system.certificate_version': '3.2'}}

[2020-02-04 21:17] parmstro commented on #694
Does this shine any light on things? Do we now have to use API tokens? Or is this requirement something that was missed with the redhat_manifest module documentation.
https://access.redhat.com/management/api
Could someone let me know.

[2020-02-05 08:46] sean797 commented on #695
I think if you supply the same name, but a different rule_name this should
work?

On Tue, 4 Feb 2020 at 18:08, John Berninger <notifications@github.com>
wrote:

[2020-02-05 09:40] evgeni commented on #695
Yepp, setting different `rule_name`s should work. It just defaults to the same value as the filter name itself.

[2020-02-05 09:50] evgeni opened #697 "split host_power module into host_power and host_power_info"
##### SUMMARY
Ansible discourages modules that can both change the state of something and can be used to retrieve information.

We should split the `state=status` code into an own module called `host_power_info`

See https://github.com/ansible/ansible/commit/1156962cded3cfed8b40a23b841415811fb24cba

##### ISSUE TYPE
 - Bug Report

[2020-02-05 12:28] evgeni commented on #694
I've added working validation in #698, but I can't reproduce your  read timeout, neither on rhel8, nor on fedora 31 :(

[2020-02-05 13:59] jwbernin commented on #695
`rule_name` is an alias of `package_name` so when I set a `rule_name`, I get `[WARNING]: Both option rule_name and its alias package_name are set.` and the rule is replaced, not appended to.

[2020-02-05 14:18] evgeni commented on #695
ah, can you post your whole playbook then to reproduce please?

[2020-02-05 14:54] jwbernin commented on #695
[code]

[2020-02-05 14:55] jwbernin commented on #695
That is the smallest reproducer snippet - it will result in one filter with one rule, when it should have one filter with two rules.

[2020-02-06 08:39] evgeni commented on #695
Right, so after looking (long enough) at your example, the Katello UI around this, and the code of our module, I think that we should follow the workflow Katello UI does here, and split the module into two: `cv_filter` and `cv_filter_rule`, that way you first have to create a filter, and then, can add/remove as many rules to/from it as you like.

Another way would be to allow a `rules` list in the

[2020-02-06 09:19] mdellweg commented on #697
agreed

[2020-02-07 09:00] evgeni commented on #694
We've now merged the "use the right cert" PR, and I would love to hear if that fixes your issue or if you still have timeouts. And if you do, whether they also happen on el7.

[2020-02-07 13:45] parmstro commented on #694
Hey Evgeni,

Thanks! Saw the merge. Was just about to test and will let you know.
I will be thoroughly testing every other module along the way as well as I
port my ansible/hammer based labbuilder project to use
foreman-ansible-modules. Amongst other things it automates the build,
configuration, synchronization and  maintenance of a Satellite server.

Cheers,

PA

On Fri, Feb 7, 2020 at 4:00 AM Ev

[2020-02-07 13:56] parmstro commented on #694
Hey Evgeni, no joy on my RHEL8 install.
Using module file /home/parmstro/Projects/ansible/labbuilder2/library/foreman-ansible-modules/plugins/modules/redhat_manifest.py
Pipelining is enabled.
<127.0.0.1> ESTABLISH LOCAL CONNECTION FOR USER: parmstro
<127.0.0.1> EXEC /bin/sh -c '/usr/libexec/platform-python && sleep 0'
The full traceback is:
Traceback (most recent call last):
  File "<stdin>", line

[2020-02-07 14:29] parmstro commented on #694
changed the local copy of my code to pass ca_path directly. Weirdly still fails although all other methods of downloading the manifest programatically succeed.
changing validate_certs to false allows the module to succeed when creating and manipulating the manifest, but fails with timeout when downloading.

Apparently something is not OK with my config.
Retrying on RHEL7 as well.

[2020-02-07 14:50] evgeni commented on #694
Could you try with an  "empty" manifest too? And show me (privately to evgeni@redhat.com if you want) the list of subscriptions you're adding?

[2020-02-07 14:51] parmstro commented on #694
Will do

On Fri, Feb 7, 2020 at 9:50 AM Evgeni Golov <notifications@github.com>
wrote:

--
Paul Armstrong
Chief Architect
*647-285-0044*

[2020-02-07 19:54] parmstro commented on #694
still having certificate problems, but looks like the download timeout is related to some of specific subs in my account. Sent you an internal email.

[2020-02-07 20:16] parmstro commented on #694
Increased the timeout value to 30s for the fetch_url call. This allows the larger manifest to download without error. Still working on the ca issue. Current code is failing with error
The full traceback is:
Traceback (most recent call last):
  File "<stdin>", line 113, in <module>
  File "<stdin>", line 105, in _ansiballz_main
  File "<stdin>", line 48, in invoke_module
  File "/tmp/ansible_redhat

[2020-02-07 20:35] parmstro commented on #694
it appears that the reason for the above error is that the current implementation fetch_url in /usr/lib/python3.6/site-packages/ansible/module_utils/urls.py
does not support the ca_path parameter in ansible 2.8.5 on RHEL8

[2020-02-07 20:45] parmstro commented on #694
ansible 2.9 on RHEL7 supports ca_path.
testing now.

[2020-02-07 22:45] parmstro commented on #694
succeeds with ca_path update on RHEL7 and RHEL8 with ansible 2.9
for larger manifests requires increased timeout 30s

[2020-02-10 00:58] parmstro commented on #695
I agree with evgeni that this needs to be broken apart. This is how it is implemented with hammer (hammer content-view filter rule create args). The challenge that I run into is specifying a large configuration and writing clean code to iterate over multiple filter definitions. Imagine having multiple definitions such as below, and crawling them to build a configuration. The katello_content_view_f

[2020-02-10 02:25] evgeni opened #703 "fix fetch_url in redhat_manifest requiring ansible 2.9"
With the recent addition of the use of ca_path parameter to fetch_url we accidentally bumped the ansible requirement to 2.9, which is against our policy.

To make the code 2.7+ compliant again, we probably need a try/except, catching the TypeError raised and re-executing without the ca_path and giving the user a warning() that no CA was used.

Spotted and reported by @parmstro

[2020-02-10 14:58] parmstro commented on #694
With the latest fix, I am closing this one. Thanks E.

[2020-02-10 14:58] #694 closed

[2020-02-10 17:21] evgeni opened #704 "make k_content_view_version docs better"
To avoid misunderstandings like https://twitter.com/zhenech/status/1226917042462371840

[2020-02-12 08:44] mdellweg opened #706 "Rewrite URL in fixtures"
It should be possible to hook into the vcr persister to always rewrite the server url to foreman.example.org.

I have seen people doing this manually, and I don't like those files to be touched by humans.

[2020-02-12 12:33] mdellweg commented on #404
In the meantime the benefits also include related entity lookup.

[2020-02-12 12:38] nesanton commented on #677
from #705:

@evgeni, this might be a way. I thought originally that there will be something like `action: import/export/purge`, then realized that `purge` is not in the plugin logic and also that you might want to delete templates with import/export direction too. So when the plugin learns how to delete items that are not in source, but are present in the destination - we'll just add a param `dele

[2020-02-12 12:43] evgeni commented on #677
Yeah, if we split, I'd add _import and _export suffixes to the name.

[2020-02-12 12:47] nesanton commented on #404
[code]

[2020-02-12 13:05] nesanton commented on #677
omg forman_template_sync_import - sounds confusing. My direction is not much worse.
Maybe just foreman_template_import? What I like about the word "sync" - it suggests idempotency. But I'm ok without.

On the side, I'll start a list of good-to-have's for the plugin:
- allow to narrow down template_type e.g. job/report/provisioning [and maybe template_kind]
- support dry_run
- export only changed t

[2020-02-12 13:34] evgeni commented on #677
Heh, I didn't look closely enough. Yeah, the sync in the name is then superfluous. f_template(s)_import or _export sounds good. Not sure about singular or plural.

[2020-02-12 14:25] nesanton commented on #677
let's do plural to mimic the API URLs and to suggest the bulk nature and that no looping required

[2020-02-12 14:27] nesanton commented on #404
also, issue #404 is not found

[2020-02-14 15:22] #706 closed

[2020-02-18 11:10] Fobhep opened #709 "Make test-setup Ansible requirement"
##### SUMMARY
Created a new virtualenv today with python 3.6.
Make test-setup failed on installing rpm-py.

[code]
I removed it from the reqs and retried.
However than recording a test e.g. `make record_host` fails.
Turns out that latter failure can be fixed by manually installing ansible.
Apparently make test-setup is (currently) not installing ansible :thinking: ?

##### ISSUE TYPE
 - Bug Report

[2020-02-18 14:01] #709 closed

[2020-02-27 19:55] #586 closed

[2020-02-28 08:28] evgeni opened #715 "New release"
We should either release a 0.5.0 from master, or pick fixes and release another 0.4.x, but I'd prefer 0.5.0 to get the latest changes out to the users.

[2020-02-28 14:13] evgeni commented on #715
let's release master!

[2020-02-28 14:42] evgeni commented on #646
During triage, @sthirugn asked for an example of "satellite specific" workflow that we'd not want 1:1 here. My example was "content acquisition and management". The below bleeds into #644, but I'm gona write it down here and y'all can read it ;)

Satellite users usually get their content from Red Hat, so they need to get a manifest from the portal, upload that manifest to Katello/Satellite, enable

[2020-03-03 12:48] #703 closed

[2020-03-03 13:13] #715 closed

[2020-03-06 08:07] evgeni commented on #453
`basearch` gets pruned from repos that don't have that substitution in katello 3.16, see https://projects.theforeman.org/issues/28644
the "noarch" UI issue is unsolved yet (https://projects.theforeman.org/issues/28555), but it seems like the current behaviour is mostly correct.

I am thus closing this issue as "notabug"

[2020-03-06 10:28] #676 closed

[2020-03-06 15:41] #453 closed

[2020-03-09 14:59] gundalow opened #727 "Check for missing commits vs devel"
##### SUMMARY
The "Big Migration" has now taken place.

As this collection already exists, we need to carefully check to see if any further commits went into devel since this repo was created.

Please check the contents of https://github.com/ansible-collection-migration/theforeman.foreman against this repo

##### ISSUE TYPE
- Bug Report

[2020-03-09 15:53] gundalow commented on #727
Clarification:
* Please do a per-file level diff against every file in the ansible-collection-migration repo and this one
* Pay care to files added and removed.
* During the last two weeks there have been lots of fixes, especially around and tests, dependencies, and new collection features e.g. meta/action_groups.yml

[2020-03-09 16:32] evgeni commented on #727
I don't completely understand what the linked repo is? It contains just the callback and inventory plugins, so it's not the collection it pretends to be? ;)

[2020-03-09 19:00] gundalow commented on #727
Hi, forgive my copy and pasting from the initial issue.

I just want to make sure that any files in https://github.com/ansible-collection-migration/theforeman.foreman are identical to the ones included in https://github.com/theforeman/foreman-ansible-modules/

Some of the recent updates to `migrate.py` (which is used to generate https://github.com/ansible-collection-migration/theforeman.foreman) h

[2020-03-10 15:43] tervor commented on #551
Any progress on this?
I have the need to set this for some repos I configure using this ansible modules.

[2020-03-11 13:00] ephracis opened #728 "Error while performing update on subnets"
##### SUMMARY

I am still seeing #428 on 071e59c1cc8a52574a9ab45d675b2bbd486e67c6.

##### ISSUE TYPE
 - Bug Report

##### ANSIBLE VERSION

[code]

##### KATELLO/FOREMAN VERSION

[code]

##### APYPIE VERSION

[code]

##### STEPS TO REPRODUCE

Run the task `foreman_subnet` twice. First time is fine but second time, and every retry gives the same error.

Task file inside role:
[code]
Variable used du

[2020-03-12 10:34] evgeni commented on #728
Thanks for the report!

Could you do me a favor and post the output of `ansible-playbook --diff --check 728.yml` in your environment?

[2020-03-12 15:09] evgeni opened #730 "use a "real" Foreman in tests?"
##### SUMMARY
I've been wondering if we should try to use https://quay.io/repository/foreman/foreman for our tests.

This obviously won't work well for tests that either need setup (like those that import Puppet modules) or that use additional plugins (hello Katello), but at least core ones could be tested (additionally) against a real Foreman by running `record_foo`?

##### ISSUE TYPE
 - Feature

[2020-03-12 15:30] evgeni opened #731 "improve repository_set user expirience for repo enablement"
##### SUMMARY

Currently it is hard to know what to enter in the `repositories` field, as the data (substitutions) are well hidden in the CDN URLs. For example, if you want to enable RHV Manager repo, you need to pass:

[code]

but how should one know that `basearch` is required, but `releasever` is not.

You can find out by doing something like this:

[code]

And look at the URL, but that's terri

[2020-03-12 15:45] ephracis commented on #728
[code]

[2020-03-12 15:52] evgeni commented on #728
Cool, thanks! So that means discovery has a similar bug as REX (which we fixed in #428).

[2020-03-12 19:06] #404 closed

[2020-03-13 10:30] evgeni commented on #728
Can't repro on a 1.22/3.12 setup, will try on 1.24/3.14 in a moment.

[2020-03-13 10:45] evgeni commented on #728
nope, same. so it's not *only* the discovery proxy.

[2020-03-13 12:19] #731 closed

[2020-03-13 13:13] evgeni commented on #728
and also not reproducible with the *whole* playbook you posted. super weird.

just checking, the discovery version you're running is tfm-rubygem-foreman_discovery-16.0.1?

could you provide us the raw output of `curl -k -u admin:YOURPASSWORD https://10.110.0.219/api/subnets/SUBNET_ID`

[2020-03-13 13:20] evgeni commented on #728
Oh, and does it also happen when you erase `~/.cache/apypie/` on the system your Ansible runs on? It *might* have a badly cached apidoc, even tho 0.2.1 should work fine in that regard.

[2020-03-13 14:31] mdellweg opened #735 "Dependencies in resolve_entities"
For `katello_repository`, the _entity_ is scoped by `product`, which in turn is scoped by `organization`.

So `resolve_entities` should work in topologically sorted order to handle those cases.

[2020-03-13 14:34] mdellweg opened #736 "We want to use `resolve_entities` in non entity modules"
`resolve_entites` should be able to run with and without a 'central' entity.
It might be best to resolve the 'central entity' in much the same way as any other.

This might be closely related to #735

[2020-03-13 15:26] evgeni opened #737 "resolve_entities does not resolve the scope when entity_resolve=False"
##### SUMMARY
This came out when looking at #712 and I am not 100% sure we want to fix that or ignore the corner case.

What happened?
* images are unique per compute_resource AND operating_system
* to find the unique image you want to manipulate, you need to scope by CR and then add OS to the search (ugh)
* as this is not easily supported by resolve_entities, we used `entity_resolve=False`
* when

[2020-03-13 22:22] evgeni commented on #728
Or is there no discovery plugin installed?

[2020-03-13 23:51] ephracis commented on #728
Nope, not installed. Is it a requirement for the subnet module?

[2020-03-14 00:35] evgeni commented on #728
No, but then setting `discovery_proxy: "{{ item.discovery_proxy }}` seems odd? And that breaks it as it tries to set it every run, but as it's not installed, it's not mentioned in the api documentation and then the module tries to submit an empty request leading to that error.

[2020-03-15 10:41] ephracis commented on #728
Oh, right! That was a copy and paste from another environment. I guess I never thought of removing that line.

Well then I guess I can solve this problem on my end. Thanks for all the help!

[2020-03-15 11:02] evgeni commented on #728
I actually think the module should have caught that and have an idea how, so reopened

[2020-03-17 09:59] #728 closed

[2020-03-18 13:25] pmgration opened #743 "Parameters missing when creating a managed host if not present/inheritable from host group"
##### SUMMARY
Similar to #696 when creating a host in foreman (1.24.2) using the latest foreman-ansbile-modules (0.6.0) the host creation fails if all required parameters aren't present and some of these appear to be missing.
With foreman-ansible-modules to add a managed host, the host needs to be part of a host group[1]. A host group created by the foreman web UI or foreman-ansible-modules _**can

[2020-03-18 13:26] pmgration commented on #743
Related to #256 and #647

[2020-03-18 15:08] evgeni commented on #743
Do the changes in https://github.com/theforeman/foreman-ansible-modules/pull/745 help you?

[2020-03-19 13:34] #647 closed

[2020-03-19 14:12] evgeni commented on #743
we've merged that branch now, could you have a look if that's sufficient for your usecase or not?

[2020-03-20 14:27] pmgration commented on #743
@evgeni this is great! I've tested the playbook in the original description above with the additional attributes (`architecture`, `operatingsystem`, `media` and `ptable`) and all seems to be working.

I haven't tried creating a host without assigning it to a host group as part of it's creation but it looks like everything is there now to support this?

[2020-03-20 14:29] evgeni commented on #743
Yes, you should be able to create a host completely without a hostgroup now.

[2020-03-20 14:54] bagasse commented on #737
Yes, it should resolve compute_resource, for me it's a bug. When `entity_resolve=False` is set, only the related entity should not be resolved.

[2020-03-20 15:05] evgeni commented on #737
Thanks! I think @mdellweg has an (accidental) fix for that after we merge his last refactoring pr ;)

[2020-03-20 21:23] ogajduse opened #748 "Missing module for policies"
##### SUMMARY

FAM currently does not provide a module to manage policies. (`/api/compliance/policies`)
##### ISSUE TYPE
 - Feature Idea

[2020-03-20 21:44] ogajduse opened #749 "Missing module for tailoring files"
##### SUMMARY

FAM currently does not provide a module to manage tailoring files. (`/api/compliance/tailoring_files`)
##### ISSUE TYPE
 - Feature Idea

[2020-03-21 18:30] mdellweg commented on #735
Did you mean `katello_repository`?

[2020-03-21 18:49] ogajduse opened #750 "foreman_hostgroup module is missing documentation for puppetclasses parameter"
##### SUMMARY

SSIA
I found out that there is not only `puppetclasses` parameter that is not mentioned in the foreman_hostgroup docstring.

https://github.com/theforeman/foreman-ansible-modules/blob/83181d145ac70708d00471148baa3a874cf006f7/plugins/modules/foreman_hostgroup.py#L191
##### ISSUE TYPE
 - Feature Idea

[2020-03-21 19:26] mdellweg commented on #750
It is in the shared host/hostgroup doc_fragment.
Also Errors like this ought to be identified by make sanity in the CI.

I am going to close this. Please verify the documentation by calling `ansible-doc` and reopen accordingly.

[2020-03-21 19:26] #750 closed

[2020-03-21 21:05] ogajduse commented on #750
Thank you for the insight into the documentation workflow.

I use FAM after a half-year pause, so this is quite new to me.

[2020-03-23 18:10] #727 closed

[2020-03-23 18:11] evgeni commented on #727
Fwiw, I checked the callback, diff was empty :)

[2020-03-24 08:46] evgeni commented on #743
Hey @pmgration wanted to check in if you had time to test without defining a hostgroup? I'd like to close this issue with "everything works for the user" ;)

[2020-03-24 09:19] pmgration commented on #743
Hi @evgeni yeah I've been able to add hostgroups, and hosts assigned to those hostgroups - I haven't tried adding hosts that aren't assigned to a hostgroup yet but from our discussion and the changes in #745 that should all be possible too - I'll check that later today but happy to have the issue closed

[2020-03-24 13:40] pmgration commented on #743
@evgeni I've tested creating a buildable host without it being assigned to a hostgroup so everything appears to be working as expected. Thanks!

[2020-03-24 14:09] evgeni commented on #743
Perfect, closing as happy customer then ;)

[2020-03-24 14:10] #743 closed

[2020-03-25 14:47] evgeni opened #754 "add basic tests for inventory plugin"
##### SUMMARY

##### ISSUE TYPE
 - Bug Report

##### ANSIBLE VERSION

[code]

##### KATELLO/FOREMAN VERSION

[code]

##### APYPIE VERSION

[code]

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2020-03-25 14:48] evgeni opened #755 "add tests for inventory plugin caching"
##### SUMMARY
after #754 we should also port https://github.com/ansible/ansible/blob/stable-2.9/test/integration/targets/inventory_foreman/inspect_cache.yml

##### ISSUE TYPE
 - Bug Report

##### ANSIBLE VERSION

[code]

##### KATELLO/FOREMAN VERSION

[code]

##### APYPIE VERSION

[code]

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2020-03-25 16:02] evgeni commented on #256
step3 has been completed in #745

now f_host is only missing the following params:
* provision_method
* image
* capabilities
* interfaces(_attributes)

is that a new issue, or shall we put that here?

[2020-03-25 16:20] gmangin commented on #256
then it should be ok, i ve done my own module for my company to make it works on time :)

[2020-03-25 20:30] jwbernin opened #756 "katello_repository_set: possible regression"
##### SUMMARY
A playbook to enable RH CDN repositories that worked circa 0.3.0 no longer works, emitting an error "Failed to show resource: id (2456): Must be a number."

##### ISSUE TYPE
 - Bug Report

##### ANSIBLE VERSION

[code]

##### KATELLO/FOREMAN VERSION

[code]

##### APYPIE VERSION

[code]

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Expected to have the repositories liste

[2020-03-26 08:20] Fobhep commented on #256
IMHO we can close this and create a new one for that.

[2020-03-26 11:21] evgeni opened #757 "allow host interfaces management"
##### SUMMARY
Today, `foreman_host` can only manage the primary interface of a host by specifying `mac`, `ip` etc.
However, Foreman can manage *ALL* the interfaces

There is a `interfaces` resource: https://theforeman.org/api/1.24/apidoc/v2/interfaces.html

And you can also manage them directly via the `hosts` API: https://theforeman.org/api/1.24/apidoc/v2/hosts/create.html

I don't mind which way

[2020-03-26 11:26] evgeni opened #758 "`foreman_host` is missing provisioning related attributes"
##### SUMMARY
The [`hosts` api](https://theforeman.org/api/1.24/apidoc/v2/hosts/create.html) allows passing `provision_method`, `image` and `capabilities`. Our module does not support that.

While I don't understand the `capabilities` one, `p_m` and `image` are required for image based provisioning. (`image` is needed when `p_m=image` ;)).

##### ISSUE TYPE
 - Feature Idea

[2020-03-26 11:26] evgeni commented on #256
interfaces: https://github.com/theforeman/foreman-ansible-modules/issues/757
the others: https://github.com/theforeman/foreman-ansible-modules/issues/758

closing :fireworks:

[2020-03-26 11:26] #256 closed

[2020-03-26 11:30] evgeni commented on #756
Hey. Your apypie is waaaay to old :)
Can you try updating (the latest version is 0.2.1) and re-run your playbook?

I *think* you're missing the following commit: https://github.com/Apipie/apypie/commit/dd7bf339a1594f0d82dbbc4307d438b2243d03ae

[2020-03-26 12:58] evgeni opened #760 "verify/fix puppetclasses in f_host"
##### SUMMARY
hostgroup has code to handle puppetclasses:
https://github.com/theforeman/foreman-ansible-modules/blob/cbb5242aaeb1dd0346e9daa68b2f1b285adea6c4/plugins/modules/foreman_hostgroup.py#L191-L194

but it was never migrated to f_host/f_helper, so @mdellweg and I think it does not work

verify (and write tests? ugh) and fix

##### ISSUE TYPE
 - Bug Report

##### ANSIBLE VERSION

[code]

###

[2020-03-26 14:18] #758 closed

[2020-03-26 14:24] jwbernin commented on #756
Yep, that got me partway, the errors I'm still getting are user-is-dumb errors.

[2020-03-26 14:24] #756 closed

[2020-03-26 15:00] #579 closed

[2020-03-26 16:01] pmgration opened #762 "Ability to return a list of items"
##### SUMMARY
With FAM it is currently possible to create and delete items such as domains, subnets, hosts etc but I haven't found a way to return a list of the current domains registered in a foreman instance for example.

The use case I'm looking at is maintaining an up to date foreman instance based on information from an ansible inventory (the inventory data is from a custom plugin that querie

[2020-03-26 16:25] mdellweg commented on #762
https://theforeman.org/plugins/foreman-ansible-modules/sphinx/modules/foreman_search_facts_module.html#foreman-search-facts-module

This should do.

[2020-03-27 10:48] pmgration commented on #762
Ah, missed that, thanks!

Does the documentation need updating for some of the examples in that module?

Wondering if [this](https://github.com/theforeman/foreman-ansible-modules/blob/v0.7.0/plugins/modules/foreman_search_facts.py#L87) (and others) should now be:

[code]

[2020-03-27 11:31] #754 closed

[2020-03-27 11:41] evgeni commented on #762
I had to look twice to notice you added `{{ }}` around it, but yeah, you're right, it should.

Want to open a PR?

[2020-03-27 13:40] #760 closed

[2020-03-27 13:55] evgeni commented on #375
So what I now did in `foreman_host` was adding a play against a fictional `foreman` host that does the needed steps:

https://github.com/theforeman/foreman-ansible-modules/blob/8c717ce33adabd4b178c6c9ceb7c11197ec182e9/tests/test_playbooks/host.yml#L2-L10

[2020-03-27 17:01] mdellweg opened #764 "EntityMixin"
with `foreman_setting` and `katello_content_view_filter` we have two modules that are essentially EntityModules, but they do not have state.
I think the inheritance could be
Module -> EntityModule -> StatefulEntityModule
with the corresponding separation of concerns.

[2020-03-27 17:59] pmgration commented on #762
Sure, I'll aim to take a look at this soon

[2020-03-28 11:49] #762 closed

[2020-03-28 20:15] ogajduse opened #766 "Missing module for Puppet CA autosign entries"
##### SUMMARY

There is no module that would allow the user to manage Puppet CA autosign entries.
##### ISSUE TYPE
 - Feature Idea

[2020-03-28 20:17] ogajduse commented on #766
What should be a name for such module?
My suggestions are:
* `foreman_autosign`
* `foreman_puppet_autosign` (I prefer this one)
* `foreman_proxy_autosign`

[2020-03-30 10:10] evgeni opened #767 "ensure we use the simple "updated" api for renaming"
##### SUMMARY
After #747 has landed, we should check if all modules really use the simple "just provide a updated_SOMETHING key" api and don't handle the rename of entities itself

##### ISSUE TYPE
 - Feature Idea

[2020-03-30 11:32] evgeni commented on #767
I checked, we do. nothing to be done. yay

[2020-03-30 11:32] #767 closed

[2020-03-30 12:05] #749 closed

[2020-03-30 12:10] mdellweg commented on #735
The new `lookup_entity` solves this problem.

[2020-03-30 12:10] #735 closed

[2020-03-30 12:11] mdellweg commented on #736
`lookup_entity` is now part of `ForemanAnsibleModule`.

[2020-03-30 12:11] #736 closed

[2020-03-30 12:12] mdellweg commented on #737
With automatic scope dependency resolution, this should indeed be fixed.

[2020-03-30 12:12] #737 closed

[2020-03-30 12:44] evgeni commented on #730
https://github.com/theforeman/foreman-ansible-modules/pull/744 added a basic container setup which can be used as a base for further tests

[2020-03-31 06:48] #551 closed

[2020-04-01 08:31] pondrejk opened #777 "add module for job invocations"
##### SUMMARY
ability to set remote execution jobs via ansible module

##### ISSUE TYPE
 - Feature Idea

[2020-04-02 10:40] evgeni opened #782 "creating an existing LCE fails"
##### SUMMARY
when you try to use `k_lifecycle_environment` with an existing LCE (so a noop operation), you get the following backtrace:

[code]

##### ISSUE TYPE
 - Bug Report

##### ANSIBLE VERSION

[code]

##### KATELLO/FOREMAN VERSION

[code]

##### APYPIE VERSION

[code]

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2020-04-02 10:41] evgeni commented on #782
@mdellweg I think this is due to one of your last refactorings, as `prior` seems not to be resolved yet at this point.

[2020-04-02 10:43] evgeni opened #783 "docs building workflow fails when there are no updates"
##### SUMMARY

just don't try to commit when there is nothing to commit ;-)
https://github.com/theforeman/foreman-ansible-modules/runs/552091544

##### ISSUE TYPE
 - Bug Report

##### ANSIBLE VERSION

[code]

##### KATELLO/FOREMAN VERSION

[code]

##### APYPIE VERSION

[code]

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2020-04-02 11:44] mdellweg commented on #782
right. Only 'entity' is resolve upfront.

[2020-04-02 11:49] evgeni commented on #782
IMHO not that easy (two line patch took an hour?) :)

[2020-04-02 12:14] #782 closed

[2020-04-02 13:42] #783 closed

[2020-04-03 14:51] bagasse commented on #646
As I will start to work to moving our internal 'bare' configuration playbooks to roles/collection, maybe if our internal workflows are applicable here I will contribute them here instead of keeping it internal:

**Foreman:**
* As a user, I want to configure taxonomies (Orgs, Locs)
* As a user, I want to configure common foreman parameters (foreman settings, global parameters, auth sources, users,

[2020-04-09 13:46] evgeni opened #788 "add compute_attributes to foreman_host"
##### SUMMARY
@lengoldenstein requested this on twitter: https://twitter.com/lengoldenstein/status/1247501504631549954

I tried adding it, but faced a few interesting bumps, which I don't know how to handle properly:
- foreman does not return these attributes on a normal "show" of a host and you need an additional API request to get them
- not all compute resources allow updating these for existin

[2020-04-09 13:57] Fobhep commented on #788
awesome - thanks for your efforts @evgeni :)
I agree with your proposal - seems to be the best way for now

[2020-04-09 15:02] lengoldenstein commented on #788
Hi - Thanks for looking in to this.  The equivalent functionality with 'hammer' looks like:
hammer -v host create \
--name "servername.org.com" \
--organization "ORG" \
--location "LOC1" \
--hostgroup "RHEL8-GP" \
--compute-resource "ssvsavcp8.org.com" \
--provision-method "bootdisk" \
--build true \
--ip "192.168.1.2" \
--subnet "Dev-10.33.118.0-EPG" \
--domain "org.com" \
--compute-attributes "c

[2020-04-14 10:00] Fobhep opened #791 "Links to modules broken"
##### SUMMARY
The links to modules in the devel guide
https://github.com/theforeman/foreman-ansible-modules/blob/master/docs/developing.md
are broken.

I think there is always a `/docs/` layer too much included.

##### ISSUE TYPE
 - Bug Report

[2020-04-15 11:36] Fobhep commented on #757
@evgeni Maybe you can add the following to your original post:

Parameters for interface API:
- [ ] host_id
- [ ] location_id
- [ ] organization_id
- [ ] interface[mac]
- [ ] interface[ip]
- [ ] interface[ip6]
- [ ] interface[type]
- [ ] interface[name]
- [ ] interface[subnet_id]
- [ ] interface[subnet6_id]
- [ ] interface[domain_id]
- [ ] interface[identifier]
- [ ] interface[managed]
- [ ] inter

[2020-04-15 12:34] mdellweg commented on #757
As i remember it, the `foreman_host` module is _not_ starting the host after creation. That means you need to call `foreman_host_power` as a separate task, which gives you enough time to configure every interface needed before the installation process starts.
Not saying that it would be a bad idea to make interfaces available through the host module, but that it is not urgent.

[2020-04-17 11:21] evgeni commented on #757
@Fobhep I think it's fine in your post, so you can edit it as you go ;)

@mdellweg Foreman will auto-start the host after it got created, unless you tell it not to.

[2020-04-20 10:30] #791 closed

[2020-04-20 10:35] evgeni opened #795 "links in development docs broken on https://theforeman.github.io/foreman-ansible-modules/"
##### SUMMARY

in #791/#794 we fixed the rendering of the devel docs to point to the right file when viewed on GH, but the rendering on https://theforeman.github.io/foreman-ansible-modules/ still has bad links as the python files are not on the sphinx generated output

but using absolute links would mean to have the branch name in them, and thus the docs would always point to master, and not the b

[2020-04-20 11:27] #677 closed

[2020-04-24 13:11] evgeni commented on #795
either try to make Sphinx copy the modules we refer or use absolute links and mangle them on build (bah).

[2020-04-24 13:19] evgeni commented on #777
@pondrejk should we assign that to you, or would you prefer not to? :)

[2020-04-24 21:03] ericsysmin opened #800 "Move to Ansible Collection"
##### SUMMARY
To support 2.10 and higher of Ansible can we create a Collection with these modules?

##### ISSUE TYPE
 - Feature Idea

[2020-04-26 01:48] ehelms commented on #800
Thanks for opening the issue. This is already a released collection: https://galaxy.ansible.com/theforeman/foreman

[2020-04-26 01:48] #800 closed

[2020-04-26 19:55] ericsysmin opened #801 "Migrate to Ansible Collection"
##### SUMMARY
Can we migrate this repo into an Ansible collection for 2.9+ support?

##### ISSUE TYPE
 - Feature Idea

[2020-04-27 01:14] #801 closed

[2020-04-27 12:09] IncredibleRichie opened #802 "Add provider Proxmox to foreman_compute_resource"
##### SUMMARY

It would be great to set up the provider Proxmox with the module foreman_compute_resource
##### ISSUE TYPE
 - Feature Idea

[2020-04-28 11:51] gabriel-mh opened #803 "Feature requests for katello_content_view_filter"
##### SUMMARY
A several feature requests for katello_content_view_filter

##### ISSUE TYPE
Hello folks,

I've written a role for handling the content views yum filters & yum filter rules in Satellite and would like to request the following features:

i) Filter creation
ii) Rule creation

This is especially important for bulk processing, the only way to currently achieve this is conditionally impor

[2020-05-04 02:46] amasolov opened #807 "Add support for foreman tasks"
##### SUMMARY
Would be good to have a way to search for running/completed/errored foreman tasks. Searching for state, result, action and being able to count results should give enough functionality to perform maintenance tasks on Satellite for example.

Use cases:
- Taking a backup only if there are no running sync, publishing, promotion tasks
- Starting capsule sync if there are no errors during

[2020-05-04 07:41] mdellweg commented on #807
I know, the usability is subject to improvement (we might eventually move to one `_facts`/`_info` module per entity), but for now we have a generic `foreman_search_facts`, that should be able to perform in your use cases.

[2020-05-04 08:52] pondrejk commented on #777
@evgeni np, I'm scrambling up a starter PR, the idea is to support just command and service job templates, then see how to extend

[2020-05-04 12:30] rht-jbittner opened #808 "foreman_domain module does not update dns capsule (dns_proxy)"
##### SUMMARY
Ansible role foreman_domain is not capable to change/update dns_proxy settings. (In Satellite terminology DNS Capsule) for managed domain.

##### ISSUE TYPE
 - Bug Report

##### ANSIBLE VERSION

[code]

##### KATELLO/FOREMAN VERSION

[code]

##### APYPIE VERSION

[code]

##### STEPS TO REPRODUCE

1. Create domain with Ansible foreman_domain module. Leave DNS Capsule empty (dns_proxy:

[2020-05-04 12:36] rht-jbittner commented on #497
It would be also nice to have ability to remove any content view which does not belong to any environments.

[2020-05-05 10:40] evgeni commented on #808
Hey, could you please provide a playbook that triggers this? Because I could not reproduce it (on a newer Foreman version, but that shouldn't matter). I can create a domain without a proxy, and then in a second call assign the proxy just fine.

[2020-05-05 23:38] amasolov commented on #807
@mdellweg thank you for you reply but I couldn't make it work.  Always getting the error below despite my attempts to put ID into params. I also think it might be useful to put an example of this into the docs since even searching for foreman tasks is kinda obscure in `foreman_search_facts`.

[code]

[code]

[2020-05-06 06:30] #802 closed

[2020-05-06 10:17] mdellweg commented on #807
I think, the resource you are looking for is called `foreman_tasks`.

[2020-05-07 14:44] evgeni opened #816 "removing the foreman_/katello_ prefix from the modules?"
When used in the collection context, the FQCN is rather long, and often contains "foreman": theforeman.foreman.foreman_host. While the prefix is useful outside of the collection, the duplication inside it is rather annoying.

As we're currently still supporting Ansible 2.7 which has no collection support, we can't really do the change right now. But as soon as 2.10 ships and 2.7 is not supported a

[2020-05-07 14:49] evgeni commented on #816
(I've set the milestone to 1.0 as I think the 1.0 release should have stable naming :))

[2020-05-07 15:25] ehelms commented on #816
As they were originally how we namespaced the modules, I like dropping the prefix naming on the modules. I assume this would be more consistent with a lot of other collections as well and simplify things.

If it's easy to change it when building the collection: +1

Is it possible to support both naming conventions for some period of time?

[2020-05-07 20:22] ehelms commented on #816
Relevant to the conversation is tombstoning that will be in Ansible 2.10:

https://github.com/ansible/ansible/pull/67684

[2020-05-08 13:19] evgeni commented on #816
@evgeni will try to whip up a PoC that will have the prefixes stripped but the old names available via deprecation symlinks inside the collection, the repository will remain prefixed for the lifetime of Ansible 2.7

[2020-05-08 13:24] evgeni commented on #807
triage notes: assigning to Matthias for finding a quickfix solution using search facts, long term we should have an own module for that.

[2020-05-08 13:39] evgeni commented on #803
This is roughly what we want to do, see https://github.com/theforeman/foreman-ansible-modules/issues/695#issuecomment-582794505
At least the first step is identical, the rest might need to be split up, but sounds valid!

Would you be willing to work on this? :)

[2020-05-08 18:56] childofthewired opened #818 "foreman_host does not power on vmware based hosts before attaching bootdisks"
##### SUMMARY
When using theforeman.foreman.foreman_host with Satellite 6.6.3 and provision_method "bootdisk"

The module will upload the bootdisk to the datastore and reconfigure the VM to boot from the bootdisk before powering the VM on. This is out of sequence from how formam/satellite typically does this, and as such, virtual machines will not boot and provision.

Typically the build goes like

[2020-05-08 19:33] dmaple-gci commented on #818
I have the same issue with Ansible 2.9, Satellite 6.6.2, katello 3.12.0.37.

[2020-05-10 22:42] amasolov commented on #807
@mdellweg Thanks, using `foreman_tasks` does the job. Definitely not the most obvious way to search for tasks.

[2020-05-11 11:45] rht-jbittner commented on #808
I am sorry @evgeni , I had typo in my Ansible code.

Sorry for that.

[2020-05-11 11:45] #808 closed

[2020-05-11 12:16] evgeni commented on #808
No worries! That happens!

Out of curiosity, what was the typo? Could the module in any way have caught that?

[2020-05-11 18:29] ehelms commented on #816
As part of this, or parallel to, we should rename katello_sync to `sync_repository` or something that is less generic than `sync` will be.

[2020-05-12 06:07] gundalow commented on #816
ansible-base's routing.yml should point to the new name.

[2020-05-12 06:24] evgeni commented on #816
These modules were never in Ansible, so I don't think we need to touch Ansible's routing?

[2020-05-12 06:35] gundalow commented on #816
Ah, sorry, ignore my last comment.

[2020-05-15 16:07] abenokraitis commented on #816
Hey all, any consensus yet? Maybe a mapping doc (before/after) to help?

[2020-05-20 21:46] knumskull opened #819 "Add possibility to change download_policy for Red Hat repositories"
##### SUMMARY
It's not possible today to enable repositry-sets and define the download_policy for Red Hat Repos.

It should be possible to change the policy.

Using `katello_repository` module does not work
[code]

[code]
##### ISSUE TYPE
 - Feature Idea

[2020-05-21 06:38] sean797 opened #820 "Add SCA toggle to redhat_manifest"
##### SUMMARY
Subscription Allocations in the Red Hat portal now have a "Simple Content Access" toggle, we should add support for this in the Ansible module.

##### ISSUE TYPE
 - Feature Idea

![Screenshot from 2020-05-21 07-36-12](https://user-images.githubusercontent.com/13135483/82530716-d78aef00-9b35-11ea-9677-a4d0db28f31a.png)

[2020-05-21 08:44] csproud opened #821 "foreman_subnet won't add created domain"
##### SUMMARY
The Foreman_subnet.py set of tasks will not add my domain to my subnet, citing "no data found for <domain-name>" even though the domain exists in the GUI

The domain has been created in a previous step and even says a host is part of it. I have also used the same python module to add another domain to another subnet, though this domain was part of the DNS setup of the foreman server.

[2020-05-22 13:15] evgeni commented on #821
can you please show us the playbook you've been using? and the full output of the module.

I'm rather sure this works in general, but might fail for you because of a missing organization or something like this. Having playbook would help debugging this.

And btw, no, there are no lookups involved.

[2020-05-22 13:16] evgeni commented on #820
great idea, I'm sure you can provide docs and a patch? :)

[2020-05-22 13:23] evgeni commented on #819
this is possible in the UI, so def a bug, but might be API instead of FAM.

[2020-05-22 13:27] evgeni commented on #818
@Fobhep @hlawatschek you guys use VMWare, right?

[2020-05-22 13:33] evgeni commented on #819
Reading the code, this error should only be raised when you try to _create_ a repo in an RH product. So may be your repo name is wrong and it does not find it, so it tries to create it?

[2020-05-22 19:40] jwbernin opened #822 "document how to enable multiple repositories"
##### SUMMARY

I have a playbook that iterates through repositories to enable. Some repositories have a releasever, some have a basearch, some have neither, some have both. In the third case, I have to have a separate play to enable those repositories.

The snippet of concern from my playbook that is working:
[code]

What I would like:
[code]

##### ISSUE TYPE
 - Feature Idea

[2020-05-24 18:42] knumskull commented on #819
My repo is inside a RH product, as I want to have Kickstart repos synced immediate.
For example, following two Repos I would like to have synced immediate.

[code]
As you already wrote, I can change the download-policy via UI.

Based on [1] the download_policy should be changeable using API, but I'm getting error, when testing with following snipped:

[code]

Repo is configured like following:

[c

[2020-05-24 19:14] jwbernin commented on #819
I'm able to set the download policy on RH CDN repos as follows:

[code]

The play looks identical to the non-working example in the original post - perhaps you're on an older version of these modules?

[2020-05-24 20:11] knumskull commented on #819
@jwbernin sounds good.
How can I check the version of FAM I'm using? I've installed the foreman-collection following the install instructions in [documentation]

[code]

[documentation]: https://theforeman.github.io/foreman-ansible-modules/master/README.html#installation

[2020-05-26 15:55] Fobhep commented on #818
@evgeni yes we do. I will have a look at this.

[2020-06-02 11:14] evgeni commented on #819
@knumskull you can see the version in `~/.ansible/collections/ansible_collections/theforeman/foreman/MANIFEST.json` -- yeah, no user friendly version of that :(

your `curl` call is missing the json headers, so you don't get the proper route. can you try with `-H 'Accept: application/json;version=2' -H 'Content-Type: application/json'` please?

in your second post, you say the repo is `Red Hat Ent

[2020-06-02 11:44] gabriel-mh commented on #803
Thanks for the reply!

Yes, I've started today :)

[2020-06-04 20:17] knumskull commented on #819
@evgeni you're genius. Adding the right content-type, my curl command works and than I had to use the correct name for the repo and FAM works as well.
So I'm going to close this ticket now.
Anyway, it's very tricky to get the right names and releaseversions for Red Hat repositories

[2020-06-04 20:17] #819 closed

[2020-06-05 02:45] evgeni commented on #819
Lol, nah, just used to the various failure modes ;)

And yes, the naming is not strictly straight forward. We have the same(-ish) issue in the repository set module too. If you can think of any improvements here (documentation, error messages etc), we'd gladly implement those.

[2020-06-05 07:58] evgeni commented on #816
@abenokraitis @gundalow may I raise your awareness to https://github.com/ansible/ansible/issues/69902?

TL;DR (also for everyone else): underscore-based deprecation is not supported (and does not work) inside of collections, so while we can (and should) add a `routing` config that will work in Ansible 2.10, there is no way to make it work in 2.8/2.9 today. And even if the routing feature would be

[2020-06-05 08:07] evgeni commented on #816
Ansible 2.10 is [scheduled to be released on 2020-08-13](https://github.com/ansible/ansible/blob/devel/docs/docsite/rst/roadmap/ROADMAP_2_10.rst), which will make 2.7 EOL. Do we want to wait until then, or drop 2.7 support earlier? People could still use a 2.7 compatible branch we can create (similar to what we did with `nailgun`)?

[2020-06-05 13:11] ehelms commented on #816
I'm impatient, and don't think there is much overhead in the rename for users. EL7 and EL8 at least all have versions of Ansible that support collections correct? My vote then is for your suggestion of a branch/version that ends 2.7 support and drop it to aim for a 1.0.0 release.

[2020-06-05 13:12] evgeni commented on #822
using "repositories: all" would make the ansible argument parser less helpfull for us, but I think we can come up with a doc example how you can achieve that in one task. I'll try to provide this example next week.

[2020-06-05 13:22] evgeni opened #826 "move to pure collection"
##### SUMMARY

drop 2.7 compat and all the sed hacks we have in Makefile

##### ISSUE TYPE
 - Bug Report

##### ANSIBLE VERSION

[code]

##### KATELLO/FOREMAN VERSION

[code]

##### APYPIE VERSION

[code]

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2020-06-05 14:11] evgeni opened #827 "Drop as many Foreman mentions from docs as possible"
##### SUMMARY

Our docs mention "foreman" way too often without giving any help to the users.
Example: "manage X using the foreman api" - what else but the foreman api would you expect inside the foreman collection?

##### ISSUE TYPE
 - Bug Report

##### ANSIBLE VERSION

[code]

##### KATELLO/FOREMAN VERSION

[code]

##### APYPIE VERSION

[code]

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RE

[2020-06-05 14:25] abenokraitis commented on #816
you can always add a `requires_ansible: '>=2.9.9,<2.11'` to the `runtime.yml` (was routing.yml) to indicate the downstream collection is only compatible with 2.9.9+ and 2.10.0+

[2020-06-05 14:31] evgeni commented on #816
The downstream collection does not have that issue as it has 0 users right now ;)

[2020-06-05 14:49] evgeni commented on #816
For Eric's last q: EL7 and EL8 are good, so is Ubuntu 20.04 LTS. Debian 10 has a good version in the backports repository.

[2020-06-08 07:41] evgeni commented on #822
How about the following?

[code]

The important part is:
[code]
this will set `repositories` if it's defined, and otherwise `all_repositories` will be `true`

[2020-06-08 07:46] evgeni commented on #822
(see https://github.com/theforeman/foreman-ansible-modules/pull/359#pullrequestreview-263245140 why we didn't just make `repositories` optional)

[2020-06-08 15:01] evgeni opened #830 "Drop support for deprecated verify_ssl"
##### SUMMARY
We had validate_certs long enough now ;)

##### ISSUE TYPE
 - Feature Idea

[2020-06-08 15:01] evgeni commented on #830
@ehelms something that's 1.0 worthy IMHO

[2020-06-09 12:06] #830 closed

[2020-06-09 12:48] ehelms opened #832 "Rename katello_sync to repository_sync, katello_upload to content_upload and foreman_environment to puppet_environment"
Related to dropping `katlelo_` from modules to rely on the namespace, `sync` would be too generic and thus renaming to something that reflects what is being synced makes more sense.

[2020-06-09 13:05] FlatKey commented on #818
I have a similar issue, but the bootdisk will never connected even after using foreman_host_power to start the VM.

Ansible 2.9.0
Apypie 0.2.2
Foreman 2.1.0
VMware vSphere 6.5.0

[2020-06-09 13:21] evgeni commented on #832
Does the same apply for `upload`?

[2020-06-09 15:40] sean797 commented on #832
or just `sync` so `theforeman.foreman.sync` which I slightly lean towards but I think either choice is fine.

[2020-06-09 16:02] evgeni commented on #832
@sean797 I think with "sync" the question is "sync what?" as there are multiple things to sync, repos, templates. Given we have a template sync one that's called template_sync, I'd lean towards repository_sync.

[2020-06-09 16:04] evgeni commented on #832
Oh, and in hammer it's "hammer repository sync" or "hammer product sync" (to sync all of a product). As we don't want to split (I think?), repository is nicer than product.

Oh and content is not specific enough I think.

[2020-06-09 18:34] ehelms commented on #832
Yes to upload. And yes, no need to split unless its cleaner interface for user.

[2020-06-09 18:40] evgeni commented on #832
So, upload what? content_upload? (After I veto-ed content_sync?)

[2020-06-09 19:09] ehelms commented on #832
Yes.

[2020-06-10 07:48] mdellweg commented on #832
I read `repository_sync` and `content_upload` now, and i can ack those.

`upload` really takes single files of _content_ so that name sounds right to me.
On the other hand what we _sync_ are _repositories_ and specifying a _product_ to hit a multitude of them is more like a convenience feature to me.

[2020-06-10 07:56] sean797 commented on #832
That's true... let's kill `sync`.

[2020-06-10 10:30] evgeni commented on #832
Another module we will need a new name for is `environment`. Not because it's a bad name, but because you can't call a module `environment` -- that keyword is reserved for the actual environment of the task.

And yes, often the modules will be called as `theforeman.foreman.environment` and that'll work, you can specify a `collections` param in a playbook, to avoid to spell out the collection name

[2020-06-15 16:03] m-bucher opened #836 "ansible-callback plugin should indicate type"
##### SUMMARY
Currently foreman_ansible-module struggles to identify reports from foreman ansible-callback plugin
This needs to be fixed in sync with https://github.com/theforeman/foreman_ansible (see also https://projects.theforeman.org/issues/28069).

##### ISSUE TYPE
 - Bug Report

##### ANSIBLE VERSION

[code]

##### KATELLO/FOREMAN VERSION

[code]

##### APYPIE VERSION

[code]

##### STEPS TO

[2020-06-17 08:16] evgeni opened #837 "allow for environment fallback for url/user/pass"
##### SUMMARY
Ansible supports automatic environment lookup for parameters (see https://docs.ansible.com/ansible/latest/dev_guide/developing_program_flow_modules.html#fallback) which I think can be useful for url/user/pass

##### ISSUE TYPE
 - Feature Idea

[2020-06-17 11:42] evgeni opened #838 "katello_sync example leads to bad performance"
##### SUMMARY
the example in `katello_sync` tells the user to search for all available repos and then trigger a sync on all of them in parallel. this can lead to a very high load on the system, especially on memory, sometimes killing MongoDB and friends, thus actually breaking the system.

I think we should not give such examples.

@sean797 you added that example in #211 -- care to weight in? :)

[2020-06-17 14:29] sean797 commented on #838
Seems like a fair use case, shame we do not handle it well.

Removing it as a short term solution makes sense to me

[2020-06-18 08:55] #326 closed

[2020-06-18 09:11] #816 closed

[2020-06-18 09:11] #832 closed

[2020-06-18 09:56] #827 closed

[2020-06-19 08:30] #826 closed

[2020-06-19 08:46] evgeni commented on #399
So, we dropped 2.7 support now, but I can't find any place where `required_by` would be useful.

@sean797 I think your comment was before we re-did the login in `repository_set`

[2020-06-19 09:18] #399 closed

[2020-06-19 09:27] #838 closed

[2020-06-19 13:14] evgeni commented on #836
@m-bucher so we basically just need to port https://github.com/ansible/ansible/pull/55437/files to our codebase?

[2020-06-19 13:15] evgeni commented on #836
Otherwise, I have no idea what needs to be done here :(

[2020-06-19 13:44] m-bucher commented on #836
That might be enough, however we should also check if foreman can evaluate this new parameter.
@xprazak2 could you please open https://github.com/ansible/ansible/pull/55437,here?

[2020-06-21 16:25] erezzarum opened #847 "Inventory plugin want_params is broken"
##### SUMMARY
When using Foreman as an inventory plugin with "want_params" set to True it seems as only few parameters are available.

##### ISSUE TYPE
 - Bug Report

##### ANSIBLE VERSION
[code]

##### KATELLO/FOREMAN VERSION

[code]

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Parameters included in host inventory variables

##### ACTUAL RESULTS

[code]

If using "legacy_hostvars"

[2020-06-22 11:04] Fobhep commented on #818
Hi all,

sorry that took a while. But I reached out to some colleagues of mine that actually are using bootdisk and I have a possible solution.
There are some `vmware` only features for certain compute attributes.
https://access.redhat.com/documentation/en-us/red_hat_satellite/6.2/html/provisioning_guide/cli_params

eg
[code]

Could you maybe try and add that to the compute_attributes that are ass

[2020-06-23 12:55] Akasurde opened #851 "Improving Inventory Foreman"
_From @selmison on Feb 16, 2018 12:36_

##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
- contrib/inventory/foreman.py

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]
##### OS / ENVIRONMENT
 - Debian 8

##### SUMMARY
Why does the `_get_host_data_by_id` method in `contrib/inventory/foreman.py` use `api/hosts/:id` request instead of using `hosts/:id/enc request`?

If `_get_host_data

[2020-06-23 12:55] Akasurde commented on #851
_From @giovannisciortino on Feb 19, 2018 16:08_

Hi @selmison ,
I tried to check the difference between call api "api/hosts/:id" and "hosts/:id/enc" on a labt Satellite 6.2.13 server calling api to collect info about a single client.

In my case the former api call collects more data compared to the latter.

Example:
´´´
[root@gs-sat61 ~]# curl 'https://admin:XXX@gs-sat61.localdomain/api/hosts/255

[2020-06-23 12:55] Akasurde commented on #851
_From @selmison on Feb 22, 2018 13:23_

You're rigth, @giovannisciortino.  The api `api/hosts/:id` retrieve more host data than `api/hosts/:id/enc`.

But most of these data retrieved by `api/hosts/:id/enc`, as for example `ssh_authorized_keys` of `foreman_users`, are not retrieved by `api/hosts/:id`.

It might be interesting a new option "collect_enc_host_data" disabled for default  is added in fo

[2020-06-23 12:55] Akasurde commented on #851
_From @selmison on Feb 22, 2018 15:20_

@giovannisciortino please see also [https://community.theforeman.org/t/differences-between-apis/8428](https://community.theforeman.org/t/differences-between-apis/8428)

[2020-06-23 12:55] Akasurde commented on #851
_From @giovannisciortino on Feb 22, 2018 18:20_

@selmison thanks for the clarification about you needs and the research of documentation about it.
I can try to work on it in my spare time. If I create a PR related to this issue, I'll ping you asking the pleasure to review and test it if you have a environment where you can test it because I have only a small lab Satellite 6.2 server with few test

[2020-06-23 12:55] Akasurde commented on #851
_From @selmison on Feb 23, 2018 03:15_

Great, @giovannisciortino! It will be a pleasure to help in any way possible.

[2020-06-23 12:55] Akasurde commented on #851
_From @jwinderWCB on Apr 25, 2019 17:26_

I am trying to implement this change as I would like to use the ENC parameters, but I'm running into an issue with the enc dictionary being accessible in an Ansible playbook.

If I run:
`$ ./foreman.py --host jwinder-test1.localnet.net`
I get:

So the inventory is containing the enc dictionary. However if I used the following playbook, the entire enc hiera

[2020-06-23 12:55] Akasurde commented on #851
_From @Akasurde on Jun 23, 2020 12:49_

Foreman inventory plugin is maintained [`here`](https://github.com/theforeman/foreman-ansible-modules). Migrating this issue there.

[2020-06-24 09:18] ich199 opened #854 "Add module stream filter_type to katello_content_view_filter"
##### SUMMARY
From both the Katello UI and via hammer, you are able to add a content view filter rule to filter module streams from Yum content. This is not currently possible using the katello_content_view_filter module.

![screenshot_2020-06-24-10:13:08](https://user-images.githubusercontent.com/17448821/85528466-d43ac580-b603-11ea-9ef4-9d0065751c53.png)

##### ISSUE TYPE
 - Feature Idea

[2020-06-29 20:31] childofthewired commented on #818
Running the equivalent hammer command requires the following to be appended to start the virtual machine and attach the disk in the proper order.

`--compute-attributes "start=1"
`

[2020-06-30 07:23] Fobhep commented on #818
that is exactly what I meant with the link I posted [above](access.redhat.com/documentation/en-us/red_hat_satellite/6.2/html/provisioning_guide/cli_params) mentioning the vmware specific attributes.
Did you already try including that in your compute attributes?

[2020-06-30 10:26] #764 closed

[2020-06-30 11:26] evgeni commented on #821
Hey @csproud, could you please provide some steps to reproduce this issue? As written, it works in general, so we'd be interested to see why it does not in your case.

[2020-07-08 03:46] ptoal commented on #837
It would help to co-ordinate with awx/tower, as well: https://github.com/ansible/awx/issues/2192

[2020-07-09 09:50] itcultus commented on #695
If you split this, how will you ensure the idempotency?
And how will you ensure that a specific filter has only the rules that are defined in the inventory?
Following what hammer is doing in the CLI is not always replicated with Ansible; I want to have my CV/CCVs filters etc at a specific state.
If the module supports idempotency at the rule level, how will I achieve idempotency at the filter leve

[2020-07-09 13:40] knumskull opened #867 "Missing module to create HTTP Proxy"
##### SUMMARY
While it's possible to set a default proxy for the foreman instance, it's not possible to create a HTTP Proxy for that purpose.

Currently iit's possible to workaround the issue by following snippet, but it's not really idempotent.

[code]

##### ISSUE TYPE
 - Feature Idea

[2020-07-09 14:46] parmstro commented on #695
@itcultus ... Hmmm... Idempotency. You will to run into this sort of issue with any hierarchical structure that you are trying to develop. How do you make a system idempotent when it consists of many related and hierarchical parts. Certain configuration may not be able to exist until other elements exist. How far do you go back this up the hierarchy chain. If I want to ensure that if my content vi

[2020-07-13 12:17] dabelenda opened #869 "Need a way to allow lifecycle environment synchronization to smart_proxy"
##### SUMMARY
When creating a new LifeCycle Environement, it needs to be explicitely selected in capsules to be synchronized. However, there is no way to do it in Ansible, so each time a new LifeCycle Environment is created it needs to be manually added to the capsules in the WebUI.

Please make it so that the synchronization can be added automatically.

##### ISSUE TYPE
 - Feature Idea

[2020-07-14 08:12] cmeissner opened #871 "Add possibility to configure more than one interface per host"
##### SUMMARY

We manage (create/delete/configure) hosts via ansible module what works fine for us. But now we need a host which provides two nics with two different subnets aligned to.
As we see in the documentation of the ansible host module (link) there are only single parameter subnet, subnet6 and domain which we assume that these configure the nic.

##### ISSUE TYPE

It would be great if we'l

[2020-07-14 08:27] cmeissner commented on #871
As described in [API v2 documentation](https://theforeman.org/api/2.0/apidoc/v2/hosts/create.html) for creating a host. there is an `interfaces` array. This should be addressed by the ansible module to manage multiple interfaces i guess.

[2020-07-14 15:19] AlanCoding opened #872 "Request - include python requirement.txt in build"
##### SUMMARY
For the purpose of using this collection in [execution environments](https://github.com/ansible/ansible-builder) in the future, we would like to have the python requirements for module usage in the collection build.

I believe that would require adding `requirements.txt` and its dependent files to what is copied to the build folder:

https://github.com/theforeman/foreman-ansible-modu

[2020-07-15 10:51] evgeni commented on #872
Thanks @AlanCoding, so you're finally implementing my suggestion from a year ago :D (https://github.com/ansible/ansible/issues/62733)

Opened a PR that should add the runtime deps to the dist.

[2020-07-15 11:06] evgeni commented on #872
btw, are there plans to make (python style?) optional requirements? e.g. all our modules need `apypie`, but only some need `rpm`, `debian` and `ipaddress` libraries, and it'd be cool to be able to express that.

[2020-07-15 11:21] #872 closed

[2020-07-15 14:12] AlanCoding commented on #872
I get where you're coming from, it's just too early in development to get into that problem.

Think of it this way - we are building some tooling to add layers to a container image so that a collection works. The end goal is to know "this image works for collections x, y, and z". There's not a strong disincentive to installing more stuff, and needing to switch to a different image depending on wha

[2020-07-15 14:30] evgeni commented on #872
My concern was slightly different.

We have a module that uses the Python RPM bindings. Those don't exist "natively" on PyPI.

There is, however, a wrapper package `rpm-installer` that works in many cases and sometimes just fails to install for no apparent reason. Because of that, I'd be reluctant to add it to the main requirements file, but at the same time it'd be good to have it documented some

[2020-07-15 15:02] AlanCoding commented on #872
So I guess that may be the `rpm-py-installer` package, here are your `requirements:` entries from modules and files that I got from [scraping](https://github.com/AlanCoding/collection-dependencies-demo/blob/master/sniff_req/discovered.json) everyone's data.

[code]

...this has to be taken with a grain of salt.

So it feels like `requirements.txt` are like the minimum requirements, and there are "

[2020-07-17 06:49] #867 closed

[2020-07-17 08:08] evgeni opened #878 "make cidr/netmask optional for IPv6 subnets"
Previously, the API required the `mask` parameter and we either passed what the user entered or calculated it from `cidr`. The API never documented the `cidr` param so we never sent it. Now it does and so we send both. That's fine.

However, now both `mask` and `cidr` are optional, as they are only required for IPv4 subnets, but not for v6 ones. We still have `required_one_of=[mask,cidr]` -- there

[2020-07-17 09:19] evgeni opened #882 "Rename master branch to develop"
To follow Foreman standards

(Will require a rename of the doc folder in gh-pages to preserve history)

[2020-07-17 09:35] #345 closed

[2020-07-17 09:35] #878 closed

[2020-07-17 09:37] evgeni opened #883 "merge our vcr wrapper and the one from @pulp/squeezer"
they have common history and probably should be split out into a `ansible-vcr-wrapper` project that both can use.

[2020-07-17 09:37] evgeni commented on #883
cc @mdellweg

[2020-07-17 09:54] mdellweg commented on #883
The same holds true for the Makefile.
Maybe we can accompany this with some ansible collection specific makefile macros (*.mk files).

[2020-07-17 10:09] evgeni commented on #883
True. But distributing/including these will be a bit more complicated, as the Makefile would need to find out the path contrary to just importing a module

[2020-07-21 11:16] evgeni commented on #872
Ah, cool. Yeah. Then I think having only the "core" deps in `requirements.txt` makes sense. Thanks!

[2020-07-21 14:49] evgeni commented on #871
I think that's an duplicate of https://github.com/theforeman/foreman-ansible-modules/issues/757, which we are planning to address soon. Would you agree?

[2020-07-21 14:54] evgeni commented on #869
We don't a smart_proxy module yet, but as soon as we do (see https://github.com/theforeman/foreman-ansible-modules/issues/149) we can add that feature to it

[2020-07-21 15:01] cmeissner commented on #871
Agreed! Is there a valid time schedule already or should we implement a workaround for a while?

[2020-07-21 15:08] evgeni commented on #871
There is no schedule, @Fobhep tried it in https://github.com/theforeman/foreman-ansible-modules/pull/792 but had some issues with it.

Best is probably to have a workaround for now :(

[2020-07-21 15:08] #871 closed

[2020-07-23 10:02] pondrejk opened #897 "tag to mark upstream-only tasks in test playbook"
##### SUMMARY
Basically I'd welcome a way to exclude tasks that won't work downstream (debian repo tests, etc.). I suppose the solution would be to have an 'upstream_only'  tag + a way to tell 'make record_' to pass down the --skip-tags option.

Different suggestions are welcome :)

##### ISSUE TYPE
 - Feature Idea

[2020-07-23 12:21] evgeni commented on #897
I don't think "upstream_only" is a good name, but we can certainly tag debian related tasks with "debian", rpm ones with "rpm", etc. Then you can still exclude them as you suggested, without forcing an arbitrary (and maybe changing) upstream/downstream split.

[2020-07-24 09:50] evgeni commented on #882
done

[2020-07-24 09:50] #882 closed

[2020-07-24 10:42] evgeni opened #900 "accidentally closed PRs"
I killed `master`, but that closed the following PRs without the possibility to reopen:

- [ ] https://github.com/theforeman/foreman-ansible-modules/pull/314
- [ ] https://github.com/theforeman/foreman-ansible-modules/pull/400
- [ ] https://github.com/theforeman/foreman-ansible-modules/pull/518
- [ ] https://github.com/theforeman/foreman-ansible-modules/pull/548
- [x] https://github.com/theforeman

[2020-08-03 09:52] #836 closed

[2020-08-03 09:59] evgeni opened #906 "add maintainers for inventory and callback"
reminder for tomorrows triage

I'd like to add @ares, @xprazak2 and @ezr-ondrej as maintainers for the inventory and callback plugins, so they can merge PRs. either via code owners or just be lazy and do it repo-wide (I'd be okay with that).

[2020-08-03 10:23] mdellweg commented on #906
Given their consent, i agree. We need maintainers for those bits. And no need to make it complicated.

[2020-08-03 14:41] evgeni commented on #822
@jwbernin does the above example help you?

[2020-08-03 14:47] jwbernin commented on #822
That example works for me, yes.

[2020-08-03 14:48] evgeni commented on #822
So let's add it to the docs!

[2020-08-04 14:38] evgeni commented on #906
the triage has spoken: yes

[2020-08-04 14:44] evgeni commented on #897
another idea from @mdellweg: split the playbooks to contain just the right things (so e.g. multiple playbooks for content upload).

if you want to implement either of these: feel free -- otherwise I guess it will be done "this year" (no promise)

[2020-08-04 14:45] evgeni commented on #897
(and if you're not interested in the result of the recording, you can just call the playbooks with ansible-playbook, so you don't strictly need support for tags in our wrapper)

[2020-08-04 14:52] evgeni commented on #851
@ares does this (adding more data from the enc endpoint) make sense from an Ansible standpoint? I'd think that enc is more Puppet data that we don't care about?

[2020-08-04 14:52] evgeni commented on #851
(and is that endpoint removed whenever we remove puppet from core?)

[2020-08-04 15:11] #822 closed

[2020-08-05 05:50] evgeni commented on #906
access has been granted

[2020-08-05 05:50] #906 closed, assigned to nobody

[2020-08-05 10:19] pondrejk commented on #897
This sounds cleaner, I'll look into it, thank you

[2020-08-05 10:38] evgeni opened #910 "comply with the Ansible Collections Checklist"
there is a checklist at https://github.com/ansible-collections/overview/blob/master/collection_requirements.rst which we should check and try to comply with

known todos:
- [x] run sanity against latest stable (#909)
- [x] use FQCN in all module references (docs, examples, etc) (#913)
- [x] add minimum supported Ansible version to meta/runtime.yml (but I need to talk to @gundalow how to handle 2.8

[2020-08-05 20:47] felixfontein opened #911 "Inclusion of theforeman.foreman in Ansible 2.10"
This collection will be included in Ansible 2.10 because it contains modules and/or plugins that were included in Ansible 2.9. Please review:

* The list of requirements for inclusion in Ansible: https://github.com/ansible-collections/overview/blob/master/collection_requirements.rst
* The roadmap with all important dates for Ansible 2.10: https://github.com/ansible/ansible/blob/devel/docs/docsite/

[2020-08-09 12:33] igor-raits opened #912 "Kerberos authentication"
##### SUMMARY
In our environment we rely on kerberos everywhere and creating special user for this purpose is not really nice because all users would need to get that password and so on. It would be much easier if everybody would use their own kerberos tickets to get the inventory.

I guess as a downsides this would make this functionality to work only on linux and only under some specific conditi

[2020-08-09 19:13] evgeni commented on #912
The Foreman API [does not support Kerberos auth](https://projects.theforeman.org/issues/8923), so you'd first have to implement that ;)

That said, once the API supports it, I see no reason why we should not have it as an alternative.

[2020-08-10 05:38] igor-raits commented on #912
Hmm, interesting how it works in our environment. Because with negotiate I can easily talk to foreman API. Need to check how we configure that.

[2020-08-10 06:05] evgeni commented on #912
That would be cool!

Last time I *actively* tried to get that working was around Foreman 1.14 and back then the config explicitly excluded the `/api` route from krb auth. Given all the redmine tickets are still open, I assume(d) it still doesn't work.

FWIW, when you work on this, most changes probably need to happen in https://github.com/Apipie/apypie (by using `requests_kerberos`) and then the m

[2020-08-10 10:36] mdellweg commented on #912
I'm not sure the original poster requested this feature beyond the inventory plugin, but i think it is also interesting for the modules.

[2020-08-10 10:46] evgeni commented on #911
I'd say this is a dupe of #910 -- but I'd prefer to keep this instead of the other as this one is referred in the `ansible-collections/overview` meta-issue

[2020-08-10 13:08] Thulium-Drake opened #915 "activation_key module is missing 'description' paramter"
##### SUMMARY

See title, it currently is not possible to use Ansible to set the description field of an AK.

##### ISSUE TYPE
 - Bug Report

##### ANSIBLE VERSION

[code]

##### KATELLO/FOREMAN VERSION

[code]

##### APYPIE VERSION

[code]

[2020-08-12 07:14] Akasurde opened #919 "Foreman inventory does not sync empty groups"
_From @rht-jbittner on Mar 27, 2020 11:19_

##### SUMMARY
Foreman dynamic inventory script does not sync empty host groups.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

Foreman/Red Hat Satellite dynamic inventory

##### ANSIBLE VERSION

[code]

##### STEPS TO REPRODUCE

Create empty host group in Foreman/Red Hat Satellite and sync inventory. Groups without hosts are not synced.

##### EXP

[2020-08-12 07:14] Akasurde commented on #919
_From @jctanner on Apr 14, 2020 11:24_

!component =contrib/inventory/foreman.py

[2020-08-12 13:47] evgeni commented on #910
I think we're done.

@ehelms @mdellweg would one of you please read the linked document and briefly verify we're compliant?

[2020-08-12 19:07] evgeni commented on #847
Thanks @erezzarum! The proposed fix is correct and I've applied it in #921.

As for the ENC API, I don't know for sure, but we have a separate issue for that topic open: #851

[2020-08-13 08:41] mdellweg commented on #910
I don't understand and also don't see anything for:
- [ ] galaxy.yml : "dependencies MUST be set to '>=1.0.0'"
- [ ] DOCUMENTATION : "Use collection version numbers for version_added (otherwise version_added_collection must be provided, but this is discouraged)"

Everything else is fine. And wrt the unittest section we are miles ahead of that document.

[2020-08-13 08:50] evgeni commented on #910
1. Collections can depend on other collections, and I read that requirement as "you're only allowed to depend on stable (not 0.x) versions. We don't have any dependencies, so "done".
2. Hmm, I guess we could add a "version_added: 1.1.0" to the http_proxy module, as that's new in the next release?

[2020-08-13 08:56] mdellweg commented on #910
See, i read that different:
https://github.com/ansible-collections/overview/issues/106

[2020-08-13 10:29] felixfontein commented on #910
New modules and plugins should have version_added. Otherwise neither the changelog generator nor users know when the module/plugin was added.

[2020-08-13 10:40] mdellweg commented on #910
The question is whether _all_ modules / plugins _need_ to specify something, or only the ones added after 1.0.0.

[2020-08-13 11:04] felixfontein commented on #910
There's no need to add `version_added` for anything that already was in Ansible 2.9. Some collections also add version_added for these, but others don't (my personal opinion is not to). In general, `version_added` is optional, but it is good practice to use it correctly - it makes the documentation a lot more useful, and your users will thank you.

[2020-08-13 11:08] mdellweg commented on #910
Almost nothing here has been in ansible 2.9. So i guess, adding a version_added: 1.0.0 to everything (but http_proxy which gets 1.1.0) is in order?

[2020-08-13 19:16] felixfontein commented on #910
Sounds good to me.

[2020-08-13 19:47] evgeni commented on #910
👍

[2020-08-17 07:07] evgeni commented on #821
Hey @csproud I am closing this issue as "invalid" as we cannot reproduce it. If you still face the issue, please re-open it with more data.

[2020-08-17 07:07] #821 closed

[2020-08-17 08:11] #915 closed, assigned to evgeni

[2020-08-17 08:21] evgeni commented on #910
I'd call this done, unless anyone disagrees?

[2020-08-17 08:35] #847 closed

[2020-08-17 08:59] #910 closed, assigned to nobody

[2020-08-17 09:21] evgeni commented on #911
1.1.0 has been pushed to galaxy: https://galaxy.ansible.com/theforeman/foreman

it should contain all required changes.

[2020-08-17 09:21] #911 closed, assigned to nobody

[2020-08-17 09:42] evgeni commented on #919
@Akasurde FWIW, `contrib/inventory/foreman.py` was not migrated here, only `plugins/inventory/foreman.py` (which is a different! inventory) was. It might have the same bugs, but just blindly assuming that feels wrong ;)

[2020-08-17 16:25] tux93 opened #927 "Image module can only create but not update or delete vmware images"
##### SUMMARY
It is currently not possible to update / modify or delete vmware images created by the Image module

[code]

##### ISSUE TYPE
 - Bug Report

##### ANSIBLE VERSION
[code]
##### KATELLO/FOREMAN VERSION
[code]

##### STEPS TO REPRODUCE
Generating an image on the first run works fine, a second run ends in failed state

[code]

##### EXPECTED RESULTS
Running the task a second time would u

[2020-08-17 21:13] childofthewired commented on #818
The suggested playbook does not work:

[code]

Checking hammer for the equivalent commands:

When I create a host -

`
hammer host create --name test --compute-profilfe xyz --compute-resource vmware-host --compute-attributes  --compute-attributes "start=1"
`
Works {excluding my hostgroup info} and starts the vmware VM for provisioning.

the help pages for 'hammer host create' show that the '--comp

[2020-08-18 06:26] evgeni opened #928 "use the real sphinx_ansible_theme"
Ansible has split out their theme at https://github.com/ansible-community/sphinx_ansible_theme, so we can use it again without doing any crude hacks.

The benefit of the Ansible theme over RTD is the pygments parser that supports Jinja+YAML in the same code block.

[2020-08-18 14:41] evgeni commented on #927
This *looks* like it can't find the image it just created and tries to create a new one instead of updating (or deleting) it.

@Fobhep and @hlawatschek will love to look into that as time permits.

[2020-08-18 14:44] evgeni commented on #919
That said, it does look like it applies to our inventory too.

@ares @ezr-ondrej would one of you be able to look into this?

[2020-08-18 14:48] evgeni commented on #912
Right, the original request is about the inventory, which is not apypie, but it would be cool to support Krb everywhere (if possible).

@ignatenkobrain can you tell us how you deploy Foreman with kerberos, so that we can try to replicate your success? :)

[2020-08-18 14:50] evgeni commented on #851
maybe @tbrisker know about the ENC part?

[2020-08-18 15:00] tbrisker commented on #851
@evgeni I'm not quite sure about the context here, but the endpoint will likely remain as it contains not only puppet data but general host information and can be enhanced by various host info providers. When puppet integration is removed from core then only the info related to puppet classes and parameters will be removed from the endpoint, the rest should remain there.

[2020-08-18 15:18] evgeni commented on #851
Right, I could have provided more context. sorry @tbrisker

I think the main questions are:
1. Does the ENC endpoint provide data that is useful outside of Puppet (like the applied puppet classes are not, but host parama might be)?
2. Will the endpoint remain after the puppet removal/pluginization?

I read your answer as yes to both?

[2020-08-19 07:55] tbrisker commented on #851
@evgeni correct, if you take a look at the output of this endpoint, you'll see it provides additional info such as interfaces, taxonomies, subnets, host params and more.

[2020-08-19 10:00] #928 closed, assigned to evgeni

[2020-08-20 17:48] jeffwarnica commented on #803
I'm running into this identical problem, and more or less had modeled out the top proposal as a path forward. Even down to missing the duplicate group name problem.

Whatever the anti-denvercoder feeling is, I'm feeling it!

[2020-08-21 10:42] ezr-ondrej commented on #919
Sure, I'll try to take a look what is happening there

[2020-08-24 12:00] ezr-ondrej commented on #919
@evgeni I can see there is no sync for hostgroups in the sync script, should we add it there before host sync?

[2020-08-24 12:16] evgeni commented on #919
@ezr-ondrej I guess that'd be required, yeah. Not sure how it'd play with the `search` parameter though.

Can we get a list of hosts and then only sync all groups (and parents) that those hosts belong to?

[2020-08-25 11:45] ezr-ondrej commented on #851
I believe that https://github.com/theforeman/foreman_ansible/pull/299 implemented improved inventory endpoint. Should we use that? What is a blocker for that?
Apart of we need to force ansible plugin on foreman, what's not ideal, but can be done I guess.

[2020-08-25 12:15] evgeni commented on #851
That endpoint would be quicker, right? As it's pre-rendered?
Can we try it, and fall back to normal API if not found? I'd prefer not to *force* users to have `foreman_ansible` installed.

[2020-08-25 12:21] ezr-ondrej commented on #851
It was intended to be much faster I don't know how we are doing in the real scenarios, or if it's even used.

[2020-08-25 12:21] mdellweg commented on #851
The docs should tell us if the endpoint is available even before we try. So there is not even much in performance to loose.

[2020-08-25 12:22] ezr-ondrej commented on #851
The only drawback is we have to keep the parsing for both.

[2020-08-25 12:26] mdellweg commented on #851
And the documentation must cover: "If you have a lame installation, don't expect the best results."

[2020-08-25 12:35] mdellweg commented on #851
That is if it's more than just a difference in performance.

[2020-08-25 12:58] nesanton commented on #854
I might take it in a week if no one does before.

[2020-08-27 09:18] ares commented on #851
The endpoint linked by @ezr-ondrej is exactly what should be used. It was built for this purpose. The callback has been updated in ansible repo by @sjha4 before it was moved to this collection. Note there was a mess in that repo, we had two callbacks, one in `contrib/inventory/foreman.py`, one in `plugins/inventory/foreman.py`. We ended up updating the contrib one, since that was a way to get it t

[2020-08-27 09:21] ezr-ondrej commented on #851
There is still the issue that for the new version, we need the ansible plugin installed in foreman ... :(

[2020-08-27 11:18] evgeni commented on #851
This collection contains the inventory plugin, not the contrib inventory script. And that's also what Tower uses today. If there are features in the contrib version that we're missing, please forwardport them.

[2020-08-27 12:40] benrick01 opened #935 "Missing parameter in module theforeman.foreman.repository (Feature request)"
Hello,

I would like to request a new feature in the module "theforeman.foreman.repository"
The parameter --publish-via-http is available in the hammer command "

hammer repository create --help | grep publish
--publish-via-http ENABLE                                         Publish Via HTTP
This is not however available in the ansible collection: "theforeman.foreman collection"

I have downloaded

[2020-08-28 14:28] ares commented on #851
@sjha4 could you please take a look at it? I know there was some plan to unify them both

[2020-08-28 17:12] sjha4 commented on #851
@ares..The foreman.py script here doesn't seem to have the report api changes we made. I am a little lost around state of this..Did Tower move to using foreman-ansible-modules already?

[2020-08-28 18:25] ares commented on #851
probably yes, I'm afraid we'll need to take all you did in contrib script and migrate it to this script

[2020-08-31 12:59] hlawatschek commented on #927
It seems that this error occurs only when you try to change the image name or name includes a space character.

[2020-08-31 13:10] evgeni commented on #788
so we added the non-idempotent version in https://github.com/theforeman/foreman-ansible-modules/pull/932, please test :)

[2020-09-01 07:17] #927 closed, assigned to nobody

[2020-09-01 18:09] evgeni commented on #820
Ping @sean797, do we have docs of the portal API so we can implement that feature?

[2020-09-03 10:05] #935 closed, assigned to nobody

[2020-09-04 11:36] evgeni commented on #818
With https://github.com/theforeman/foreman-ansible-modules/pull/932 merged, could you please try adding the following to the `host` module call and see if it changes anything:

[code]

[2020-09-04 12:30] evgeni commented on #854
So I had a brief look at the API for that and I fear it's non-trivial to add right now.

The CV Filter Rule API expects a ModuleStream ID, which is just the numerical ID in the DB, so if we add a `module_streams` parameter, we'll have to do a search on the modulestream API endpoint to find the right stream id, and the API allows searching for the following terms: name, uuid, stream, version, conte

[2020-09-07 11:25] RobVerduijn opened #946 "updating an os with the operatingsystem module always fails"
##### SUMMARY
When using the operatingsystem module you get an error when you try to update an operating system in katello
Adding a new operating system to katello works fine.

##### ISSUE TYPE
 - Bug Report

##### ANSIBLE VERSION

[code]

##### KATELLO/FOREMAN VERSION

[code]

##### APYPIE VERSION

[code]

##### STEPS TO REPRODUCE

ensure the centos 8 repositories have been synced.
Somehow this a

[2020-09-07 12:30] mdellweg commented on #946
Hi, your error trace shows, that you are not failing in the `operatingsystem`, but in the `installation_medium` module.
So is suspect your second `operatingsystem` task is working fine (maybe not as expected), and it created a second OS with the new minor version.
The `installation_medium` now can no longer determine which one of the two you mean with "CentOS 8".
Now comes the tricky part, how is

[2020-09-07 14:11] RobVerduijn commented on #946
Hi,

Looking at the installation_medium option I think it's because it does not check the versions.
Only the name can be given. (which does exist twice one for centos 7 and one for centos 8)

However updating an os would be nice and is possible in the gui and on the cli with hammer.
With hammer it would take an additional hammer command to determine the correct id of the os but after that it is ra

[2020-09-07 14:32] RobVerduijn opened #947 "installation_medium should be able to handle an os with different versions"
##### SUMMARY

Currently the installation medium can only attach to the os name and does not consider the possible versions.
ie
if there is an os named CentOS version 8 and an os named CentOS version 7 it cannot attach to either of them due to the fact that it checks only for the os name which is CentOS in both cases, after which it will fail with an error.
It should be possible to provide version

[2020-09-07 15:40] mdellweg commented on #946
Yes, but the problem is, that this is not the way you can address things in an ansible playbook before they even exist.

[2020-09-07 15:43] mdellweg commented on #947
The `installation_medium`, as all modules using operatingsystems, does the OS lookup via title and falls back to name. So by being specific enough, you should be able to refer to all of them.

[2020-09-09 09:36] cmeissner opened #948 "Newly created locations are not accessible for normal user"
##### SUMMARY
If we create a new location via ansible location module

The newly created location cannot be seen by any user except for admins. We don't see any chance to configure valid users or the `all user` flag via ansible.

##### ISSUE TYPE
 - Bug Report

##### ANSIBLE VERSION
[code]
##### KATELLO/FOREMAN VERSION
2.1.0

##### APYPIE VERSION
[code]

##### STEPS TO REPRODUCE
[code]

##### EXPE

[2020-09-09 14:02] #919 closed, assigned to nobody

[2020-09-11 11:57] #837 closed

[2020-09-11 13:28] RobVerduijn commented on #947
Interesting,
Ah that works, sweet.
however, I double checked, besides seriously digging into  the code, this is not obvious

You might wanna mention this in the documentation.
Untill I read this I considered this module fubar and avoided the use of it.

Rob

[2020-09-11 13:35] RobVerduijn commented on #947
It now works, thank you

However it now has the state changed every time it runs even though nothing is changed.

Rob

[2020-09-11 14:14] mdellweg commented on #947
Being the one confused initially, would you be willing to improve the documentation?

[2020-09-12 11:53] cmeissner commented on #948
This seems to be a gap between UI and the `location` module. Nothing beside the documented stuff can be configured directly via ansible module. I think this is a matter of lower complexity in ansible modules.
We implement the logic by ourselves.

[2020-09-12 11:53] #948 closed, assigned to nobody

[2020-09-14 10:10] nesanton commented on #497
@evgeni do you know if there's an upstream bug to katello for not having "de-promote" or "delete-from-lce" API call?

[2020-09-14 10:31] evgeni commented on #497
I think that's mostly a feature so that you can only overwrite it by another version.

There is an API to remove a CV from an LCE (https://theforeman.org/plugins/katello/3.17/api/apidoc/v2/content_views/remove_from_environment.html) that I now used in https://github.com/theforeman/foreman-ansible-modules/pull/952

[2020-09-14 12:44] nesanton commented on #497
ah! content_views, not content_view_versions. Cool

[2020-09-15 12:41] ezr-ondrej opened #954 "Compute attributes needs to be dictionary, they do not accept lists"
Compute attributes `interfaces_attributes` and `volumes_attributes` needs to be dicts. These are really dicts in form of:
[code]
It's a bit ugly and strange. Maybe it's a good idea to:

1. Document the correct format and possible parameters of `vm_attrs` dict
2. Make the nested parameters a bit more convenient and provide the both data structures as lists instead of dicts.

[2020-09-15 12:59] Thulium-Drake opened #956 "module external_usergroup is not idempotent"
##### SUMMARY

Running the external_usergroup module multiple times always shows a change

##### ISSUE TYPE
 - Bug Report

##### ANSIBLE VERSION

[code]
Ansible controller is Debian 10 (Buster)

##### KATELLO/FOREMAN VERSION

[code]
Foreman/Katello is installed on CentOS7

##### APYPIE VERSION

[code]

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

No changes after the first run
##### A

[2020-09-15 13:03] pondrejk opened #957 "add tests for changing Host's CV and LCE"
##### SUMMARY
- Host can be assigned a content view and lifecycle environment when created, these parameters can be updated later. Tests for these operations are currently missing

##### ISSUE TYPE
 - Test request

[2020-09-15 14:50] evgeni commented on #954
Yeah, better examples are indeed a good idea.
The second idea is also good, but more work. Are you planning to work on this?

[2020-09-15 14:59] evgeni commented on #946
I'd expect installation medium to accept a "CentOS 8.1234"

Can you post the part of the playbook where you call installation medium, that's missing, so we can try to reproduce that?

[2020-09-15 15:02] cmeissner commented on #954
Maybe this is an wanted behavior because you can't guarantee same order of lists in ansible on each run. But for network interfaces and volumes the order is essentially.
So before here are changes made it has to be clarified whether order can guarantied or not. If not there should be a key `rank` or so, to reflect the order in that way.

[2020-09-16 07:08] RobVerduijn commented on #946
Hello, yes the medium does accept the more specific name, (pointed out to me in a different issue)

Using a more specific os name that is similar to the 'title' field from the 'hammer os list' command results in a match.
This is not something that you can easely digest from the documentation.

Rob

[2020-09-16 08:31] mdellweg commented on #954
From hacking the vcr wrapper around py2/3 incompatibilities, i'd suspect that lists are ordered stable, but dicts are not.

[2020-09-16 10:12] evgeni commented on #956
I *think* the problem is that you're pointing at an "EXTERNAL" group, but the module only matches "LDAP" ones.

Can you please try the following patch and set the `auth_source_external` param instead of `_ldap`?

[code]

That's obviously not how it should be in the final version, but the quickest for testing right now.

[2020-09-16 10:23] evgeni commented on #956
err, obviously the `required=True` needs to be `False`.

[code]

[2020-09-16 11:44] evgeni commented on #956
Let's see if https://github.com/theforeman/foreman-ansible-modules/pull/959 fixes this. @Thulium-Drake can you give that PR a try in your env?

[2020-09-16 11:50] Thulium-Drake commented on #956
I will, I'll get back to you tonight!

[2020-09-16 21:41] Thulium-Drake commented on #956
Will be fixed with #959 :-)

[2020-09-17 10:11] #956 closed, assigned to evgeni

[2020-09-17 11:04] gardar opened #961 "wait_for feature for theforeman.foreman.host"
##### SUMMARY

Please consider adding wait_for feature(s) for the host module, the feature would be used to get the ansible playbook to wait until the host is created/built or modifications to the host are successfully applied.

The [vmware_guest_module](https://docs.ansible.com/ansible/latest/modules/vmware_guest_module.html) can be used as a inspiration as it has two such options for waiting:

[2020-09-17 11:11] gardar commented on #818
I'm not OP but I came here with the same issue and I can confirm that this works for me, thanks!

[2020-09-17 13:20] dabelenda commented on #869
The problem I see is #149 is that nobody is currently working on it (since before I opened this issue).

[2020-09-17 15:52] gardar commented on #961
Found a good workaround, creating a task with a "until" loop that looks up the host by name and checks if the status of the host is installed and that it's got a IP address.
I'm verifying that it's got a IP in addition to being installed as the host seems to also get the "Installed" status when it's booted into the foreman discovery image

[code]

[2020-09-18 07:43] #946 closed, assigned to nobody

[2020-09-18 07:43] #947 closed, assigned to nobody

[2020-09-18 09:10] evgeni commented on #818
Based on feedback, I am going to close this as fixed by #932, thanks!
If the issue still happens to you, please open a new issue and reference this one for background.

[2020-09-18 09:10] #818 closed

[2020-09-18 09:25] pondrejk commented on #957
Turns out that the content related attributes are not implemented in the host module so this is more of an RFE

[code]

[2020-09-18 09:42] evgeni commented on #957
@pondrejk are you sure?

It's part of the HostMixin:
https://github.com/theforeman/foreman-ansible-modules/blob/d522e7534b03e71dde9706e83e93175fc591171d/plugins/module_utils/foreman_helper.py#L270-L273

So I'd expect that to work?

[2020-09-18 20:06] Thulium-Drake opened #965 "Discussion: 'Maintenance' module(s)?"
##### SUMMARY

It would be nice to have a module that can take some 'generic' commands (just like you would do with hammer) for regular maintenance jobs.

The main reason is to avoid using the shell/command modules, and this could perhaps also allow for some tighter control/feedback.

The commands I can think of off the top of my head (the only ones I wasn't able to code with modules in my role :-

[2020-09-19 11:26] ezr-ondrej commented on #954
For current format, Foreman will ensure the order. But there is no reason not to use Arrays for APIs. Most languages has ordered stable arrays/lists.
I'm trying this out in https://github.com/theforeman/foreman/pull/8006

[2020-09-19 18:18] evgeni commented on #965
As for CV purge, please also look at https://github.com/theforeman/foreman-ansible-modules/pull/958

cc @ehelms who was also looking into "maintenance" tasks for a (this?) collection

[2020-09-21 10:12] cmeissner opened #966 "Handle subnets thats use external IPAM like phpIPAM"
We configure our whole foreman server via ansible and we use phpIPAM as external IP address management. Is there a way to configure subnet via ansible which use an external IPAM. We don't found any hints in documentation. On the contrary we found this for IPAM:

[code]

Where `DHCP` is the default. No idea whether the plugin (in this case smart_proxy_ipam) have to/should/can add the needed fields

[2020-09-21 12:39] evgeni commented on #966
Are you using https://github.com/grizzthedj/foreman_ipam for the phpIPAM integration?

[2020-09-21 12:46] evgeni commented on #966
And if so, what do you enter in the UI when editing a subnet, is there an "IPAM" value for the "IPAM" field now?

[2020-09-21 12:59] evgeni commented on #966
Ah, no, that's in core now. Cool.

[2020-09-21 13:03] evgeni commented on #966
can you try https://github.com/theforeman/foreman-ansible-modules/pull/967 please?

[2020-09-22 06:46] #966 closed, assigned to nobody

[2020-09-22 08:41] cmeissner opened #969 "Unable to unset compute_profile in hostgroups via ansible"
##### SUMMARY
It's not possible to unset `compute_profile` field via ansible. If we set `compute_profile` either via Ui or via Ansible we have only the possibility to unset the `compute_profile` field to `null` via UI not via ansible.

##### ISSUE TYPE
 - Bug Report

##### ANSIBLE VERSION

[code]

##### KATELLO/FOREMAN VERSION

[code]

##### APYPIE VERSION

[code]

##### STEPS TO REPRODUCE

1. Cre

[2020-09-22 08:59] markgraf opened #970 "ansible-modules dependency graph"
##### SUMMARY
With currently 54 different interdependent modules, it would be uselful to know in which specific order they should be used.
E.g. `domain` will throw an error if any of its locations or organizations do not exist.

Other modules will have similar dependency issues.

##### ISSUE TYPE
It would be useful to have dependency graph of the modules, or something like a roleplaying-games skil

[2020-09-22 14:25] jjaswanson4 opened #971 "Support 'None' Option for PXE Loader Selection"
##### SUMMARY
'None' is an option within the webUI and the API, however the modules currently reject the option before firing off an API call.

##### FIX
Within plugins/module_utils/foreman_helper.py, add 'None' to pxe_loader=dict(choices)

[2020-09-22 14:26] jjaswanson4 commented on #971
[PR to Address](https://github.com/theforeman/foreman-ansible-modules/pull/972)

[2020-09-22 14:33] jjaswanson4 commented on #971
From the API docs:

(Pulled for hostgroup, also used elsewhere)

[code]

[2020-09-22 15:13] #971 closed, assigned to nobody

[2020-09-23 05:54] markgraf commented on #970
I created a dependency-graph with graphviz, see attached dot-file.  The graph may be incomplete and certainly needs retouching by a graphviz-expert.

In order to get a list without circular dependencies, I removed two dependecies:
- `architecure` depends on `operatingsystem` and vice-versa.  In my graph operatingsystem depends on architecture, but not the other way.
- `hostgroup` depends on itself

[2020-09-23 08:35] mdellweg commented on #970
arch and os have a many-to-many association relationship so their order should not even matter
and hostgroup has a parent relationship on itself

[2020-09-23 11:37] markgraf commented on #970
But the order *does* matter:  If you try to create an architecture with operatingsystems, you need to create the operatingsystems first, or else your ansible-run will fail.  So I'm deliberatly dropping this in the ansible-role I'm currently writing.

This is probably not the best approach, but keeping track of os and arch on both ends is more trouble than it's worth.
Personally I think the OS know

[2020-09-23 12:29] pcfe opened #973 "please provide instructions for upgrading from Ansible Galaxy"
##### SUMMARY
Can a section 'Upgrading from Ansible Galaxy' be added to README.md please?

side note: Installing a specific version is covered in the readme via the [linked Ansible docs](https://docs.ansible.com/ansible/devel/user_guide/collections_using.html#installing-an-older-version-of-a-collection) but I fail to see any upgrade instructions there.

##### ISSUE TYPE
 - Documentation Request

[2020-09-23 12:39] cmeissner opened #974 "template_combinations of hostgroups, environments and provisioning_templates should be configurable via ansible modules as well"
##### SUMMARY
**Problem:**

We want to manage our complete foreman installation because of the size. Doing it manually is not an option at all. Currently we implemented both hostgroup and provisioning template management. Now we realize that there is neither an ansible module or options in hostgroup or provisioning_template module to handle  `template_combinations`.

**Expected outcome:**

It woul

[2020-09-23 12:59] mdellweg commented on #970
That is a good idea for using the modules in combination.

On the other hand it highlights that there are a lot of arrows in your graph, that all look the same, but have very different semantics. I think we should think who would be reading that graph and make it more accessible. For example having taxonomies (org/loc) is quite common. Would it be possible to mark the corresponding entities to rel

[2020-09-23 13:49] pcfe opened #975 "repository errors out when trying to update a repository with unsupported flags"
##### SUMMARY

Satellite  6.7.3 throws the following on the second run of a task that tries to ensure a repo is present

[code]

##### ISSUE TYPE
 - Bug Report

##### ANSIBLE VERSION

[code]

##### KATELLO/FOREMAN VERSION

[code]

##### APYPIE VERSION

[code]

##### STEPS TO REPRODUCE

try to run a playbook containing this task *twice* (first run works)

[code]

##### EXPECTED RESULTS

since the r

[2020-09-23 13:53] evgeni commented on #975
as we discussed that before, here for everyone to read: the problem is that the module compares the existing repository to what you told it to create and sees a diff (as seen in the diff output of check mode), but those parameters aren't part of *your* katello version, so the api-parameter-cleanup step wipes them and we submit an *empty* json, which the API correctly rejects.

[2020-09-24 06:20] evgeni commented on #975
@pcfe could you do me a favor and test if the issue still persists if you remove the `auto_enabled: no` line from your playbook?

[2020-09-24 06:39] evgeni commented on #975
nvm, I can repro that on my sat 6.6 and removing `auto_enabled` (which 6.6 doesn't support) fixes it.

okay, now, how do I remove that automatically?

[2020-09-24 07:02] cmeissner opened #976 "hostgroup module does not set `media` as execpted"
##### SUMMARY

If we want to create hostgroup with medium (or media) set the install media is unset in UI.

We use the following ansible configuration (excerpt):

[code]

The verbose ansible output looks like this:

[code]

As you can see, the conversion from `medium` to `medium_id` works fine. But seemingly the value is not set via API.

##### ISSUE TYPE
 - Bug Report

##### ANSIBLE VERSION

[cod

[2020-09-24 08:41] mdellweg commented on #976
Can you please verify that the operatingsystem "CentOS 7" is listed on your installation medium.
If that does not work, can you associate the medium by hand in the gui?

[2020-09-24 08:53] cmeissner commented on #976
![image](https://user-images.githubusercontent.com/14936920/94123409-0a325480-fe54-11ea-8956-9ecf552ddda2.png)

As you can see, "CentOS 7" is listed in the overview.

Association by hand works pretty.

[2020-09-24 08:55] cmeissner commented on #976
As you can see, "CentOS 7" is listed in the overview as "Operating System" for "CentOS mirror"

![image](https://user-images.githubusercontent.com/14936920/94123697-67c6a100-fe54-11ea-9bf8-4e30ab02e305.png)

Association by hand works fine.

[2020-09-24 09:40] mdellweg commented on #976
Tried to reproduce this on foreman 2.0 (from forklift), and the task was idempotent as well as the medium was associated.
What version of foreman are you using there? Can it be a problem with unmatched taxonomies (org/loc)?

[2020-09-24 09:47] cmeissner commented on #976
Sorry, forgot foreman version. We use version 2.1.2.

[2020-09-24 09:57] mdellweg commented on #976
Any chance, you can look up the update call in the production log?

[2020-09-24 10:43] cmeissner commented on #976
I will look for it. Give me some time pls.

[2020-09-24 11:18] cmeissner commented on #976
After adding some debug code to the corresponding ansible tasks we realize that the hostgroup we are looking for "media" was not updated by ansible.
We suspect that the root cause for that behavior is located somewhere in handling of our complex data structure to configure hostgroups. So this is not a bug in the hostgroup module.

Sorry for confusion.

[2020-09-24 11:27] pcfe commented on #975
confirmed, removing `auto_enabled:       no` works around the issue. I was able to execute my playbook thrice in a row. Thanks!

[2020-09-25 12:21] #975 closed, assigned to nobody

[2020-09-25 13:17] cmeissner commented on #149
@evgeni The attached [PR#314](https://github.com/theforeman/foreman-ansible-modules/pull/314) is closed. Are there any ambitions to develop a smart_proxy module?

[2020-09-25 13:18] evgeni commented on #149
Do we want a module? Yes. Do we have bandwidth to write one (based on the existing PR) not sure

[2020-09-25 17:33] cmeissner commented on #149
I'll not promise much but I try to have a look for the code too. Is there a way to get help, if I decide to do some work on it? It's because I never do such development with apypie and you sophisticated code.

[2020-09-25 17:47] evgeni commented on #149
Easiest? Pop up on IRC/Matrix (#theforeman-dev on freenode) during Europe day and we can chat (I'm Zhenech there).

[2020-09-25 17:55] mdellweg commented on #149
ping me as x9c4 on #theforeman-dev.

[2020-09-25 21:15] mdellweg commented on #976
I'll close NOTABUG then.

[2020-09-25 21:15] #976 closed, assigned to nobody

[2020-09-26 08:39] mdellweg commented on #149
@cmeissner Sorry, but you reminding me that this good work is lying around and me having a lonely train ride made me give it a spin. It felt like back in the times when we refactored all those modules over and over...
Expect a pr soon. If you still want to help, i encourage you to test it.

[2020-09-26 17:23] evgeni commented on #869
There is now progress being made in https://github.com/theforeman/foreman-ansible-modules/pull/981!

[2020-09-26 17:28] evgeni commented on #869
However, looking at https://theforeman.org/plugins/katello/3.16/api/apidoc/v2/smart_proxies/create.html, I don't see how one can assign an LCE there.

[2020-09-26 17:32] evgeni commented on #869
Ooh, it's a totally different API endpoint. Yikes. https://theforeman.org/plugins/katello/3.16/api/apidoc/v2/capsule_content.html

@mdellweg do you think this should be added to the smart_proxy module or separate? It feels more natural in s_p, but ewwwww API wise.

[2020-09-27 07:34] mdellweg commented on #869
I could see that as a list of sort of subentities in smart_proxy. Like we used to handle nested parameters.

[2020-09-27 08:01] evgeni commented on #869
Yeah, something like that should work

[2020-09-27 11:43] mdellweg commented on #869
But let's make that a separate PR.

[2020-09-27 12:23] evgeni commented on #869
Absolutely

[2020-09-27 15:44] cmeissner commented on #149
@mdellweg oh great to hear. It could have been the start of direct collaboration, but of course I am very happy to test it. Give me a ping, if I can start testing, maybe Monday morning.

[2020-09-28 05:20] dabelenda commented on #869
Nice, thank you for working on this.

Personnally, I would prefer to have the list of capsules where the LifeCycle environment is replicated in the LifeCycle environment definition.
I find it cleaner in the ansible code, specially if you want to define lifecycle environments in different playbooks/inventories.

[2020-09-28 07:12] mdellweg commented on #869
That is an interesting idea, maybe we can have both, or this is again an argument for an independent proxy_life_cycle module and a role to combine them.

[2020-09-28 07:15] mdellweg commented on #149
@cmeissner It is ready to test.
Also there is #869 which might be an opportunity for contribution.

[2020-09-28 08:24] cmeissner commented on #149
@mdellweg works fine. Thank you. Waiting for publishing the new version.

[2020-09-28 09:20] #149 closed

[2020-09-28 12:52] Thulium-Drake opened #985 "Hostgroup parameters not set"
##### SUMMARY

When setting Hostgroup parameters (among which kt_activation_keys) with a collection higher then 1.0.0, they are not set.

I don't know which version introduced it, but the changelog suggests 1.2.0.

##### ISSUE TYPE
 - Bug Report

##### ANSIBLE VERSION

[code]

##### KATELLO/FOREMAN VERSION

[code]

##### APYPIE VERSION

[code]

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESU

[2020-09-28 13:05] Thulium-Drake commented on #985
this is weird, I'm trying to reproduce it now, but I can't. (running the same playbook with all versions of the collection now)

If noone else can, then it might be a glitch in the matrix and this can be closed

[2020-09-29 14:34] evgeni commented on #985
Closing as the original reporter could not reproduce anymore and this feature is covered by tests

[2020-09-29 14:34] #985 closed, assigned to nobody

[2020-09-30 13:04] evgeni opened #996 "make before/after reporting work for non-entity modules"
`ensure_entity` handles all the before/after recording, yes.

but the reporting is only part of `ForemanEntityAnsibleModule`, :thinking:

_Originally posted by @evgeni in https://github.com/theforeman/foreman-ansible-modules/pull/864#discussion_r496755908_

[2020-09-30 13:30] markgraf commented on #970
Good question.  This is about the second time I'm using graphviz, though, so I can't tell how.

Running the modules in the order given by `gvpr -f tsort.g foreman-ansible-dependencies.dot | tac` does seem to do what I need. At least the graph serves for that, even if it isn't easy on the eye :-)

Maybe close the issue and I open a new one, when I have a better graph?

[2020-09-30 16:06] cmeissner opened #997 "Reconfiguring of compute_profiles failing"
##### SUMMARY
We configure compute_profiles via ansible. Creation and first time configuring for compute_resources work well. If we change some data the configuration changes can't be applied.

##### ISSUE TYPE
 - Bug Report

##### ANSIBLE VERSION
[code]

##### KATELLO/FOREMAN VERSION

[code]

##### APYPIE VERSION

[code]

##### STEPS TO REPRODUCE

1. create compute_profile

[code]
2. change `vm_a

[2020-10-01 05:55] evgeni opened #999 "make job_invocation module not taxonomic"
If I'm reading https://github.com/theforeman/foreman_remote_execution/blob/master/app/controllers/api/v2/job_invocations_controller.rb correctly, then:
* Job invocations are not taxonomic
* There is no update or destroy method
* There is a cancel method (as you mentioned above) which will require special handling
* There is a rerun method which we probably don't need just now

What I was actually

[2020-10-01 05:56] evgeni commented on #777
closed via #864

[2020-10-01 05:56] #777 closed

[2020-10-01 06:35] #996 closed, assigned to nobody

[2020-10-01 08:07] cmeissner commented on #969
We need to set `[]` (empty list). So it's not a bug but a feature request instead. It would be great if there can set `None` to reset a parameter.

[2020-10-01 08:13] mdellweg commented on #969
I believe that is impossible, as ansible gives you `None` if a parameter was not set, in which case we already interpret "don't change". So providing `[]`, `{}` or `""` is really the only way to specify "empty".

[2020-10-01 08:13] mdellweg commented on #969
however, documentation can always be improved. *hint*

[2020-10-01 13:15] cmeissner commented on #997
biggest problem is that `ignore_errors` does not seem to work, because the error is `fatal`.

[2020-10-01 13:34] evgeni commented on #997
Can you please provide the output of the playbook with `--check --diff`, that makes it easier to understand what it tries to update.

[2020-10-01 13:44] evgeni commented on #997
After talking on IRC: that won't help, damn.

[2020-10-01 14:02] evgeni commented on #997
Okay, I can reproduce the error locally.

[2020-10-01 19:31] evgeni opened #1003 "set-env action step deprecated"
https://github.blog/changelog/2020-10-01-github-actions-deprecating-set-env-and-add-path-commands/

We use it for the mazer hack

[2020-10-02 09:32] rht-jbittner opened #1006 "user can leak sensitive data if used within a loop"
##### SUMMARY

It is basically the same situation like with compute_resource. If user module is used in a loop, it will leak passwords.

##### ISSUE TYPE
 - Bug Report

##### ANSIBLE VERSION

[code]

##### KATELLO/FOREMAN VERSION

[code]

##### APYPIE VERSION

[code]

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Pasword should not leak
##### ACTUAL RESULTS

Password leaked

[code]

[2020-10-02 09:48] evgeni commented on #1006
That's correct, but there is nothing we can do to "technically* prevent that.

We could add it to the known issues in the readme (or rather to the list of affected modules there)?

[2020-10-02 12:10] #999 closed, assigned to nobody

[2020-10-02 18:29] evgeni opened #1009 "Drop Python 3.5 from CI"
https://pythoninsider.blogspot.com/2020/10/python-35-is-no-longer-supported.html?utm_source=feedburner&utm_medium=feed&utm_campaign=Feed:+PythonInsider+(Python+Insider)&m=1

It's only used on Debian Stretch (oldstable) and Ubuntu 16.04 which are both old enough to go away.

[2020-10-06 07:27] markgraf opened #1015 "Module defaults groups"
##### SUMMARY
As it is now, there are 54 modules that all want
- user
- password
- server-url

Repeating those same informations over and over again with all the modules you use is lots of redundant work.
Creating "module defaults" for each of them is equally redundant.

##### FEATURE REQUEST
 It would be nice to have [Module defaults groups](https://docs.ansible.com/ansible/latest/user_guide/play

[2020-10-06 09:12] evgeni commented on #1015
This is currently not possible for collections: https://github.com/ansible/ansible/issues/72006
But yes, we also really want to have that feature :)

[2020-10-06 09:28] markgraf commented on #1015
Good to know.  Thanks for the update!  Waiting for https://github.com/ansible/ansible/issues/72006 then...

[2020-10-06 12:53] cmeissner commented on #969
I dig a bit on this issue and it still exists for `string` parameters.

I used the following playbook to reproduce the issue:

[code]

it leads me to the following normal output:

[code]

Debug output for the misbehaving tasks as followed:

[code]
and
[code]

This shows that it's not possible to unset string parameters with `''` as. Also `""` leads to the very same result.

[2020-10-06 13:05] evgeni commented on #969
Yeah, I can see how that won't work for non-list-type params…

We might need to specialcase `''` (empty string) for this to work. Which is ugly, but oh well…

[2020-10-06 13:09] cmeissner commented on #969
I added the following tasks:

[code]

and this works. `Description` is not a selection in UI. So no request for entities have to be done I guess.

[2020-10-06 13:12] evgeni commented on #969
Yeah, it only fails for parameters that refer to other entities. So e.g. a domain referring to a subnet, or a hostgroup refering to an architecture.

If you look at the code of the modules, it's those which have `type='entity'`

[2020-10-07 00:47] #1009 closed, assigned to nobody

[2020-10-07 00:47] #1006 closed, assigned to nobody

[2020-10-07 06:01] evgeni commented on #969
Do you feel like experimenting?

[code]

This might do it, but completely untested.

[2020-10-07 08:09] cmeissner commented on #969
@evgeni I applied your patch to my work tree but unfortunately it doesn't help out. Same errors.

[2020-10-07 13:51] #997 closed, assigned to nobody

[2020-10-08 09:23] fgoebel opened #1017 "compute_resource - Internal server error after foreman update"
##### SUMMARY
After an update of Foreman-apt-packages, the module compute_resource leads to Foreman internal server error, see verbose output below. This is the second time that I have these Issues after an update.

At the first time i just added another new compute-resource with the same settings but different name, migrated the tied virtual machines to the new one, deleted the old and renamed th

[2020-10-08 10:14] markgraf opened #1018 "Document how to install development version of foreman-ansible-modules"
##### SUMMARY
I try to install the development-version of the foreman-ansible-modules following [standard procedure](https://docs.ansible.com/ansible/latest/galaxy/user_guide.html#installing-a-collection-from-a-git-repository).  Installation fails, see below.

Please document how to install the development version of the foreman-ansible-modules.

##### ISSUE TYPE
 - Documentation

##### ANSIBLE VE

[2020-10-08 10:23] mdellweg commented on #1018
I do not see, why this should not work, but installing directly from git was never on my radar either.
ATM i'd suggest you to clone the repo & make sure your python has PyYAML available.
Then run:
[code]

[2020-10-08 12:02] markgraf commented on #1018
That did the trick. Thanks!

[2020-10-08 15:01] markgraf commented on #1018
Or not?

[code]
I tried both 'theforeman.foreman.smart_proxy' and 'theforeman.foreman.foreman_smart_proxy', the latter taken from the example in the docs.

The other modules are working.

Install-issue? Or module-issue?

[2020-10-08 17:33] evgeni commented on #1017
This looks like an issue with your installation and not with the Ansible modules. I would expect you can't create a compute resource in the WebUI either.

[2020-10-09 09:37] fgoebel commented on #1017
I just ran this playbook again today and it just works again. So yes I think you are right this i more a problem with my installation.

Thank you for your feedback and providing these modules!

[2020-10-09 09:37] #1017 closed, assigned to nobody

[2020-10-09 11:03] mdellweg commented on #1018
I don't know. Can you add -f to the install command?
Also, which docs refer to ’foreman_smart_proxy’? That is definitely wrong. Mind to send a PR?

[2020-10-09 11:37] markgraf commented on #1018
I `rm -rf`-ed the collection prior to install, that should be equivalent to `-f`?

'foreman_smart_proxy' was taken from the [Examples](https://theforeman.github.io/foreman-ansible-modules/develop/plugins/smart_proxy_module.html#examples)-section.
So I guess it should be just 'smart_proxy' then. Happy to PR if that is the case.

[2020-10-09 12:40] #1003 closed, assigned to nobody

[2020-10-10 08:27] mdellweg commented on #1018
Is your ansible version really 2.9? Installing from git seems to be added to the docs only with 2.10. (Explaining why we didn't have it on the radar before...)

[2020-10-10 08:33] mdellweg commented on #1018
With ansible >= 2.10:
`ansible-galaxy collection install -f git+file:///home/user/projects/theforeman/foreman-ansible-modules`
worked like a charm.

[2020-10-10 08:35] mdellweg commented on #1018
@evgeni FYI seems like we can skip the "compilation" step starting with ansible 2.10. ;)

[2020-10-10 08:36] evgeni commented on #1018
Technically correct, but I'd prefer to keep that step to verify the compilation is correct

[2020-10-10 09:05] mdellweg commented on #1018
OTOH, if we tend to maintain support for this installation method, we can never reintroduce the `sed` part of the compilation.

[2020-10-10 09:21] evgeni commented on #1018
I think that's OK? ;)

[2020-10-10 09:29] mdellweg commented on #1018
Sure, this was meant to raise awareness.

[2020-10-13 08:41] mdellweg commented on #961
I think you can also use the `ping` (ansible core) module with `retries` to wait for hosts to be available.

[2020-10-13 15:01] bherrin3 commented on #961
Just curious if this issue is relative to FQDN as well. For example, in RHVM, there are similar ovirt.roles that do this same behavior. However, relative to the functionality of the product, FQDN is typically the killer for the product being ready to action on (for example, satellite installer).

Just wondering if this is outside the scope of this request. Thanks.

[2020-10-13 15:16] mdellweg commented on #970
Triage says, this is awesome, but understanding that graph is more like understanding foreman than understanding how to use the modules here. So we would love to see something like this in the documentation for foreman itself.
Bonuspoints: Have another graph for katello.

[2020-10-13 19:20] markgraf commented on #970
Let me finish my dockerized foreman at work first, I hope I have a better understanding of things after that.
I've found no way of getting Katello into docker so far, but I guess I'll need a graph when/if I do, for the same purpose as above.
I'll follow up with another issue then.  That's probably better then keeping this one waiting.

[2020-10-13 21:27] Thulium-Drake commented on #965
@evgeni thanks for pointing that out! I will give it a shot  :-)

[2020-10-13 23:28] gardar commented on #961
@mdellweg as I mentioned in the first post using ping/wait_for_connection is not always applicable as sometimes you won't be accessing the host directly from the same playbook being run, most of the time you probably will but not always.
That being said I'm happy with the workaround I found, but it would still be nice to get this implemented within the foreman.host module.

@bherrin3, are you talk

[2020-10-14 09:27] fgoebel opened #1024 "parameters: add option "hidden" to parameters to not show values in gui"
- [x] global_parameter
- [ ] smart_class_parameter
- [ ] nested parameter (org, loc)
- [ ] domain, subnet, host, hostgroup, ... ("direct" params, for the lack of a better name)

##### SUMMARY
When I set parameters with these modules (global_parameters, organizations, locations,...) it is not possible to toggle the "hidden" option like in the gui.

[code]

What do you think?

##### ISSUE TYPE
 - Fe

[2020-10-15 07:58] mdellweg commented on #1024
At least for `global_parameter` this should be fairly easy to implement.
Do you want to give it a try?

[2020-10-15 08:13] mdellweg commented on #1024
Oh, i went ahead, and did some experiments. Turns out, that hidden values are also hidden from the api. So creating a hidden parameter will not be idempotent. Also `hidden_value` is reported as `hidden_value?` by the API. This needs a little bit more designing.

https://theforeman.org/api/2.1/apidoc/v2/common_parameters/show.html

[2020-10-15 14:26] infernix commented on #974
Ran into the same issue, for what I can tell it is part of submitting the template, so it should be an parameter to `provisioning_template` itself.

[2020-10-15 14:29] ezr-ondrej commented on #954
I believe that now we can use arrays from next foreman version as theforeman/foreman#8006 got merged.

[2020-10-16 15:57] Thulium-Drake commented on #869
Given that the API is separate as well, I'd say, go with the smart_proxy_lifecycle approach, I feel that should be easier to implement and easier on the maintenance.

[2020-10-16 17:03] Thulium-Drake commented on #869
I tried to make a module that will set the synchronized Lifecycle Environments for it. The furthest I was able to get what the following error:

[code]

Which is correct, because the API endpoint is capsule_content. But I can't find where I can fix that in module_utils/foreman_helper.py. I did find a note that it will always assume the plural name of the entity, is that where I need to look?

[2020-10-16 17:14] evgeni commented on #869
FWIW, I think having "lifecycle_environments" as a list in the normal "smart_proxy" module is easy enough to implement and a cleaner interface than having a separate module (it's also how hammer does it).

[2020-10-16 17:16] evgeni commented on #869
As for the error, you can set "resource_type" to override the automatic plural naming.

[2020-10-16 22:43] Thulium-Drake commented on #869
I may have almost got it. When I hard code a environment ID to attach to the smart proxy, it works. But I need to resolve them from name to ID first. I tried looking in other modules, but ```module.lookup_entity('lifecycle_environments')``` does not work. It gives the following error:

[code]

I have taken the logic from the sync_plan module and adapted it, but I might have broken some other thing

[2020-10-19 08:16] fgoebel commented on #1024
hey mdellweg,
thank you for your first test and your answer to my feature request.

I have never done any development yet, so i think i can barely help with this.
But if you would maybe assist me, I am happy to test your changes and maybe get some development started this way!

[2020-10-19 08:29] mdellweg commented on #1024
I removed the "easy" label, because the thing is a bit tricky. We are in the process of pushing a breaking change through apypie to solve this. But, i invite you to test my PR #1025 .

[2020-10-19 11:46] evgeni commented on #1024
#1025 is now merged.

while reviewing it, we noticed that `smart_class_parameter` has partial support for hidden parameters already, but is missing the idempotency bit that @mdellweg implemented for `global_parameter` in #1025

and this still needs porting to the other parameter handlers we have (yay)

[2020-10-19 14:57] #969 closed, assigned to evgeni

[2020-10-21 13:11] #820 closed

[2020-10-21 13:20] evgeni commented on #869
#1026 is merged, closing

[2020-10-21 13:20] #869 closed

[2020-10-21 19:24] bherrin3 opened #1038 "RFE: foremain/satellite-maintain module"
## Use Case

* SatQE has requirements to add packages as part of templatization that are not included or differ from OS-based packages that need to be installed with the Activation Key/Satellite release-specific package list
* Currently, there is not a `module` for `satellite-maintain` or `foreman-maintain` to add a list of packages or any other `*maintain` functionality

## Desired Feature

* The

[2020-10-22 06:26] dabelenda commented on #869
I am sad you did not consider my use-case as a valid one.

[2020-10-22 06:47] mdellweg commented on #869
@Thulium-Drake
Do you think this is possible on top?

[2020-10-22 06:51] evgeni commented on #1038
Hey,

thanks for bringing this up.

Personally, I think this collection should focus on using the Foreman API and leave other tasks to another collection, mostly as this makes testing easier and allows the user to only install the tools they need. Nevertheless, the request of being able to interact with foremain-maintain is a valid one and we should discuss it (regardless of where the resulting co

[2020-10-22 06:54] Thulium-Drake commented on #869
I think it is, it sounds like the reverse of the logic we have built in smart_proxy, we are provided with some details on the smart_proxy, look up some LCEs and bring them together.

What you are suggesting is a module where you are provided with the details on the LCE and you need to look up some smart_proxies and bring them together.

@dabelenda is the mocked up module invocation what you mean?

[2020-10-22 06:54] evgeni commented on #869
@dabelenda could you post a fictional playbook how you'd invision that workflow? something like this?

[code]

[2020-10-22 07:21] dabelenda commented on #869
@evgeni @Thulium-Drake
It could be that, or a completely separate action. The point is, I have multiple teams working independently on multiple CV/CCV/LCE so we have a single playbook that manages everything in Satellite, and splited the inventories so that everybody uses the same code, only the relevant descriptions change.

[2020-10-22 07:23] dabelenda commented on #869
Also: We use a CICD to apply the changes in Satellite, and right now, due to the Capsules not being managed by ansible we need to use the WebUI to set the smart_proxy, then start a manual smart_proxy sync.

[2020-10-22 08:35] evgeni opened #1039 "allow to assign LCEs to Proxies during LCE definition"
Personnally, I would prefer to have the list of capsules where the LifeCycle environment is replicated in the LifeCycle environment definition.
I find it cleaner in the ansible code, specially if you want to define lifecycle environments in different playbooks/inventories.

_Originally posted by @dabelenda in https://github.com/theforeman/foreman-ansible-modules/issues/869#issuecomment-699775849_

[2020-10-22 08:36] evgeni commented on #869
I've opened #1039 to further track this.

[2020-10-22 13:20] bherrin3 commented on #1038
@evgeni can you expand a little on:

[code]

The reason I ask is I am not sure if that logical statement is useful for the usecase I am stating.

Meaning, I am definitely installing Satellite-specific packages where I 100% *do not* have the configuration done for Authentication, via [1].

The reason? Templates.

Just want to ensure I am on the same page. Thanks, @evgeni !

[2020-10-22 13:24] evgeni commented on #1038
Sure.

I was aiming at the second invocation of that playbook you have. Then the `mod_auth_openidc` package is already installed and a call to "install mod_auth_openidc" should be a NOOP, right? If you don't want this to be a noop, then you can also just do `command: foreman-maintain package install mod_auth_openidc` and not bother with a module/role at all. But if you want it to be a NOOP in that

[2020-10-22 13:27] kedark3 commented on #1038
Ideally things should be able to detect NOOP for ansible modules, I know it is more work but believe its right approach for making things idempotent.

[2020-10-22 13:49] bherrin3 commented on #1038
Talked to @evgeni off-issue and it appears that `foreman-maintain` is more of a RHEL/Sat specific feature. I also agree that implementing the whole code-base and solution set fot `foreman-maintain` is no small ask, nor am I sure it is useful.

That is where I will and wanted to back-up and ask @ehelms what, if any, use there is here.

For a short-term solution, I would use the `yum` based solution

[2020-10-22 14:01] ehelms commented on #1038
First note, I finally took this as a hint to escalate my idea to an RFC (https://community.theforeman.org/t/rfc-operations-ansible-collection/20971).

Second note, I do think @evgeni is a good idea in the short term for that specific, and more widely needed use case. However, if I look at the long term where additional operations (e.g. backup, restore) that are run through foreman-maintain are per

[2020-10-22 14:16] bherrin3 commented on #1038
I believe, with that being the case, this specific issue can be marked as resolved as we have reasonable short- and long-term solutions for this.

Thank you for hearing my input. I appreciate it.

[2020-10-22 14:18] #1038 closed, assigned to nobody

[2020-10-24 16:02] cmeissner commented on #974
Not sure if the provisioning_template module is the right place for this. I guess the operating_system module is a good place for os defaults. But the I think it's a better idea to create a new module for provisioning_template and hostgroup association.

[2020-10-27 06:53] cmeissner opened #1041 "Network in vsphere vm_attrs can only be configured by hidden/internal network title (aka. network_id)"
##### SUMMARY
For vsphere compute resources you can only set a network by it's internal network title (aka. network_id in attributes). This `network_id` is not as easy to guess as the `network_name`.
The `network_id` will be generated internally by vsphere if the network is created. The `network_name` can be chosen by the administrators and so it can be predictable in contrast to `network_id`.

##

[2020-10-27 08:10] mdellweg commented on #1041
This looks like the interface attributes appear twice in the output of compute_profile. Is one of those a deprecated interface?

[2020-10-27 08:12] evgeni commented on #1041
I don't think so. The one (`vm_attrs`) is what we provide and the other (`attributes`) is what VMware does from it.

[2020-10-27 15:39] evgeni commented on #1041
Triage: look if Foreman could do the translation for us automatically, and if not implement a lookup using https://theforeman.org/api/2.1/apidoc/v2/compute_resources/available_networks.html

[2020-10-27 15:52] evgeni commented on #1039
A few notes from triage session:
* we think the correct approach would be to have all proxy→LCE associations in one place (so not splitting them across different playbooks/variables/whatever), as this makes assignment straight forward and idempotent
* the "reverse" workflow as requested by @dabelenda is certainly possible and we would accept a patch for that, but are not planning on implementing i

[2020-10-27 17:23] pescobar opened #1043 "theforeman.foreman.content_upload fails with error "non_field_errors: Chunk size does not match content range.""
##### SUMMARY

`theforeman.foreman.content_upload` fails with error `"non_field_errors: Chunk size does not match content range."` when uploading [this binary file](https://github.com/docker/compose/releases/download/1.27.4/docker-compose-Linux-x86_64)

The same tasks works ok when uploading a small txt file instead of a binary file

The file triggering the error can be uploaded using hammer doing

[2020-10-27 18:04] evgeni commented on #1043
Thanks for the report!

Do you know from the top of your head whether you're using pilp2 or pulp3 for file contents? If that's a fresh Katello 3.16 it should be 3, but on upgraded installs it might be either.

I'll look what hammer does.

[2020-10-27 18:10] evgeni commented on #1043
Interestingly, our chunk size is even smaller than hammers...

https://github.com/theforeman/foreman-ansible-modules/blob/909e92053d00481a9e19190d04c112f0579131c7/plugins/modules/content_upload.py#L94

https://github.com/Katello/hammer-cli-katello/blob/ccc1b9d541b66778cce4855e87246b83dc7b8683/lib/hammer_cli_katello/repository.rb#L347

[2020-10-27 18:20] pescobar commented on #1043
I got this from `administer >> about >> smart proxies >> services`

[code]

I think this katello instance was upgraded from 3.15

[2020-10-28 14:31] evgeni opened #1044 "use /api/statuses to get the installed plugins"
##### SUMMARY
see https://theforeman.org/api/2.1/apidoc/v2/ping/statuses.html

probably not available in all foreman versions

##### ISSUE TYPE
 - Feature Idea

[2020-10-29 09:27] markgraf opened #1045 "theforeman.foreman.host: Found no results while searching for users with login="The owner""
##### SUMMARY

When I'm trying to create a host and pass an owner to the host module, host creation fails with
[code]

Turns out the module does not want the owners **name** (as you would expect), but the owners **login** instead.

But owner != login. The naming of the module is off here.
The documentation gives no indication that the login should be used here.

So either the property should be re

[2020-10-29 10:06] markgraf opened #1046 "theforeman.foreman.installation_medium: Found too many (12) results while searching for operatingsystems with title~"Debian""
##### SUMMARY

Creation of an installation_medium fails if I only give "- Debian" as an operatingsystem, but succeeds when I give a long list instead.
Now I guess having one mirror for all your Debian-versions is not too extraordinary?  12 or more versions on one server should not pose a problem?

##### ISSUE TYPE
 - Bug Report

##### ANSIBLE VERSION

[code]

##### COLLECTION VERSION

[code]

####

[2020-11-06 20:29] ares opened #1050 "theforeman.foreman.status has a wrong documentation"
##### SUMMARY
The documentation says to use `theforeman.foreman.status` however the module is called `theforeman.foreman.status_info`

##### ISSUE TYPE
 - Bug Report

##### ANSIBLE VERSION

[code]

##### COLLECTION VERSION

[code]

##### KATELLO/FOREMAN VERSION

[code]

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2020-11-07 17:07] #1050 closed, assigned to nobody

[2020-11-07 18:09] ares opened #1052 "Libvirt compute resource should support set_console_password"
##### SUMMARY
Many times I disable setting console password for VMs, I want to easily connect to their VNC. Especially on demo or dev setups. compute_resource modules does not allow that. The API attribute is called `set_console_password` and must be one of: true, false, 1, 0. It's only available for libvirt and VMware.

##### ISSUE TYPE
 - Feature Idea

[2020-11-07 18:53] evgeni commented on #1052
For reference, the api description is here: https://theforeman.org/api/2.2/apidoc/v2/compute_resources/create.html

We should go over it completely and sync up the possible parameters.

[2020-11-10 14:57] evgeni commented on #1043
Thanks, I finally managed to find some time and repro this on a fresh 3.16. Will dig further.

[2020-11-10 14:58] evgeni opened #1055 "[WARNING]: The following parameters are not supported by your server when performing create on repositories: {'organization_id'}. They were ignored."
##### SUMMARY
trying to create a repo using the below playbook

##### ISSUE TYPE
 - Bug Report

##### ANSIBLE VERSION

[code]

##### COLLECTION VERSION

[code]

##### KATELLO/FOREMAN VERSION

[code]

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

no warning

##### ACTUAL RESULTS

[code]

[2020-11-10 15:04] evgeni commented on #1043
I think we need to port https://github.com/Katello/hammer-cli-katello/commit/9276ae51f22b46ad405ac0783762ca833e9e8d6e

[2020-11-10 15:23] pescobar commented on #1043
Glad to hear you could reproduce the issue and found a possible fix.  Let me know if you want me to do some testing.

[2020-11-10 16:11] evgeni commented on #1043
Weird, we have the size parameter implemented since https://github.com/theforeman/foreman-ansible-modules/issues/659

[2020-11-10 16:47] evgeni commented on #1043
The only other commit in hammer that touches this is https://github.com/Katello/hammer-cli-katello/commit/0d0f877eca655b17397157a0d0e369b8a1e86e20#diff-fe176ff6849ed0578304d0d8c0aa8b54fefa5acb8ba48579cb94748b3d14829f

[2020-11-11 09:31] evgeni commented on #1043
Okay, so the following patch should fix it for you:

[code]

Now I just need to find out why it worked before XD

[2020-11-11 09:36] mdellweg commented on #1043
Maybe no one ever chunked a file before...

[2020-11-11 09:38] evgeni commented on #1043
I do almost daily, just not against Pulp3, so it seems its ignored on Pulp3 installs.

[2020-11-11 09:53] nesanton opened #1056 "Import hosts from compute resource"
##### SUMMARY
###### Use case:

A host is created on VMware by any existing provisioning automation, e.g. using VMware modules or vRealize. Add it as managed or unmanaged host.

###### Solution:
There is an undocumented parameter `uuid` in the `POST /api/hosts` endpoint. This `uuid` can be taken from the new `GET /api/compute_resources/:id/available_virtual_machines` endpoint.

###### Options:

1.

[2020-11-11 09:55] nesanton commented on #1056
Now I have it written, I think option 1 makes more sense.

Added the doc request for the uuid in the API https://projects.theforeman.org/issues/31296

[2020-11-11 09:59] mdellweg commented on #1043
Hmm, looking at pulp code, there is no evidence that the size field is used anywhere. Not sure, how katello translates that though. Pulp expects the content range as a header specifying start and end byte.

https://github.com/pulp/pulpcore/blob/master/pulpcore/app/serializers/upload.py#L27

[2020-11-11 10:19] evgeni commented on #1043
Yeah, before the patch, the Katello generated header was "range bytes 2097152-2097152/2097152", which is so wrong ;)

[2020-11-11 10:25] mdellweg commented on #1043
Sure but still only the first two numbers of that content range are processed by pulp. Katello is capping finish with size, which when given the chunk size, will produce exactly that in the second chunk.

https://github.com/Katello/katello/blob/540e695c5e108df99d84acae620ab641b6c898f0/app/services/katello/pulp3/content.rb#L54

[2020-11-11 10:31] #1043 closed, assigned to nobody

[2020-11-11 10:35] pescobar commented on #1043
I tested the patch and I could upload the file. Thanks @evgeni !

[2020-11-11 13:29] ares opened #1059 "The documentation should better describe the difference between a repository and repository_set"
##### SUMMARY

It took me a while and question on IRC to figure, repository_set stand for RH repository. I'd suggest to modify the docs in a way

1) `repository_set – Enable/disable Repositories in Repository Sets` => `repository_set – Enable/disable Red Hat Repositories`
2) `repository – Manage Repositories` => `repository – Manage non RH Repositories` or even `repository – Manage Custom Reposito

[2020-11-11 18:55] evgeni commented on #1059
`repository` *can* manage certain aspects of RH repos, like the download policy, so it's not all black and white, but yeah, the r_set string needs much improvement

[2020-11-12 09:23] #897 closed, assigned to nobody

[2020-11-16 11:40] evgeni commented on #1055
I think that's actually a Katello "bug": repos are scoped by product which are scoped by org, but there is no reason not to accept the org id here IMHO

[2020-11-16 15:39] evgeni commented on #1055
@mdellweg so using something like `module.foreman_spec['entity']['scope'].remove('organization')` yields the fact that the VCR tapes doesn't match anymore:

[code]

[2020-11-16 15:53] evgeni commented on #1055
Oh, that's fine, it's using the other path now: assertion failure :\n/katello/api/products/1/repositories != /katello/api/organizations/3/repositories

[2020-11-19 12:47] #1055 closed, assigned to nobody

[2020-11-20 19:27] benjdudas opened #1070 "Option to import hosts with hostname/shortname only"
##### SUMMARY
A option which we could use in the plugin to remove the domain part from "host.domain" when importing a Foreman inventory would be very useful to have a inventory only with hostname/shortname of hosts imported from Foreman.

##### ISSUE TYPE
 - Feature Idea

[2020-11-22 09:18] nesanton commented on #1070
Hi @benjdudas,
Could you elaborate a bit further on the value of this? How would Tower benefit from having short names?

[2020-11-23 11:55] evgeni opened #1071 "DRY up inventory code between Hosts and Reports APIs"
Lots of the logic around setting host params, groups, etc is now duplicated in both implementations, we should try to DRY that up.

_Originally posted by @evgeni in https://github.com/theforeman/foreman-ansible-modules/issues/986#issuecomment-731112931_

[2020-11-23 11:56] evgeni opened #1072 "simplify inventory configuration"
I still dislike the `dict` based config, so I thought we could move it (all the params we have in `reporting` and `foreman`) to the "main" level and then provide some code that will look into the `reporting` and `foreman` dicts to remain compatible with the old style.

_Originally posted by @evgeni in https://github.com/theforeman/foreman-ansible-modules/issues/986#issuecomment-731112931_

[2020-11-23 11:57] evgeni opened #1073 "clean up inventory tests"
* containers need to be properly destroyed, also when the tests failed
* config can be made easier

[2020-11-23 21:21] rcdlinux commented on #1070
Hi nesanton,

Let me try to clarify this point because a big customer is requesting us that.

The customer has many network segments and they are connecting only with short name. When they need to identify another network segment the domain related to that segment is added "on the fly" during the automation process.  Each segment has a corresponding domain name. Because of that, when Ansible Tower

[2020-11-24 12:57] #497 closed

[2020-11-24 15:24] evgeni opened #1076 "inventory documentation broken"
##### SUMMARY
https://theforeman.github.io/foreman-ansible-modules/develop/plugins/foreman_inventory.html#ansible-collections-theforeman-foreman-foreman-inventory

##### ISSUE TYPE
 - Bug Report

##### ANSIBLE VERSION

[code]

##### COLLECTION VERSION

[code]

##### KATELLO/FOREMAN VERSION

[code]

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2020-11-24 15:49] evgeni commented on #1070
so we're trying (but failing a bit, sorry) to understand your issue:
Is it that issue that the hosts are wrongly *named* inside of Tower because of that, or that Tower tries to *connect* to the wrong IP/name? If the later, would it help you to be able to connect to the IP address reported by the API?

[2020-11-24 16:00] evgeni commented on #1056
triage: new module please

[2020-11-24 18:22] rcdlinux commented on #1070
Hi evgeni,

It's the first one!

Without modifying the line 246 as my previous post, the managed nodes are imported into Tower with FQDN, as the customer needs all managed nodes imported only with short name (without the domain), he is "maintaining" a custom version of the foreman.py script because there isn't a way to remove the domain officially with the script.

The customer didn't think it is

[2020-11-24 19:00] evgeni commented on #1070
Mhh.

For the later, you could've used [compose](https://docs.ansible.com/ansible/latest/plugins/inventory.html), but that only allows to modify variables of a host, not the name itself.

I think this is an RFE against Ansible, to allow a common way to mangle the hostname in the same way compose does for variables. An inventory plugin should not be in the business of implementing this.

[2020-11-25 08:40] #1072 closed, assigned to nobody

[2020-11-25 08:40] #1076 closed, assigned to nobody

[2020-11-25 11:15] #757 closed

[2020-11-25 13:58] evgeni opened #1079 "not yet implemented API endpoints in Foreman/Katello/Luna"
##### SUMMARY
Ohai,

during some recent discussions with @ehelms, we wondered what the actual gap is between FAM and latest Foreman.

So I took a ride with `ast` and the apidocs we haven in our fixtures, and came up with:

[code]

Which results in the following list (updated: 2021-06-17):

foreman:
  - [ ] autosign
  - [ ] config_reports
  - [ ] mail_notifications
  - [ ] personal_access_tokens

[2020-11-25 19:46] rcdlinux commented on #1070
Ok evgeni,

I understand you, but I guess a RFE against Ansible would demand another configs when importing the inventory, probably with performance impact when we have many managed nodes imported (I could see it from previous versions of foreman script and Satellite 6.6).
Since the foreman.py already have the collected hosts list, an option to save this list without the domain would be more direc

[2020-11-25 20:47] evgeni commented on #1070
No, I still think this should not be done inside our inventory, but if at all then in Ansible. But ideally you fix the data in Foreman/Satellite.

[2020-11-26 13:07] #1059 closed, assigned to nobody

[2020-11-26 13:11] evgeni commented on #965
@Thulium-Drake #958 is merged now, and @ehelms started https://github.com/theforeman/foreman-operations-collection/ -- I think we can close this one?

[2020-11-26 13:15] Thulium-Drake commented on #965
Yes, sounds good to me!

[2020-11-26 13:19] #965 closed, assigned to nobody

[2020-11-26 19:31] rcdlinux commented on #1070
Ok evgeni,

I know that Foreman/Satellite has a feature in Configuration/Settings which removes the domain when registering a host, but this can't be made for all already registered hosts, only new registered hosts. Unfortunately there are more than 20k hosts already registered in a customer environment and those hosts will not be passive to change.

The Tower [docs](https://docs.ansible.com/ansib

[2020-11-27 10:03] evgeni commented on #1070
Ansible and Tower are two completely different things ;-)

You opened an RFE against AWX/Tower, but it should be Ansible. *But*, I did some research, and maybe what I invision is actually implementable with current Ansible. I'll give it a shot and come back.

Just for the record, I think the requirement "I need shortnames in my inventory" is rather nonsense, as tomorrow another use will come and s

[2020-11-27 10:47] evgeni commented on #1070
Have a look https://github.com/theforeman/foreman-ansible-modules/pull/1080 :)

[2020-11-27 14:17] rcdlinux commented on #1070
Hey evgeni++

I completely agree with you, if we could have this kind of changes templateable will be very useful! My insistence was because we didn't have any way to do it and the customer was maintaining a separated code for that and accounting us! I guess it can be useful for anyone who wants to use Foreman inventory short names like this customer ... ;-)

Now, they will have a way to do it and

[2020-12-01 07:49] #1073 closed, assigned to nobody

[2020-12-03 10:57] #1070 closed, assigned to nobody

[2020-12-04 17:37] nixfu opened #1087 "content_view_version does not allow creating version numbers > 4 digits, even though katello accepts any valid integer"
##### SUMMARY
When publishing a new content view version, and you provide a version number you want it created as, it will not accept more than 4 digits.

I have used versions such as 20201201 in katello for quite a while via hammer and the API.

Something in the collection code is rejecting creating content views with anything more than 4 digit version numbers.

##### ISSUE TYPE
 - Bug Report

##

[2020-12-05 21:06] evgeni commented on #1087
Can you try using adding ".0" to your version string? Like "20201201.0"?

[2020-12-08 10:49] evgeni commented on #1045
`login` is unique, while `name` is not, so that's what we use.

documentation update in https://github.com/theforeman/foreman-ansible-modules/pull/1089

[2020-12-08 11:24] bertelsp opened #1090 "kickstart_repository (field "synced content") is not correctly set when creating a host via the ansibel module redhat.satellite.host"
##### SUMMARY
Using the ansible module redhat.satellite.host to create a host on our Satellite server it seems the selected kickstart_repository is not correctly set in field "synced content" (although it is correctly set in the playbook). The field on the satellite host remains gray.
When trying to kickstart the host anyway the URL refers to a library URL instead to a lifecycle environment URL.
W

[2020-12-08 13:46] evgeni commented on #1087
So yea, I can only reproduce that when I omit the ".0" from the version string.

[2020-12-08 14:02] evgeni commented on #1090
can you try setting the `content_source` parameter too? something like `content_source: capsule_server` should do it

[2020-12-08 14:42] bertelsp commented on #1090
The host group I'm using in my playbook is normally setting the content_source.
But I tried setting the "content_source: capsule_server" anyway.
Result: no difference, the field "synced content" on my satellite server host definition remains empty.

[2020-12-08 15:02] evgeni commented on #1090
Thanks for trying! Was worth a shot. I'll see if we can repro this and *why* it happens.

[2020-12-08 15:40] evgeni commented on #1090
just for clarification, if you edit the host in the UI, the only thing you need to set to get a working host is the "synced content" thing?

[2020-12-08 15:52] evgeni commented on #1079
triage:
* re-run but don't look at controllers that only have GET routes.
* also look at foreman 2.3/ katello 3.18 etc

[2020-12-08 16:15] #1045 closed, assigned to nobody

[2020-12-09 11:26] #1087 closed, assigned to nobody

[2020-12-11 09:52] evgeni commented on #1079
script and result updated, the 2.3 apidoc didn't yield any changes in regard to stats/trends on itself, as those are still there, but documented as "deprecated" and "you need a plugin now"

[2020-12-11 10:17] mdellweg commented on #1079
I don't think we need to consider the bulk actions, because ansible can take care of the looping pattern here.

[2020-12-11 13:30] ehelms commented on #1079
Here are my thoughts on the Katello section.

katello:
  - [x] content_view_components: handled by content_view module [example](https://github.com/theforeman/foreman-ansible-modules/blob/develop/plugins/modules/content_view.py#L122)
  - [x] content_view_puppet_modules: goes away in Katello 4.0, suggest do not implement
  - [x] foreign_input_sets: templates related, not specific to Katello
  - [ ]

[2020-12-11 14:46] ehelms commented on #645
Given we now have roles present following a naming convention, I propose we close this issue.

[2020-12-11 14:48] ehelms commented on #646
I think https://github.com/theforeman/foreman-ansible-modules/issues/646#issuecomment-608480355 would be good to put against https://github.com/theforeman/foreman-ansible-modules/issues/644

As for this issue, now that we have some roles, I feel like we could add any of these "guidelines" to the README and close this out.

[2020-12-11 14:50] SimonLorentz opened #1095 "Host creation with multiple interfaces fails"
##### SUMMARY

If I try to deploy a new host with two or more interfaces with the FA host module I get an error

##### ISSUE TYPE
 - Bug Report

##### ANSIBLE VERSION

[code]

##### COLLECTION VERSION

[code]

##### KATELLO/FOREMAN VERSION

[code]

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

A new Centos 7 VM within Foreman with 2 Interfaces

##### ACTUAL RESULTS

[code]

[2020-12-12 14:56] evgeni commented on #1095
Thanks for the report!

My best guess would be the `domain` entry in the second nic definition, can you please try without?

Definitely a bug we need to fix.

[2020-12-12 15:50] evgeni commented on #1095
After looking at the code once more, it's probably the subnet, not the domain.

We wrongly mark it as already looked up (resolved) because both nics have a subnet set and we only look up the first.

[2020-12-12 15:55] evgeni commented on #1095
You can try removing this line and see if it helps, but it also might totally break other things.

https://github.com/theforeman/foreman-ansible-modules/blob/db4458e8a910cb8fa22c03ea8ca22e53333ca914/plugins/module_utils/foreman_helper.py#L840

I'll have to properly reproduce and fix that on Monday.

[2020-12-12 15:58] SimonLorentz commented on #1095
Thanks for your fast reply, I tried it also without the domain. If I don´t set a subnet or only use 1 interface it works, but probably it won´t assign the right subnet to the right nic

[2020-12-12 16:04] SimonLorentz commented on #1095
Okay I just tried your suggestion, but than I get the error, that he can´t find my subnet anymore

[2020-12-14 08:23] evgeni commented on #1095
Okay, this should probably work better:

[code]

[2020-12-14 09:18] SimonLorentz commented on #1095
Hi Evgeni, thanks for the fix, works fine for me

[2020-12-14 10:22] #1095 closed, assigned to evgeni

[2020-12-14 21:10] mpl241 opened #1099 "resource_info sync missing repository_id parameter"
##### SUMMARY
When using theforeman.foreman.resource_info to retrieve sync information (resource: sync), ansible-playbook returns error:

fatal: [localhost]: FAILED! => {"ansible_facts": {"discovered_interpreter_python": "/usr/bin/python"}, "changed": false, "msg": "Failed to list resource: KeyError: \"missing param 'repository_id' in parameters\""}

##### ISSUE TYPE
 - Bug Report

##### ANSIBLE V

[2020-12-15 07:02] evgeni commented on #1099
You can provide the `repository_id` using the [`params` option of the `resource_info` module](https://theforeman.github.io/foreman-ansible-modules/develop/plugins/resource_info_module.html#parameter-params)

So smth like this:

[code]

[2020-12-15 14:44] mpl241 commented on #1099
@evgeni,
  Thanks for the quick reply.  I was 100% sure I tried to put `repository_id` into `param`, but it didn't work.  The only documented parameters I found under `params` was `organization_id`.  In any case, I get another error when placing `repository_id` in `params`:

[code]
If I use a `resource_id` that does not exist, I get a different error:
[code]

  Thanks for your help.  I am still fi

[2020-12-15 14:49] evgeni commented on #1099
Maybe the docs are miss-leading here, I'll have a look - you can put any param in there that the API expects.

The call with the right id seems to work correctly, but the module fails to parse the reponse. I'll have a look why.

[2020-12-15 15:10] evgeni commented on #1099
Could you try applying the following patch and showing me what the result looks like for you?

[code]

[2020-12-15 15:42] mpl241 commented on #1099
@evgeni,
  Patch applied:
[code]
No error this time, but the variable registered with the task is empty.
[code]

[2020-12-15 15:49] evgeni commented on #1099
Thanks for trying. Yeah, I feared that. Had the same result in my env, but wasn't sure if that's the API or my rather broken env.

You could try looking at the `repositories` resource (and passing `id: ...` in params), that also has details about the last sync?

[2020-12-16 08:08] evgeni commented on #1099
Anything we can do to make it less frustrating? Where (besides this issue) were your problems?

The real problem is (and also was in cvmanager) that a synced repository does not imply changed content. cvmanager has some hacky code that tries to find the sync task and then parse the output of that, but it was so clumsy (and not reliable) that we decided not to port that over to FAM.

[2020-12-16 09:37] evgeni commented on #645
agreed

[2020-12-16 09:37] #645 closed

[2020-12-16 10:01] mdellweg commented on #1099
If the information is there, but not accessible, we could try to provide filters to compile interesting information.

[2020-12-16 11:36] evgeni commented on #1079
thanks Eric, I've updated the Katello ones, but didn't add the tasks/rex split, as we don't have an apidoc that would have these features w/o katello

[2020-12-16 15:23] piascwal opened #1103 "Idempotence not working in Foreman 1.12.4 when using parameters attributes"
##### SUMMARY
Idempotence not working in Foreman 1.12.4 when using parameters attributes in theforeman.foreman.host Ansible module

##### ISSUE TYPE
 - Bug Report

##### ANSIBLE VERSION

[code]

##### COLLECTION VERSION

[code]

##### STEPS TO REPRODUCE
Foreman version 1.12.4

[code]

##### EXPECTED RESULTS
Idempotence on seconde execution

##### ACTUAL RESULTS

The first execution is working but

[2020-12-16 16:28] mpl241 commented on #1099
@evgeni ,
  Actually, yes, I am able to get package count from `repositories`, so I don't think I need any `sync` info.  It looks like I can also get package counts from `content_view_versions` too, so I think I have what I need to perform conditional `publishes`.

  Regarding the documentation referencing the API, I was not sure what API I should be looking at.  Maybe being more explicit about wh

[2020-12-16 16:50] mpl241 commented on #1099
@evgeni
  The code in cvmanager for finding repository changes worked well in my environment even if it was "hacky".  The alternatives were manually publishing content views when changes are made or always publishing every content view regardless if a change is made.  I was fortunate the hacky code in cvmanager allowed us to only publish when necessary.

  What is frustrating is having to reimplem

[2020-12-17 14:10] SimonLorentz opened #1104 "Automatically match network_name to network_id for the deployement of new VM´s on VMWare"
##### SUMMARY

If I deploy a new Host over Foreman on my VMWare Cluster, with the host FAM, I need to manually check the correct network_id for my network or otherwise Foreman will always show a wrong network in the VM´s Interface tab.

Should be nearly the same like: https://github.com/theforeman/foreman-ansible-modules/issues/1041
##### ISSUE TYPE
 - Feature Idea

Automatically lookup the correc

[2020-12-17 14:57] evgeni commented on #1104
I wanted to say it is a duplicate #1041, but that is about the compute profile, while here you're talking about hosts. But yeah, once implemented it can be applied in both modules

[2020-12-17 19:00] mpl241 commented on #1099
@evgeni , @mdellweg
  The logic I thought I can use to detect updates to repositories does not work because content view counts (package counts, errata counts, etc) are not accurate and may not match the repository counts.  I am looking for other ways to detect repository changes, but at this point, I must decide between manually publishing content views when there are changes or always publish co

[2020-12-18 09:31] evgeni commented on #1103
I hope you mean 1.*21*.4, not 1.*12*.4? ;-)

`parameter_type` was new in 1.22, so not sure why it wouldn't work on 1.24, but I'll try to repro.

[2020-12-18 09:42] evgeni commented on #1103
the traceback you post should be fixed by

[code]

[2020-12-18 09:52] evgeni commented on #1103
Oh wait, right. 1.21! That's before 1.22 where this was introduced. Then yeah, the above patch should help you.

But please keep in mind, that version is not supported anymore.

[2020-12-18 10:46] piascwal commented on #1103
Hi @evgeni,
Thanks for your answer, but unfortunately I'm actually  talking about version 1.12.4.

The Foreman team is currently upgrading to version 2.0.1
So I have to find a way to call the APIs on both versions during the migration.

I tested your solution, however I got a new error after.

I cannot modify an existing parameter.
I get the following error:

fatal: [my_vm]: FAILED! => {"changed":

[2020-12-18 11:07] evgeni commented on #1103
I'm afraid 1.12 is a bit too old for those modules and I have no idea what API differences are between then and now.

Could you provide us with the output of `ansible-playbook playbook.yaml --check --diff` with the above patch applied? I'd like to see why it tries to create a new parameter instead of updating the existing one.

[2020-12-18 13:50] piascwal commented on #1103
When i use ```--check --diff``` it seems to be OK.

If I keep the same parameters:
[code]

If I change a parameter valuer:

[code]

But when I remove ```--check --diff``` :

[code]

[2020-12-18 14:00] evgeni commented on #1103
Yeah, `--check` does a dry run, it doesn't actually change things in Foreman.

Where is that `bar3` coming from? Your playbook above has only `bar2`. Is that the value that's set on the host today, or is that something inherited, or a default from somewhere?

Edit: ah, re-reading your post, you changed it.

[2020-12-18 14:40] piascwal commented on #1103
You can read it like :
[code]

It's because I did lot of tests, adding, removing, modifying. and I past the wrong output.

[2020-12-21 08:42] eleanorcuallado opened #1108 "Changing the organization/location of existing hosts"
##### SUMMARY
It seems to me there is, to this day, no way to change the organization and location of a pre-existing host when updating it via the module, forcing the use of an API call via get-url when trying to do said operation. From what I gathered from the code, the "organization" and "location" parameters in host are filters and not parameters to modify.

It feels to me it wouldn't be too co

[2020-12-21 09:24] evgeni commented on #1108
Actually, this was recently fixed in https://github.com/theforeman/foreman-ansible-modules/pull/1092, but that's not part of a release yet.

[2020-12-21 18:02] willtome opened #1109 "organizations role"
##### SUMMARY
Role for creating/managing organizations via variables.
(eg. https://github.com/redhat-cop/tower_configuration/tree/devel/roles/organizations)

##### ISSUE TYPE
 - Feature Idea

[2020-12-21 18:03] willtome opened #1110 "lifecycle environments role"
##### SUMMARY
role for managing lifecycle environments with variables

##### ISSUE TYPE
 - Feature Idea

[2020-12-21 18:07] willtome commented on #644
Here is an example of configuration roles that work really well (https://github.com/redhat-cop/tower_configuration)
Here is an example of using roles + variables to define configuration (https://github.com/redhat-cop/agnosticd/blob/f9801a0aa9386d0f70290fc295a65ed620f45ab1/ansible/configs/smart-management/sample_vars_patching.yml#L389)

[2020-12-21 18:09] willtome opened #1111 "content view role"
##### SUMMARY
role for managing content views as variables

##### ISSUE TYPE
 - Feature Idea

[2020-12-22 00:40] ehelms commented on #1110
Fixed by https://github.com/theforeman/foreman-ansible-modules/pull/1113

[2020-12-22 08:23] eleanorcuallado commented on #1108
Oh thanks! Guess I didn't check the pull requests ^^"

It'll be part of the next release then?

[2020-12-22 09:05] evgeni commented on #1108
That's the plan, yeah.

You can also patch your current install (only the change to `plugins/module_utils/foreman_helper.py` is required) or build yourself a snapshot release by cloning the repo and calling `make dist`.

[2020-12-22 09:13] evgeni commented on #1109
I must say, I personally am a big opponent of multi-org setups as they are hard to manage and get right. And thus would like to avoid making such setups too easy to create. Won't block on my opinion, but would like y'all to think about it :)

[2020-12-22 10:26] evgeni commented on #1090
So I tried to reproduce this, and couldn't. The created host had a "synced content" KS as desired.

Here is the playbook I used

[code]

[2020-12-22 10:41] evgeni commented on #1090
Is the KS repository you're trying to set in the Lifecycle Environment/Content View you assign?

[2020-12-22 10:45] evgeni commented on #1090
Or maybe the `operatingsystem` you set doesn't have one attached for some reason?

[2020-12-22 10:48] evgeni commented on #1090
Okay, yeah, setting `operatingsystem: RedHat 7.9` while my system has no 7.9 kickstart synced results in the following:

![Screenshot from 2020-12-22 11-47-52](https://user-images.githubusercontent.com/94284/102880414-8df7df00-444b-11eb-91c1-356f5bde8168.png)

does that match what you see?

[2020-12-22 13:06] ehelms commented on #1109
Are you saying you would opt for no organization role or just not a role that allows multiple orgs in one data structure to be defined?

[2020-12-22 13:39] eleanorcuallado commented on #1108
Okay, thanks a lot!

[2020-12-22 13:39] #1108 closed, assigned to nobody

[2020-12-22 13:49] evgeni commented on #1109
I'd go with no org role, as having one that just proxies the module seems also weird?

[2020-12-22 14:12] ehelms commented on #1109
Saves the user from having to write their own role to handle organization creation and can just import one. By not providing a role, I do not think we are necessarily preventing users from using multi-org, and making it harder for them does not mean they will avoid it. I do tend to think that a single org based role makes sense given that everything is scoped on organization.

[2020-12-22 14:36] evgeni commented on #1099
The code in cvmanager that decides whether a CV needs publishing is here: https://github.com/RedHatSatellite/katello-cvmanager/blob/847da1d375363411457371dfa0ba7321f747552f/cvmanager#L391-L478 -- almost 100 lines of code ;)

Let's dig into that.

First, it tries to find the timestamp a given CV was last published, this is done as follows:
1. look at the latest published version and take it's `publ

[2020-12-22 14:36] wbclark commented on #1109
That may be true but for some users they are unavoidable (manifests tied to separate accounts, etc). More to the point: Katello provides organizations, RBAC, and so on for these users; my opinion is we should provide the tools to manage them.

[2020-12-22 15:10] ehelms opened #1117 "Set common role variables in existing roles to `default(omit)` to allow use of environment variables"
##### SUMMARY
The initial set of roles added often did not include omitting things like username by default to allow the use of environment variables. This issue is to systematically fix that among the existing roles.

##### ISSUE TYPE
 - Bug Report

[2020-12-22 18:18] mpl241 commented on #1099
@evgeni
  I have logic in my playbook/role for comparing the last `repository` update and the last `composite content view` update.  This is an important check because I have the same `component` defined in multiple `composite content views`.  I don't want to trigger a `publish` every time I check a `composite content view`.  You can get the `last_sync.updated_at` variable by retrieving the list o

[2020-12-22 18:39] mpl241 commented on #1099
@evgeni
  To take it a step further, I use a counter to keep track of how many `repositories` have a `last_sync` time after the content view version `updated_at` time.
[code]
  I then check the `repo_newer` variable when running the task that `publishes` the `composite content view`.

Regards
Matthew LeSieur

[2020-12-22 19:17] willtome opened #1118 "Role Variable Prefix"
##### SUMMARY
This issue is to open the discussion around variable naming convention for roles. Currently, "generic" variable names are used (eg. `server_url`, `username`, `manifest`, etc). This could lead to conflicting variables during runtime between other roles, facts, or extra_vars. I propose roles use variables with the prefix `foreman_` to "namespace" vars used by these roles.

Current stat

[2020-12-22 19:18] willtome commented on #646
#1117 and #1118

[2020-12-22 19:54] willtome opened #1119 "Repository Sync Role"
##### SUMMARY
Role to conduct a repository sync. Currently I see roles for enabling repositories and creating a sync plan but this issue is for functionality to do an on-demand sync. Example implementation here (https://github.com/redhat-cop/agnosticd/blob/development/ansible/roles/satellite-manage-repositories/tasks/version_6.x.yml)

I don't know if this would be best to add to existing role or c

[2020-12-22 20:59] wbclark commented on #1119
We originally discussed incorporating repository sync into the repositories role but decided to keep the roles more modular (for that same reason, we also split sync_plans out into a separate role). A standalone role for syncing repositories would be a welcome contribution.

[2020-12-23 09:32] evgeni commented on #1109
I'd argue that one doesn't need a role to use a module, and you'd have to write a playbook either way, so the writing would be identical (if we do a single-org role).

But then again, the Installer already creates an Org for us… ;)

We do provide the module.

That all said, I won't refuse to have a role, even a multi-org one, just saying this is inviting the users to the wrong workflow.

[2020-12-24 06:03] evgeni commented on #1090
One more thought: if it's CV/LCE, we can easily enforce those when searching for the KS repo and yield an appropriate error if it's not found.

But I am not sure how to do the same for the OS.

[2020-12-29 19:22] ezr-ondrej commented on #912
IMHO it is working, because the Apache module in foreman is enabled behind setting tu support this. We even enable usage of coockie in API, so we can have browser-like login experience. We are missing negotiate in hammer, but apart of that it should work, so it should already be possible to do here :thinking:

[2021-01-05 09:37] evgeni opened #1121 "[RFC] dedicated info modules"
##### SUMMARY

Today we have `resource_info`, to fetch information about resources from the API, but using it is cumbersome, especially when it comes to "knowing which parameters the API requires".

As mentioned at some point in the past (quite some time ago), it would be beneficial to have dedicated info modules instead. So if the user needs details about a repository, they call `repository_info`

[2021-01-07 07:33] fgoebel opened #1123 "[foreman-ansible-plugin] assign ansible roles to hostgroups"
##### SUMMARY
I am about to create our hostgroups via these ansible-modules, but I can not find any way to assign ansible-roles to hostgroups/hosts.
Searching around in community.foreman.com i found this question https://community.theforeman.org/t/no-api-available-for-attaching-ansible-roles-with-a-hostgroup-in-foreman-v2-1/21550
Unfortunately I have no experience with ruby-programming at all..

M

[2021-01-07 09:35] fgoebel commented on #1104
Thank you very much for providing that example snipped. I would have get this to work, but it devinetly would have taken more time!

[2021-01-07 13:39] evgeni opened #1124 "role documentation guidelines"
##### SUMMARY

We discussed in last triage, that it'd be good to have guidelines how to document roles, given they tend to have a standalone README.md instead of docs generated from metadata.

Today we use the README as produced by `ansible-galaxy init` minus a few fields that are redundant in a collection context (authors, license).

We can either add such a template to our docs verbatim, or docu

[2021-01-07 14:08] gearboxscott opened #1125 "content_view_version_cleanup role is not removing X number of unused content views"
##### SUMMARY
Using the `content_view_version_cleanup` role in a project:

[code]

The above finds the content view in the output from ansible but the unused versions are not removed.

##### ISSUE TYPE
 - Bug Report

##### ANSIBLE VERSION

[code]

##### COLLECTION VERSION

[code]

##### KATELLO/FOREMAN VERSION

[code]

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
expected to look in sa

[2021-01-07 15:02] evgeni commented on #1099
I have opened https://projects.theforeman.org/issues/31590 to get the data from the source. Won't help today, but at least in the future :)

[2021-01-07 15:24] mpl241 commented on #1099
@evgeni
  Excellent, thanks!  Having Foreman indicate when a `repository` last changed verses the last sync would be ideal.  Unfortunately, I am using Satellite (6.8), so it may be months (years?) before I ever see the change.  It is a step in the right direction though.

  In the mean time, I am using a hacky workaround to my problem.  I use `cvmanager` to only `publish` repositories when a chang

[2021-01-07 15:30] evgeni commented on #1099
Yeah, I don't expect cvmanager to *break* anytime soon. (The only known issue is with CCVs that have their components set to "latest", but that is buggy since Satellite 6.3 or whenever that feature was introduced).

I just don't want to maintain it *if* anything happens ;)